<header class="navbar navbar-expand-lg navbar-dark bg-dark" id="i2eHeader">
    <div class="container">
        <a class="navbar-brand" href="{{nciHome}}" title="National Cancer Institute IMPAC II Extension Suite (I2E)" target="_blank"></a>
        <div class="appName">Funding Selections</div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapse" aria-controls="headerCollapse" aria-expanded="false" aria-label="toggle header links">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="headerCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <span class="navbar-text">{{ loggedOnUser?.fullName }}</span>
                </li>
                <li class="nav-item">
                    <div ngbDropdown>
                        <a class="nav-link" id="docs-dropdown" ngbDropdownToggle aria-haspopup="true">
                            <i class="fas fa-book mr-1" aria-hidden="true"></i>Docs
                        </a>
                        <div ngbDropdownMenu aria-labelledby="docs-dropdown" class="dropdown-menu-right">
                            <a ngbDropdownItem href="">Example Link 1</a>
                            <a ngbDropdownItem href="">Example Link 2</a>
                            <!-- NOTE TO DEVS: This dropdown needs to populate with links specific to each app using the <a> template above. -->
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown>
                        <a class="nav-link" id="docs-dropdown" ngbDropdownToggle aria-haspopup="true">
                            <i class="fas fa-question-circle mr-1" aria-hidden="true"></i>Help
                        </a>
                        <div ngbDropdownMenu aria-labelledby="docs-dropdown" class="dropdown-menu-right">
                            <a ngbDropdownItem href="">Example Link 1</a>
                            <a ngbDropdownItem href="">Example Link 2</a>
                            <!-- NOTE TO DEVS: This dropdown needs to populate with links specific to each app using the <a> template above. -->
                        </div>
                    </div>
                </li>
                <li class="nav-item change-user" *ngIf="canChangeUser">
                    <lib-change-user></lib-change-user>
                </li>
            </ul>
        </div>
    </div>
</header>