<div class="row">
  <div class="col-12">
    <h2>Funding Plan Information</h2>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">RFA/PA #</th>
        <th scope="col">Concept ID</th>
        <th scope="col">RFA/PA Title</th>
        <th scope="col">Issue Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rfa of rfaDetails; let i = index;">
        <td>
          <a href="{{rfa.nihGuideAddr}}">{{rfa.noticeNumber}}</a>
        </td>
        <td>
          <app-concept-award-tracking [cptId]="rfa.cptId"></app-concept-award-tracking>
        </td>
        <td>{{ rfa.title }}</td>
        <td>
          <app-plan-info-issue-type [rfaDetails]="rfa"></app-plan-info-issue-type>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">

  <div class="col-lg-2 col-sm-6">
    <div class="form-group">
      <label for="fundable-score-range">Fundable Score&nbsp;Range</label>
      <input type="text" readonly class="form-control-plaintext" id="fundable-score-range"
             value="{{planModel.minimumScore}} &ndash; {{planModel.maximumScore}}">
    </div>
  </div>

  <div class="col-lg-2 col-sm-6">
    <div class="form-group">
      <label for="apps-recieved">Applications Received</label>
      <input type="text" readonly class="form-control-plaintext" id="apps-recieved" value="{{ totalApplicationsReceived }}">
    </div>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="apps-proposed">Applications Proposed for&nbsp;Funding</label>
      <input type="text" readonly class="form-control-plaintext" id="apps-proposed" value="{{ totalApplicationsSelected }}">
    </div>
  </div>

  <div class="col-lg-2 col-sm-6">
    <div class="form-group">
      <label for="apps-skipped">Applications Skipped</label>
      <input type="text" readonly class="form-control-plaintext" id="apps-skipped" value="{{ totalApplicationsSkipped }}">
    </div>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="apps-not-considered">Applications Not Considered for&nbsp;Funding</label>
      <input type="text" readonly class="form-control-plaintext" id="apps-not-considered" value="{{ totalApplicationsNotConsidered }}">
    </div>
  </div>

  <div class="col-12">
    <hr>
  </div>
</div>
