<ng-template #canSearchModal let-modal>
  <div class="modal-content">
  <div class="modal-header">
    <span class="modal-title" id="modal-title-hold">{{ title }}</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="d-flex left-float">
        <label for="search_term">Enter CAN Number or Description:&nbsp; </label>
        <input id="search_term" type="text" [(ngModel)]="canSearchTerm"> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary add-margin" (click)="search(true)">Search</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary add-margin" (click)="reset()">Reset</button> &nbsp;&nbsp;
      </div>
<!--      <div class="d-flex">-->
<!--        <div class="form-check ml-auto d-flex">-->
<!--          <input id="show_all_checkbox" type="checkbox" [(ngModel)]="showAll">-->
<!--          <label for="show_all_checkbox">Show All</label>-->
<!--        </div>-->
<!--      </div>-->
      <br/>
      <table class="table table-striped table-bordered budget-info-table mt-3">
        <thead>
        <tr>
          <th scope="col">CAN</th>
          <th scope="col">IC</th>
          <th scope="col">CAN Description</th>
        </tr>
        </thead>
        <tbody style="overflow-y: scroll;">
        <tr *ngFor="let c of canData">
          <td><a href="#" (click)="select($event, c)">{{c.can}}</a></td>
          <td>{{c.canPhsOrgCode}}</td>
          <td>{{c.canDescrip}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('close click')">Close</button>
  </div>
</ng-template>
