<div class="form-group">
  <label for="request-type-select">Request Type <a href="#" (click)="openPdfDoc()">
    <i class="fas fa-question-circle more-info"></i></a></label>
  <ng-select2
    id="request-type-select"
    name="fundingRequestType"
    #fundingRequestType="ngModel"
    [(ngModel)]="selectedValue"
    [allowClear]="true"
    [data]="data"
    required>
  </ng-select2>
  <div
    class="text-danger mt-1"
    *ngIf="!fundingRequestType.valid && (fundingRequestType.touched || parentForm.submitted)">
    Request type is required
  </div>
  <div
    class="text-danger mt-1"
    *ngIf="parentForm.errors?.mustSelectDiversitySupplement">
    You must select Diversity Supplement (includes CURE Supplements) as the request type
  </div>
</div>



