<form #step3form="ngForm" (ngSubmit)="onSubmit($event)" [class.submitted]="step3form.submitted" appPdNameRequired
      appCancerActivityRequired appFundingInformationValidator appFpSetAsideValidator [appOneFundedGrantValidator]="null">
  <div class="row" *ngIf="alerts?.length > 0">
    <div class="col-lg-12">
      <app-alert-billboard [alerts]="alerts"></app-alert-billboard>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex">
      <h2>General Information</h2>
      <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#general-info-collapse" role="button"
         aria-expanded="true" aria-controls="general-info-collapse"></a>
    </div>

    <div class="collapse show col-12" id="general-info-collapse">
      <div class="row">
        <div class="col-lg-6" style="
        padding-left: 0px;">
          <div class="form-group">
            <label for="fp-name">Funding Plan Name</label>
            <input
              name="fundingPlanName"
              #fundingPlanName="ngModel"
              [(ngModel)]="planName"
              type="text"
              id="fp-name"
              class="form-control"
              maxlength="100"
              required>
            <div class="text-danger mt-1"
                 *ngIf="fundingPlanName.errors?.required && (step3form.submitted || step3form.touched)">
              Funding Plan Name is required
            </div>
            <div class="text-danger mt-1"
                 *ngIf="fundingPlanName.errors?.maxlength && (step3form.submitted || step3form.touched)">
              Funding Plan Name can be at most 100 characters
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <lib-pdname-dropdown
              label="Requesting PD"
              [selectedValue]="pdNpnId"
              [broadcast]="true"
              [syncWithCa]="false"
              [filterOnNoActiveCay]="true"
              [activeCayOnly]="true"
              [showInactiveToggle]="false">
            </lib-pdname-dropdown>
            <div class="text-danger mt-1"
                 *ngIf="step3form.errors?.pdNameRequired && (step3form.submitted || step3form.touched)">
              Requesting PD is required
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6" style="
          padding-left: 0px;">
          <app-other-docs-contributing-funds [preSelectedDocs]="planModel?.fundingPlanDto?.otherContributingDocs">
          </app-other-docs-contributing-funds>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <lib-cancer-activities-dropdown
              [selectSingleOption]="true"
              [maxSelection]="1"
              [selectedValue]="cayCode"
              [syncWithPd]="true"
              label="Requesting PD's Cancer Activities"
              [broadcast]="true"
              (selectedValueChange)="onSelectedValueChange($event)">
            </lib-cancer-activities-dropdown>
            <div class="text-danger mt-1"
                 *ngIf="step3form.errors?.cayCodeIsRequired && (step3form.submitted || step3form.touched)">
              Requesting PD's Cancer Activity is required
            </div>
          </div>
        </div>
      </div>


    </div>


    <div class="col-12">
      <hr>
    </div>

  </div><!-- END Row -->

  <app-funding-plan-information [parentForm]="step3form"></app-funding-plan-information>

  <app-fp-funding-information [parentForm]="step3form"></app-fp-funding-information>

  <app-applications-proposed-for-funding
    [parentForm]="step3form"
    (beforeAddFundingSource)="beforeAddFundingSource($event)"
    (beforeEditFundingSource)="beforeEditFundingSource($event)"
    (addFundingSource)="addFundingSource($event)"
    (cancelAddFundingSource)="cancelAddFundingSource()"
    (clearEditFlag)="clearEditFlag()"
    (deleteFundingSource)="deleteFundingSource($event)"
    (recaptureSourceValues)="onRecaptureSourceValues()">
  </app-applications-proposed-for-funding>


  <div class="row">
    <div class="col-12 d-flex">
      <button type="button" class="btn btn-outline-secondary mr-auto" (click)="previous()">Previous</button>
      <button type="submit" class="btn btn-outline-primary mr-2" (click)="saveAsDraft()">Save as Draft</button>
      <button type="submit" class="btn btn-primary" (click)="saveContinue()">Save and Continue</button>
    </div>
  </div>
</form>
