<div class="col-12" *ngIf="previousApprovers && previousApprovers.length>0">
    <h3 id="approver-table-label">Previous Approvers</h3>
    <table class="table table-striped table-bordered next-approvers-table" aria-describedby="approver-table-label">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Official Role</th>
                <th scope="col">Approval Date</th>
                <th scope="col">Approved By</th>
            </tr>
        </thead>
        <tbody pa >
            <tr *ngFor="let a of previousApprovers; let i = index">
                <td><app-approver-name-renderer [approver]="a"></app-approver-name-renderer></td>
                <td>{{ approverRoleName(a)}}</td>
                <td>{{ a.responseDate }}</td>
                <td><a href="mailto:{{a.responderEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{a.responderFullName}}</a></td>
                </tr>
        </tbody>
    </table>
</div>

<div class="col-12" *ngIf="!terminalRequest">
    <h3 id="approver-table-label">Next Scheduled Approvers</h3>
    <table class="table table-striped table-bordered next-approvers-table" aria-describedby="approver-table-label">
        <thead>
            <tr>
                <th scope="col" style="width:4rem">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Official Role</th>
                <th scope="col">Designees</th>
            </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropped($event)">
        <ng-container oa >
            <tr *ngIf="oneApprover">
                <td><span class="fa fa-lock" *ngIf="!readonly"></span>&nbsp;{{ oneApprover.orderNum}}</td>
                <td><app-approver-name-renderer [approver]="oneApprover"></app-approver-name-renderer></td>
                <td>{{approverRoleName(oneApprover)}}</td>
                <td><span *ngFor="let d of oneApprover.designees">
                    <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                    </span></td>
                </tr>
        </ng-container>
        <ng-container aa class="drag-boundary">
            <tr *ngFor="let a of additionalApprovers; let i = index" cdkDrag cdkDragBoundary=".drag-boundary">
                <td><span class="order-icon" ngbTooltip="Drag & Drop to Order"></span>&nbsp;{{ a.orderNum}}</td>
                <td><a href="mailto:{{a.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverFullName }}</a></td>
                <td>{{approverRoleName(a)}}</td>
                <td><span *ngFor="let d of a.designees">
                    <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                    </span>
                    <button class="btn btn-link btn-delete btn-slim" title="Delete" 
                    (click)="deleteAdditionalApprover(i)">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
                </tr>
        </ng-container>
        <ng-container na>
            <tr *ngFor="let a of pendingApprovers; let i = index">
                <td><span class="fa fa-lock" *ngIf="!readonly"></span>&nbsp;{{ a.orderNum}}</td>
                <td><app-approver-name-renderer [approver]="a"></app-approver-name-renderer></td>
                <td>{{approverRoleName(a)}}</td>
                <td><span *ngFor="let d of a.designees">
                <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                </span></td>
            </tr>
        </ng-container>
    </tbody>
    </table>
</div>