<div class="row">
    <div class="col-12" *ngIf="previousApprovers && previousApprovers.length>0">
        <h3 id="approver-table-label">Previous Approvers</h3>
        <table class="table table-striped table-bordered next-approvers-table" aria-describedby="approver-table-label">
            <thead>
                <tr>
                    <th scope="col" style="width:4rem">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Official Role</th>
                    <th scope="col">Designees</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let a of previousApprovers; let i = index">
                    <td><span class="fa fa-lock" *ngIf="!readonly"></span>&nbsp;{{ a.orderNum}}</td>
                    <td><a href="mailto:{{a.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverFullName }}</a></td>
                    <td>{{ a.roleName ? a.roleName : 'Additional Approver (Added by ' + a.assignerFullName +')' }}</td>
                    <td><span *ngFor="let d of a.designees">
                        <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                    </span></td>
                    </tr>
            </tbody>
        </table>
    </div>

    <div class="col-12">
        <h3 id="approver-table-label">Next Scheduled Approvers</h3>
        <table class="table table-striped table-bordered next-approvers-table" aria-describedby="approver-table-label">
            <thead>
                <tr>
                    <th scope="col" style="width:4rem">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Official Role</th>
                    <th scope="col">Designees</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngIf="oneApprover">
                    <td><span class="fa fa-lock" *ngIf="!readonly"></span>&nbsp;{{ oneApprover.orderNum}}</td>
                    <td><a href="mailto:{{oneApprover.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ oneApprover.approverFullName }}</a></td>
                    <td>{{ oneApprover.roleName }}</td>
                    <td><span *ngFor="let d of oneApprover.designees">
                        <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                        </span></td>
                    </tr>
            </tbody>
            <tbody cdkDropList (cdkDropListDropped)="dropped($event)" class="drag-boundary">
                <tr *ngFor="let a of additionalApprovers; let i = index" cdkDrag cdkDragBoundary=".drag-boundary" [cdkDragDisabled]="readonly">
                    <td><span class="order-icon" ngbTooltip="Drag & Drop to Order" *ngIf="!readonly"></span>&nbsp;{{ a.orderNum}}</td>
                    <td><a href="mailto:{{a.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverFullName }}</a></td>
                    <td>Additional Approver (Added by {{a.assignerFullName}})</td>
                    <td><span *ngFor="let d of a.designees">
                        <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                        </span></td>
                    </tr>
            </tbody>
            <tbody >
                <tr *ngFor="let a of pendingApprovers; let i = index">
                    <td><span class="fa fa-lock" *ngIf="!readonly"></span>&nbsp;{{ a.orderNum}}</td>
                    <td><a href="mailto:{{a.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverFullName }}</a></td>
                    <td>{{ a.roleName }}</td>
                    <td><span *ngFor="let d of a.designees">
                    <a href="mailto:{{d.delegateToEmailAddr}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{d.delegateToFullName}}</a><br/>
                    </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>