<ng-template #InstituteTooltip><span class='institutionName'>{{tooltipGrant.orgName}}</span><br>
    <span class='institutionLocation'>{{tooltipGrant.institutionCity}},&nbsp;{{tooltipGrant.institutionState}}</span>
</ng-template>
<div class="row">
    <div class="col-12">
        <h2>Results</h2>
        <p *ngIf="noResult">No results to display. Try applying a filter above and clicking "Search."</p>
        <div [ngStyle]="{display:noResult?'none':'inline'}">
            <table id="grantDt" #grantDt class="dataTable row-border">
                <thead>
                <tr>
                    <th>Grant Number</th>
                    <th>PI</th>
                    <th>Project Title</th>
                    <th>RFA/PA</th>
                    <th>I2 Status</th>
                    <th>PD</th>
                    <th>CA</th>
                    <th>FY</th>
                    <th>NCAB</th>
                    <th>Pctl</th>
                    <th>PriScr</th>
                    <th>Budget Start Date</th>
                    <th>Existing Requests</th>
                    <th>Action</th>
                    <!--    <th>&nbsp;</th> control column for responsive-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let grant of grantList">
                    <td><a href="{{grantViewerUrl+grant.applId}}" target="yourgrant">{{grant.fullGrantNum}}</a>
                        <div class="grant-icons">
                            <a href="{{eGrantsUrl+grant.applId}}" target="yourgrant" ngbTooltip="eGrants">
                                <span class="egrants-icon"></span>
                            </a>
                            <a [routerLink]="" (mouseenter)="setGrant(grant)"  [ngbTooltip]="InstituteTooltip" triggers="click:blur">
                                <i class='fa fa-university' aria-hidden='true'></i>
                            </a>
                        </div>
                    </td>
                    <td><a href="mailto:{{grant.piEmail}}?subject={{grant.fullGrantNum}} - {{grant.lastName}}">{{grant.piFullName}}</a></td>
                    <td>{{grant.projectTitle}}</td>
                    <td>{{grant.rfaPaNumber}}</td>
                    <td>{{grant.applStatusGroupDescrip}}</td>
                    <td><a href="mailto:{{grant.pdEmailAddress}}?subject={{grant.fullGrantNum}} - {{grant.lastName}}">{{grant.pdFullName}}</a></td>
                    <td><a [routerLink]="" ngbTooltip="{{grant.cayCode|codeDescription:'CancerActivities'}}" triggers="click:blur" placement="top">{{grant.cayCode}}</a></td>
                    <td>{{grant.fy}}</td>
                    <td>{{grant.councilMeetingDate|formatNcabDate}}</td>
                    <td>{{grant.irgPercentileNum}}</td>
                    <td>{{grant.priorityScoreNum}}</td>
                    <td>{{grant.budgetStartDate|date:'MM/dd/yyyy'}}</td>
                    <td><span *ngIf="grant.requestCount>0"><a routerLink="/search">{{grant.requestCount}}</a></span></td>
                    <td>
                        [TBD]
                    </td>
                    <!-- <td></td> control column for responsive -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
