<ng-container *ngIf="readOnly; then read_only else edit"></ng-container>

<ng-template #read_only>
  <div class="row">

    <div class="col-12 d-flex">
      <h2>Budget Information</h2>
      <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#budget-info-collapse-ro"
         role="button"
         aria-expanded="true" aria-controls="budget-info-collapse-ro"></a>
    </div>

    <div class="col-12 collapse show mt-2" id="budget-info-collapse-ro">
      <div class="col-6 align-left">
        <app-create-type [readOnly]="true"></app-create-type>
      </div>
      <table class="table table-striped table-bordered budget-info-table">
        <thead>
        <tr>
          <th scope="col">Funding Source</th>
          <th *ngIf="showDirectCosts" scope="col">Approved Direct Cost</th>
          <th scope="col">Approved Total Cost</th>
          <th scope="col">Create Type</th>
          <th scope="col">OEFIA Coding</th>
          <th scope="col">NCI OEFIA Projected CAN</th>
          <th scope="col">
            <div class="d-flex">
              <span>Funds Approver Provided CAN</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let can of fundingRequestCans; let i = index; let first = first">
          <td>{{ can.fundingSourceName }}</td>
          <td *ngIf="showDirectCosts">
            {{ can.approvedDc | currency }} <span *ngIf="first">{{ can.dcPctCut / 100000 | percentCut:initialPay }}</span>
          </td>
          <td>
            {{ can.approvedTc | currency }} <span *ngIf="first">{{ can.tcPctCut / 100000 | percentCut:initialPay }}</span>
          </td>
          <td>{{ can.oefiaCreateCode }}</td>
          <td>
            <app-oefia-types
              [index]="i"
              [selectedValue]="can.octId"
              [readonly]="true">
            </app-oefia-types>
          </td>
          <td>
            <app-projected-can [index]="i" [fseId]="can.fseId" [octId]="can.octId"></app-projected-can>
          </td>
          <td>
            <app-can-selector
              [index]="i"
              [nciSourceFlag]="can.nciSourceFlag"
              [selectedValue]="can.can"
              [initialCAN]="can"
              [fseId]="can.fseId"
              [readonly]="true">
            </app-can-selector>
            <div class="d-flex align-items-center">

              <span *ngIf="nonDefaultCan(i)" class="btn btn-link btn-slim btn-link-warning" title="Non-default CAN"
                    role="alert">
                                <i class="far fa-exclamation-circle" aria-hidden="true"></i>
                            </span>
              <span *ngIf="duplicateCan(i)" class="btn btn-link btn-slim btn-link-warning" title="Duplicate CANs"
                    role="alert">
                                <i class="far fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


    </div><!-- END col-12 collapse -->

  </div><!-- END Row -->
</ng-template>

<ng-template #edit>
  <app-can-search-modal></app-can-search-modal>
  <div class="row">
    <div class="col-12 d-flex">
      <h2>Budget Information</h2>
      <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#budget-info-collapse" role="button"
         aria-expanded="true" aria-controls="budget-info-collapse"></a>
    </div>

    <div class="col-12 collapse show mt-2" id="budget-info-collapse">
      <div><p>Please provide the CAN only if known at the time of approval.</p></div>
      <div class="col-6 align-left" *ngIf="model.isAddFunds() && (isFcNci())">
        <app-create-type></app-create-type>
      </div>
      <table class="table table-striped table-bordered budget-info-table">
        <thead>
        <tr>
          <th scope="col">Funding Source</th>
          <th scope="col" *ngIf="showDirectCosts">Approved Direct Cost</th>
          <th scope="col">Approved Total Cost</th>
          <th scope="col" [hidden]="!(isFinancialApprover() && isFcNci())">OEFIA Coding</th>
          <th scope="col" *ngIf="canSeeAtLeastOneCAN()">NCI OEFIA Projected CAN</th>
          <th scope="col" *ngIf="canEnterAtLeastOneCAN();">
            <div class="d-flex">
              <span>Funds Approver Provided CAN</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let can of fundingRequestCans; let i = index; let first = first">
          <td>{{can.fundingSourceName}}</td>
          <td *ngIf="showDirectCosts">
            {{ can.approvedDc | currency }} <span *ngIf="first">{{can.dcPctCut / 100000 | percentCut:initialPay}}</span>
          </td>
          <td>
            {{ can.approvedTc | currency }} <span *ngIf="first">{{can.tcPctCut / 100000 | percentCut:initialPay}}</span>
          </td>
          <td [hidden]="!(isFinancialApprover() && isFcNci())">
            <app-oefia-types
              [index]="i"
              [selectedValue]="can.octId || can.defaultOefiaTypeId">
            </app-oefia-types>
          </td>
          <td *ngIf="canSeeAtLeastOneCAN()">
            <ng-container *ngIf="canSee(can.fseId) then PROJECTED_CAN"></ng-container>
            <ng-template #PROJECTED_CAN>
              <app-projected-can [index]="i" [fseId]="can.fseId"
                                 [octId]="can.octId || can.defaultOefiaTypeId"></app-projected-can>
            </ng-template>
            <ng-template *ngIf="!canSee(can.fseId)">
              <i class="fas fa-skull-crossbones"></i>
            </ng-template>
          </td>
          <td *ngIf="canEnterAtLeastOneCAN()">
            <ng-container *ngIf="canEnter(can.fseId) then CAN_SELECT"></ng-container>
            <ng-template #CAN_SELECT>
              <app-can-selector
                [index]="i"
                [nciSourceFlag]="can.nciSourceFlag"
                [selectedValue]="can.can"
                [initialCAN]="can"
                [fseId]="can.fseId"
                [canRequired]="isCanRequired(can.fseId)">
              </app-can-selector>
              <div class="d-flex align-items-center">
                <button
                  *ngIf="canSearchForCAN(can.fseId)"
                  (click)="searchForCANs(can.fseId, can.nciSourceFlag)"
                  class="btn btn-link btn-slim"
                  ngbTooltip="Search and select from active CANs">
                  <i class="far fa-search" aria-hidden="true"></i>
                </button>

                <button class="btn btn-link btn-slim" *ngIf="showCopyProjectedCan(i)"
                        ngbTooltip="Copy NCI OEFIA Projected CAN"
                        (click)="copyProjectedCan(i)">
                  <i class="far fa-copy" aria-hidden="true"></i>
                </button>
                <span *ngIf="nonDefaultCan(i)" class="btn btn-link btn-slim btn-link-warning" title="Non-Default CAN"
                      ngbTooltip="Non-Default CAN"
                      role="alert">
                <i class="far fa-exclamation-circle" aria-hidden="true"></i>
              </span>
                <span *ngIf="duplicateCan(i)" class="btn btn-link btn-slim btn-link-warning" title="Duplicate CAN"
                      ngbTooltip="Duplicate CAN"
                      role="alert">
                <i class="far fa-exclamation-triangle" aria-hidden="true"></i>
              </span>
              </div>
            </ng-template>
            <ng-template *ngIf="!canSee(can.fseId)">
              <i class="fas fa-skull-crossbones"></i>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- END col-12 collapse -->

  </div><!-- END Row -->
</ng-template>
