<!-- START Grants Management Information -->
<div class="row">
    <div class="col-12 d-flex">
        <h2>Grants Management</h2>
        <a class="collapse-toggle btn btn-link ms-auto" data-bs-toggle="collapse" href="#grants-mgmt-collapse" role="button" aria-expanded="true" aria-controls="grants-mgmt-collapse"></a>
    </div>
</div>
<div class="row collapse show" id="grants-mgmt-collapse">
    <div class="col-12">
        <h4>Action Type: <span class="font-weight-normal">Award</span></h4>
    </div>
    <div class="col-12">
        <form #gmform='ngForm'>
            <table class="table table-striped table-bordered" id="gm-table">
                <thead>
                    <tr>
                        <th scope="col">Grant Number</th>
                        <th scope="col">Primary Specialist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let grant of proposedGrants; let i = index;">
                        <td>
                            <app-full-grant-number-cell-renderer [data]="grant" [eGrantsUrl]="eGrantsUrl" [grantViewerUrl]="grantViewerUrl"></app-full-grant-number-cell-renderer>
                        </td>
                        <td>
                        <div *ngIf="editable; else readonly">
                            <ng-select2
                            id="specialist{{i}}"
                            name="specialist{{i}}"
                            [allowClear]="true"
                            [data] = "specialists"
                            [(ngModel)]= "grant.pfrSpecNpeId"
                            #specialist="ngModel">
                            </ng-select2>
                        </div>
                        <ng-template #readonly>
                            <a href="mailto: {{grant.pfrSpecEmailAddress}}">{{grant.pfrSpecFullName}}</a>
                        </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="row">
    <hr>
</div>
<!-- END Grants Management Information -->
