<!-- BEGIN Funding Plan Information Section -->

<form #parentForm="ngForm">
    <app-funding-plan-information [showPlanName]="true" [readOnly]="true" [parentForm]="parentForm"></app-funding-plan-information>
</form>

<!-- END Funding Plan Information Section -->

<!-- BEGIN Submission Package Section -->

<div class="row" id="submission-package">
    <div class="col-12 d-flex align-items-center">
        <h2>Submission Package</h2>

        <button type="button" class="btn btn-sm ml-auto btn-outline-primary" (click)="openAll()">{{btnLabel}}</button>
        <button type="button" class="btn btn-sm ml-auto btn-outline-primary" (click)="downloadPackage()"><i
                class="far fa-file-pdf mr-1" aria-hidden="true"></i> View Package</button>
    </div>
    <div class="col-12 mt-2">

        <ngb-accordion #a="ngbAccordion" [activeIds]="activeIds">

            <ngb-panel id="cover-panel">
                <ng-template ngbPanelHeader>
                    <app-plan-cover-page></app-plan-cover-page>
                </ng-template>
            </ngb-panel>


            <ngb-panel id="sciRat-panel">
                <ng-template ngbPanelHeader>

                    <div class="d-flex align-items-center">
                        <h3>Scientific Rationale for Supporting the FOA (and) Justification for Each Proposed Application
                        </h3>
                        <div class="doc-details" *ngIf="isSciRatUploaded; else sciRatNotUploaded">
                            {{sciRatDocDto.docFilename}} (Uploaded by <a
                                href="mailto: {{sciRatDocDto.uploadByEmail}}">{{sciRatDocDto.uploadByName}}</a> on
                            {{sciRatDocDto.createDate}}))
                        </div>
                        <ng-template #sciRatNotUploaded>
                            <div class="doc-details">
                                <span class="text-danger">(Required, Not Entered/Uploaded)</span>
                            </div>
                        </ng-template>

                        <div class="doc-buttons" *ngIf="isSciRatUploaded; else sciRatNotUploadedBtn">
                            <button class="btn btn-link btn-slim"
                                (click)="downloadFile(sciRatDocDto.id, sciRatDocDto.docFilename)"><i
                                    class="far fa-eye"></i></button>
                            <button class="btn btn-link btn-link-danger btn-slim"
                                (click)="deleteDoc(sciRatDocDto.id, sciRatDocDto.docType)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                        <ng-template #sciRatNotUploadedBtn>
                            <div class="doc-buttons">
                                <button ngbPanelToggle class="btn btn-sm btn-outline-secondary"
                                    (click)="changeLabel('sciRatNotUploadedBtnId')"><i id='sciRatNotUploadedBtnId'
                                        class="far fa-plus mr-1" aria-hidden="true">Add Document</i></button>
                            </div>
                        </ng-template>
                    </div>

                </ng-template>
                <ng-template ngbPanelContent>
                    <app-plan-file-upload (fileUploadEmitter)="reloadFiles($event)"
                        [templateType]="CR_FUNDING_PLAN_SCIENTIFIC_RPT"></app-plan-file-upload>
                    <div class="row">
                        <div class="col-12">
                            <!-- <app-grant-table [grantList]="selectedGrants" [minScore]="model.minimumScore"
                                [maxScore]="model.maximumScore"></app-grant-table> -->
                            <app-applications-proposed-for-funding-readonly></app-applications-proposed-for-funding-readonly>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="justExc-panel" *ngIf="exceptionGrants && exceptionGrants.length > 0">
                <ng-template ngbPanelHeader>
                    <div class="d-flex align-items-center">
                        <h3>Justification for Exception Application(s)</h3>
                        <div class="doc-details" *ngIf="isExceptionsUploaded; else excNotUploaded">
                            {{exceptionDocDto.docFilename}} (Uploaded by <a
                                href="mailto: {{exceptionDocDto.uploadByEmail}}">{{exceptionDocDto.uploadByName}}</a> on
                            {{exceptionDocDto.createDate}}))
                        </div>
                        <ng-template #excNotUploaded>
                            <div class="doc-details">
                                <span class="text-danger">(Required, Not Entered/Uploaded)</span>
                            </div>
                        </ng-template>

                        <div class="doc-buttons" *ngIf="isExceptionsUploaded; else excNotUploadedBtn">
                            <button class="btn btn-link btn-slim"
                                (click)="downloadFile(exceptionDocDto.id, exceptionDocDto.docFilename)"><i
                                    class="far fa-eye"></i></button>
                            <button class="btn btn-link btn-link-danger btn-slim"
                                (click)="deleteDoc(exceptionDocDto.id, exceptionDocDto.docType)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                        <ng-template #excNotUploadedBtn>
                            <div class="doc-buttons">
                                <button ngbPanelToggle class="btn btn-sm btn-outline-secondary"
                                    (click)="changeLabel('excNotUploadedBtnId')"><i id='excNotUploadedBtnId'
                                        class="far fa-plus mr-1" aria-hidden="true">Add Document</i></button>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <app-plan-file-upload (fileUploadEmitter)="reloadFiles($event)"
                        [templateType]="CR_FUNDING_PLAN_EXCEPTION_JUST_RPT"></app-plan-file-upload>
                    <div class="row">
                        <div class="col-12">
                            <app-docs-grant-table [grantList]="exceptionGrants"></app-docs-grant-table>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="justSkip-panel" *ngIf="skipGrants && skipGrants.length > 0">
                <ng-template ngbPanelHeader>
                    <div class="d-flex align-items-center">
                        <h3>Justification for Skipped Application(s)</h3>
                        <div class="doc-details" *ngIf="isSkipUploaded; else skipNotUploaded">
                            {{skipDocDto.docFilename}} (Uploaded by <a
                                href="mailto: {{skipDocDto.uploadByEmail}}">{{skipDocDto.uploadByName}}</a> on
                            {{skipDocDto.createDate}}))
                        </div>
                        <ng-template #skipNotUploaded>
                            <div class="doc-details">
                                <span class="text-danger">(Required, Not Entered/Uploaded)</span>
                            </div>
                        </ng-template>

                        <div class="doc-buttons" *ngIf="isSkipUploaded; else skipNotUploadedBtn">
                            <button class="btn btn-link btn-slim"
                                (click)="downloadFile(skipDocDto.id, skipDocDto.docFilename)"><i
                                    class="far fa-eye"></i></button>
                            <button class="btn btn-link btn-link-danger btn-slim"
                                (click)="deleteDoc(skipDocDto.id, skipDocDto.docType)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                        <ng-template #skipNotUploadedBtn>
                            <div class="doc-buttons">
                                <button ngbPanelToggle class="btn btn-sm btn-outline-secondary"
                                    (click)="changeLabel('skipNotUploadedBtnId')"><i id='skipNotUploadedBtnId'
                                        class="far fa-plus mr-1" aria-hidden="true">Add Document</i></button>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <app-plan-file-upload (fileUploadEmitter)="reloadFiles($event)"
                        [templateType]="CR_FUNDING_PLAN_SKIP_JUST_RPT"></app-plan-file-upload>
                    <div class="row">
                        <div class="col-12">
                            <app-docs-grant-table [grantList]="skipGrants"></app-docs-grant-table>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="other-panel">
                <ng-template ngbPanelHeader>
                    <div class="d-flex align-items-center">
                        <h3>Other Supporting Document</h3>
                        <div class="doc-details" *ngIf="isOtherUploaded; else othNotUploaded">
                            {{otherDocDto.docFilename}} (Uploaded by <a
                                href="mailto: {{otherDocDto.uploadByEmail}}">{{otherDocDto.uploadByName}}</a> on
                            {{otherDocDto.createDate}}))
                        </div>
                        <ng-template #othNotUploaded>
                            <div class="doc-details">
                                (Optional)
                            </div>
                        </ng-template>

                        <div class="doc-buttons" *ngIf="isOtherUploaded; else othNotUploadedBtn">
                            <button class="btn btn-link btn-slim"
                                (click)="downloadFile(otherDocDto.id, otherDocDto.docFilename)"><i
                                    class="far fa-eye"></i></button>
                            <button class="btn btn-link btn-link-danger btn-slim"
                                (click)="deleteDoc(otherDocDto.id, otherDocDto.docType)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                        <ng-template #othNotUploadedBtn>
                            <div class="doc-buttons">
                                <button ngbPanelToggle class="btn btn-sm btn-outline-secondary"
                                    (click)="changeLabel('othNotUploadedBtnId')"><i id='othNotUploadedBtnId'
                                        class="far fa-plus mr-1" aria-hidden="true">Add Document</i> </button>
                            </div>
                        </ng-template>

                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <app-plan-file-upload (fileUploadEmitter)="reloadFiles($event)" [templateType]="Other">
                    </app-plan-file-upload>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="summary-panel">
                <ng-template ngbPanelHeader>
                    <app-plan-summary-statement [grantList]="selectedGrants"></app-plan-summary-statement>
                </ng-template>
            </ngb-panel>

        </ngb-accordion>

        <button #collapseAll [hidden]="true" (click)="activeIds=[]">close all</button>

    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<!-- END Submission Package Section -->

<div class="row">
    <div class="col-12 d-flex">
        <button type="button" class="btn btn-outline-secondary mr-auto" (click)="prevStep()">Previous</button>
        <button type="button" class="btn btn-primary" (click)="nextStep()">Save and Continue</button>
    </div>
</div>
