<ng-container [ngModelGroup]="'prc_' + grantIndex + '_' + sourceIndex">
  <div class="btn-group btn-group-toggle btn-group-sm btn-group-block mb-2" ngbRadioGroup name="displayType"
       [(ngModel)]="displayType">
    <label ngbButtonLabel class="btn-outline-secondary">
      <input
        [id]="'dollar_' + grantIndex + '_' + sourceIndex"
        name="dollar"
        ngbButton
        type="radio"
        value="dollar">Dollar
    </label>
    <label ngbButtonLabel class="btn-outline-secondary" *ngIf="!lockDollar">
      <input
        [id]="'percent_' + grantIndex + '_' + sourceIndex"
        name="percent"
        ngbButton
        type="radio"
        value="percent">% Cut
    </label>
  </div>

  <ng-container *ngIf="!!displayType then typeSelected else blank"></ng-container>

  <ng-template #blank>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.submitted && required">
      Please enter direct and total cost or percent cut for each selected application
      <input type="hidden" [ngModel]="dummy" name="noData" required>
    </div>

  </ng-template>

  <ng-template #typeSelected>
    <ng-container *ngIf="displayType === 'percent'; then percentCutVw else dollarValues"></ng-container>
  </ng-template>

  <ng-template #dollarValues>
    <div class="form-row">
      <div class="form-group col-6 mb-2">
        <label [attr.for]="'dc_' + grantIndex + '_' + sourceIndex">Direct Cost</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            class="form-control"
            [id]="'dc_' + grantIndex + '_' + sourceIndex"
            (change)="recalculate()"
            [name]="'directCost'"
            #dcInput="ngModel"
            [(ngModel)]="directCost"
            [required]="required">
        </div>
      </div>
      <div class="form-group col-6 mb-2">
        <label [attr.for]="'tc_' + grantIndex + '_' + sourceIndex">Total Cost</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            class="form-control"
            [id]="'tc_' + grantIndex + '_' + sourceIndex"
            [name]="'totalCost'"
            #tcInput="ngModel"
            (change)="recalculate()"
            [(ngModel)]="totalCost"
            [required]="required">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <div class="input-group input-group-sm input-group-readonly">
          <input
            type="text"
            class="form-control text-right"
            aria-label="Direct Cost Percent Cut"
            readonly
            disabled
            [value]="dcPercentCutCalculated | percent: '1.0-2'">
          <div class="input-group-append">
            <span class="input-group-text">% Cut</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm input-group-readonly">
          <input
            type="text"
            class="form-control text-right"
            aria-label="Total Cost Percent Cut"
            readonly
            disabled
            [value]="tcPercentCutCalculated | percent: '1.0-2'">
          <div class="input-group-append">
            <span class="input-group-text">% Cut</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || dcInput.touched) && dcInput.errors?.required">
      Direct Cost is required
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || tcInput.touched) && tcInput.errors?.required">
      Total Cost is required
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || dcInput.touched) && !isDirectCostInRange()">
      Direct cost must be a numeric value between 0 and 999,999,999
      <input type="hidden" [ngModel]="dummy" [name]="'dc_' + grantIndex + '_' + sourceIndex" required>
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || tcInput.touched) && !isTotalCostInRange()">
      Total cost must be a numeric value between 0 and 999,999,999
      <input type="hidden" [ngModel]="dummy" [name]="'tc_' + grantIndex + '_' + sourceIndex" required>
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || dcInput.touched || tcInput.touched) && !isTotalGreaterThanDirect()">
      Total cost must be greater than or equal to direct cost
      <input type="hidden" [ngModel]="dummy" [name]="'tc2_' + grantIndex + '_' + sourceIndex" required>
    </div>
  </ng-template>

  <ng-template #percentCutVw>
    <div class="form-row">
      <div class="form-group col-6 mb-2">
        <label [attr.for]="'dc_' + grantIndex + '_' + sourceIndex">Direct Cost</label>
        <div class="input-group input-group-sm input-group-readonly">
          <div class="input-group-prepend">
            <span class="input-group-text" [id]="'dc_prepend_' + grantIndex + '_' + sourceIndex">$</span>
          </div>
          <input
            name="readonly"
            type="text"
            class="form-control"
            [id]="'dc_' + grantIndex + '_' + sourceIndex"
            [attr.aria-describedby]="'dc_prepend_' + grantIndex + '_' + sourceIndex"
            readonly
            disabled
            [value]="directCostCalculated | currency">
        </div>
      </div>
      <div class="form-group col-6 mb-2">
        <label [attr.for]="'tc_' + grantIndex + '_' + sourceIndex">Total Cost</label>
        <div class="input-group input-group-sm input-group-readonly">
          <div class="input-group-prepend">
            <span class="input-group-text" [id]="'tc_prepend_' + grantIndex + '_' + sourceIndex">$</span>
          </div>
          <input
            name="readonly"
            type="text"
            class="form-control"
            [id]="'tc_' + grantIndex + '_' + sourceIndex"
            [attr.aria-describedby]="'tc_prepend_' + grantIndex + '_' + sourceIndex"
            readonly
            disabled
            [value]="totalCostCalculated | currency">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="input-group input-group-sm">
          <input
            type="text"
            class="form-control text-right"
            [id]="'pc_' + grantIndex + '_' + sourceIndex"
            [attr.aria-label]="'percent_cut'"
            (change)="recalculate()"
            [name]="'percentCut'"
            [(ngModel)]="percentCut"
            #pcInput="ngModel"
            [required]="required">
          <div class="input-group-append">
            <span class="input-group-text" [id]="'pc_append-' + grantIndex + '_'">% Cut</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || pcInput.touched) && pcInput.errors?.required">
      Percent Cut is required
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="(parentForm.submitted || pcInput.touched) && !isPercentValid()">
      Enter a numeric value between 0 and 100
      <input type="hidden" [ngModel]="dummy" [name]="'pc_' + grantIndex + '_' + sourceIndex" required>
    </div>
  </ng-template>
</ng-container>

