<div class="row">

    <div class="col-12">
        <h2>Program Recommended Costs</h2>
        <p>Please note that the Standard Policy Reduction should be taken into consideration when determining the recommended dollar amounts for the request. If you would like to include a waiver to the Standard Policy Reduction, please provide it as part of the justification. The current fiscal year's policy reductions can be viewed on the <a href="#" class="external-link">OEFIA web site</a>.</p>
    </div>

    <div class="col-12">
        <p>Table goes here...</p>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label for="other-docs">Other NCI DOCs Contributing Funds</label>
          <p><app-other-docs-contributing-funds id="other-docs"></app-other-docs-contributing-funds></p>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="form-group">
            <label for="cost-comments">Comments <span class="optional">(optional)</span></label>
            <textarea class="form-control" id="cost-comments" [(ngModel)]="model.requestComments" rows="2" maxlength="1000"></textarea>
            <span class="character-counter">#/1000</span>
        </div>
    </div>
</div>
