<hr>

<div class="row">

  <div class="col-12">
    <h2>Program Recommended Costs</h2>
    <div *ngIf="!isSkipRequest()">
      <p><b>Please note that the Standard Policy Reduction should be taken into
        consideration when determining the recommended dollar amounts for the request. If you would like to include a
        waiver to the Standard Policy Reduction, please provide it as part of the justification. The current fiscal
        year's policy reductions can be viewed on the OEFIA web site at the following link: <a
          href="https://mynci.cancer.gov/topics/oefia-current-fiscal-year-funding-information" target="_blank"
          class="external-link">OEFIA web site</a>.</b></p>
    </div>
  </div>

  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped prc-table mb-0">
        <thead>
        <tr>
          <th scope="row">Fiscal Year</th>
          <th scope="col" *ngFor="let ga of grantAwarded">{{ ga.year }}</th>
        </tr>
        <tr *ngIf="showPiCosts()">
          <th scope="row">PI Requested Direct Cost</th>
          <th scope="col" *ngFor="let ga of grantAwarded">{{ ga.requestAmount | currency }}</th>
        </tr>
        <tr *ngIf="showPiCosts()">
          <th scope="row">PI Requested Total Cost</th>
          <th scope="col" *ngFor="let ga of grantAwarded">{{ ga.requestTotalAmount | currency }}</th>
        </tr>
        <tr *ngIf="showAwardedCosts()">
          <th scope="row">Awarded Direct Cost</th>
          <th scope="col" *ngFor="let ga of grantAwarded">{{ ga.directAmount | currency }}</th>
        </tr>
        <tr *ngIf="showAwardedCosts()">
          <th scope="row">Awarded Total Cost</th>
          <th scope="col" *ngFor="let ga of grantAwarded">{{ ga.totalAwarded | currency }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of selectedFundingSources; let i = index;">
          <td>
            <div class="row">
              <div class="form-group col">
                <span class="like-label">Funding Source</span>
                <span>{{ f.fundingSourceName }}</span>
              </div>
              <div class="col-sm-auto">
                <button type="button" class="btn btn-sm btn-danger mr-2" (click)="deleteSource(i)" title="Remove"><i
                  class="fas fa-trash" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" (click)="editSource(i)" title="Edit"><i
                  class="fas fa-pencil" aria-hidden="true"></i></button>
              </div>
            </div>
          </td>
          <td *ngFor="let li of getLineItem(f); let i = index; let first = first; let last = last;">
            <div class="form-row">
              <div class="col-6 font-weight-bold">
                Direct
              </div>
              <div class="col-6">{{li.recommendedDirect | currency}}</div>
            </div>
            <div class="form-row">
              <div class="col-6 font-weight-bold">
                Total
              </div>
              <div class="col-6">{{li.recommendedTotal | currency}}</div>
            </div>
          </td>

        </tr>
        <tr *ngIf="selectedFundingSources.length > 1">
          <td></td>
          <td *ngFor="let li of grantAwarded; let i = index; let first = first; let last = last;">
            <div class="form-row">
              <div class="col-6 font-weight-bold">
                Direct ($)
              </div>
              <div class="col-6">{{grandTotalDirect(i) | currency}}</div>
            </div>
            <div class="form-row">
              <div class="col-6 font-weight-bold">
                Total ($)
              </div>
              <div class="col-6">{{grandTotal(i) | currency}}</div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-primary mt-2 mb-3" data-toggle="modal" data-target="#add-fsource-modal"
            (click)="prepareLineItem()"
            *ngIf="selectedFundingSources.length < 3; else blankSpace">
      <i class="fas fa-plus mr-2" aria-hidden="true"></i> Add Funding Source
    </button>
    <ng-template #blankSpace>
      <br/>
      <br/>
    </ng-template>

  </div>
</div>

<div class="row">
  <div class="col-lg-4" *ngIf="!isSkipRequest()">
    <div class="form-group">
      <app-other-docs-contributing-funds [(selectedValue)]="selectedDocs" label="Other NCI DOCs Contributing Funds">
      </app-other-docs-contributing-funds>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="form-group">
      <label for="cost-comments">Comments <span class="optional">(optional)</span></label>
      <textarea class="form-control" #cost_comments id="cost-comments"
                [(ngModel)]="model.requestDto.financialInfoDto.comments" rows="2" maxlength="2000"></textarea>
      <span class="character-counter">{{ cost_comments.value.length }}/2000</span>
    </div>
  </div>
</div>

<div class="row" *ngIf="showFinalLOA()">
  <div class="col-lg-12">
    <div class="form-group">
      <app-final-loa></app-final-loa>
    </div>
  </div>
</div>

<div class="row" *ngIf="isDiversitySupplement()">
  <div class="col-lg-12">
    <div class="form-group">
      <app-diversity-supplement></app-diversity-supplement>
    </div>
  </div>
</div>

<div class="row" *ngIf="isNewInvestigator()">
  <div class="col-lg-12">
    <div class="form-group">
      <app-new-investigator></app-new-investigator>
    </div>
  </div>
</div>

<div class="modal fade" id="add-fsource-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Funding Source</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cleanUpSources()">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <app-funding-source></app-funding-source>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table prc-table mb-0">
            <thead>
            <tr>
              <th scope="row">Fiscal Year</th>
              <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <span class="read-only-th">{{ li.grantAward.year }}</span>
                    </div>
                  </div>
                </div>
                <ng-template #notFirst>
                  {{ li.grantAward.year }}
                </ng-template>
              </th>
            </tr>
            <tr *ngIf="showPiCosts()">
              <th scope="row">PI Requested Direct Cost</th>
              <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <span class="read-only-th">{{ li.grantAward.requestAmount | currency }}</span>
                    </div>
                  </div>
                </div>
                <ng-template #notFirst>
                  {{ li.grantAward.requestAmount | currency }}
                </ng-template>
              </th>
            </tr>
            <tr *ngIf="showPiCosts()">
              <th scope="row">PI Requested Total Cost</th>
              <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <span class="read-only-th">{{ li.grantAward.requestTotalAmount | currency }}</span>
                    </div>
                  </div>
                </div>
                <ng-template #notFirst>
                  {{ li.grantAward.requestTotalAmount | currency }}
                </ng-template>
              </th>
            </tr>
            <tr *ngIf="showAwardedCosts()">
              <th scope="row">Awarded Direct Cost</th>
              <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <span class="read-only-th">{{ li.grantAward.directAmount | currency }}</span>
                    </div>
                  </div>
                </div>
                <ng-template #notFirst>
                  {{ li.grantAward.directAmount | currency }}
                </ng-template>
              </th>
            </tr>
            <tr *ngIf="showAwardedCosts()">
              <th scope="row">Awarded Total Cost</th>
              <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <span class="read-only-th">{{ li.grantAward.totalAwarded | currency }}</span>
                    </div>
                  </div>
                </div>
                <ng-template #notFirst>
                  {{ li.grantAward.totalAwarded | currency }}
                </ng-template>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="isRestoration()">
              <td></td>
              <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">

                <div class="fsource-fy1-form mb-2" *ngIf="last; else notLast">
                  <div class="form-row form-inline">
                    <div class="col left-label">
                      <label for="dc-dollar">Direct Cost</label>
                    </div>
                    <div class="col-sm-auto">
                      <input type="text" class="form-control funds-input" [(ngModel)]="li.recommendedDirect"
                             id="dc-dollar"
                             aria-describedby="dc-dollar-percent">
                    </div>
                  </div>
                </div>

                <div class="fsource-fy1-form" *ngIf="last">
                  <div class="form-row form-inline">
                    <div class="col left-label">
                      <label for="tc-dollar">Total Cost</label>
                    </div>
                    <div class="col-sm-auto">
                      <input type="text" class="form-control funds-input" id="tc-dollar"
                             [(ngModel)]="li.recommendedTotal"
                             aria-describedby="tc-dollar-percent">
                    </div>
                  </div>
                </div>
                <ng-template #notLast>---</ng-template>

              </td>

            </tr>
            <tr *ngIf="showDollar && !isRestoration()">
              <td></td>
              <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                <div class="fsource-fy1-form mb-2" *ngIf="first; else notFirst;">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <div class="btn-group btn-group-toggle" ngbRadioGroup name="value" *ngIf="initialPay">
                        <label ngbButtonLabel class="btn-outline-secondary active">
                          <input ngbButton type="radio" value="dollar">Dollar
                        </label>
                        <label ngbButtonLabel class="btn-outline-secondary">
                          <input ngbButton type="radio" (change)="toggleCostDisplay('percent')" value="percent">% Cut
                        </label>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="fsource-fy1-form mb-2" *ngIf="first;">
                  <div class="form-row form-inline">
                    <div class="col left-label">
                      <label for="dc-dollar">Direct Cost</label>
                    </div>
                    <div class="col-sm-auto">
                      <input type="text" class="form-control funds-input" [(ngModel)]="li.recommendedDirect"
                             id="dc-dollar"
                             aria-describedby="dc-dollar-percent">
                    </div>
                    <div class="col-sm-auto right-label" *ngIf="initialPay; else showPropagateButton">
                      <span id="dc-dollar-percent">{{ li.percentCutDirectCalculated | percent:'.1' }} Cut</span>
                    </div>
                    <ng-template #showPropagateButton>
                      <button type="button" class="btn btn-primary" [disabled]="li.recommendedDirect === undefined" (click)="propagate(i)">
                        Set DC Future Years to First Year
                      </button>
                    </ng-template>
                  </div>
                </div>

                <div class="fsource-fy1-form" *ngIf="first">
                  <div class="form-row form-inline">
                    <div class="col left-label">
                      <label for="tc-dollar">Total Cost</label>
                    </div>
                    <div class="col-sm-auto">
                      <input type="text" class="form-control funds-input" id="tc-dollar"
                             [(ngModel)]="li.recommendedTotal"
                             aria-describedby="tc-dollar-percent">
                    </div>
                    <div class="col-sm-auto right-label" *ngIf="initialPay">
                      <span id="tc-dollar-percent">{{ li.percentCutTotalCalculated | percent:'.1' }} Cut</span>
                    </div>
                  </div>
                </div>
                <ng-template #notFirst>{{ li.recommendedDirect | currency }}</ng-template>

              </td>

            </tr>

            <tr *ngIf="showPercent && !isRestoration()">
              <td></td>
              <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last">
                <div class="fsource-fy1-form mb-2" *ngIf="first; else notFirst">
                  <div class="form-row">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <div class="btn-group btn-group-toggle" ngbRadioGroup name="value" *ngIf="initialPay">
                        <label ngbButtonLabel class="btn-outline-secondary">
                          <input ngbButton type="radio" (change)="toggleCostDisplay('dollar')" value="dollar">Dollar
                        </label>
                        <label ngbButtonLabel class="btn-outline-secondary active">
                          <input ngbButton type="radio" value="percent">% Cut
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="fsource-fy1-form mb-2" *ngIf="first">
                  <div class="form-row form-inline">
                    <div class="col left-label"></div>
                    <div class="col-sm-auto">
                      <input type="text" class="form-control percent-input" [(ngModel)]="li.percentCut" id="perc-cut">
                    </div>
                    <div class="col-sm-auto right-label">
                      <label for="perc-cut">% Cut</label>
                    </div>
                  </div>
                </div>

                <div class="fsource-fy1-form mb-2" *ngIf="first">
                  <div class="form-row form-inline">
                    <div class="col left-label">
                      <label for="dc-percent-dollar">Direct Cost</label>
                    </div>
                    <div class="col-sm-auto">
                      <span id="dc-percent-dollar">{{ li.recommendedDirect | currency }}</span>
                    </div>
                  </div>
                </div>

                <div class="fsource-fy1-form" *ngIf="first;">
                  <div class="form-row form-inline">
                    <div class="col left-label">
                      <label for="tc-percent-dollar">Total Cost</label>
                    </div>
                    <div class="col-sm-auto">
                      <span id="tc-percent-dollar">{{ li.recommendedTotal | currency}}</span>
                    </div>
                  </div>
                </div>

                <ng-template #notFirst>{{ li.recommendedDirect | currency }}</ng-template>
              </td>
            </tr>

            </tbody>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary mr-auto" data-dismiss="modal" (click)="cleanUpSources()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!canSave()" (click)="addFundingSource($event)">Add Funding Source</button>
      </div>
    </div>
  </div>
</div>
