<ng-container *ngIf="readOnlyView; then readonly else edit"></ng-container>

<!-- Header templates for Pay Type 4 and other types -->
<ng-template #payType4Head>
  <thead>
  <tr *ngIf="selectedFundingSources && selectedFundingSources.length > 0">
    <th scope="row">Fiscal Year</th>
    <th scope="col" *ngFor="let fy of type4FiscalYears"><span class="read-only-th">{{ fy }}</span></th>
  </tr>
  </thead>
</ng-template>
<ng-template #defaultHead>
  <thead>
  <tr>
    <th scope="row">Fiscal Year</th>
    <th scope="col" *ngFor="let ga of grantAwarded"><span class="read-only-th">{{ ga.year }}</span></th>
  </tr>
  <tr *ngIf="showPiCosts()">
    <th scope="row">PI Requested Direct Cost</th>
    <th scope="col" *ngFor="let ga of grantAwarded"><span
      class="read-only-th">{{ ga.requestAmount | currencyToggle }}</span></th>
  </tr>
  <tr *ngIf="showPiCosts()">
    <th scope="row">PI Requested Total Cost</th>
    <th scope="col" *ngFor="let ga of grantAwarded"><span
      class="read-only-th">{{ ga.requestTotalAmount | currencyToggle }}</span></th>
  </tr>
  <tr *ngIf="showAwardedCosts()">
    <th scope="row">Awarded Direct Cost</th>
    <th scope="col" *ngFor="let ga of grantAwarded"><span
      class="read-only-th">{{ ga.directAmount | currencyToggle }}</span></th>
  </tr>
  <tr *ngIf="showAwardedCosts()">
    <th scope="row">Awarded Total Cost</th>
    <th scope="col" *ngFor="let ga of grantAwarded"><span
      class="read-only-th">{{ ga.totalAwarded | currencyToggle }}</span></th>
  </tr>
  </thead>
</ng-template>
<!-- end of header templates -->

<!--
  Read-only version of the PRC table for Step 4.  The header is pretty much the same as the editable version and
  probably should be extracted and reused.
-->
<ng-template #readonly>
  <div class="row">

    <div class="col-12">
      <h2>Program Recommended Costs</h2>
    </div>

    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped prc-table mb-0">
          <ng-container *ngIf="isPayType4 then payType4Head else defaultHead"></ng-container>

          <tbody>
          <tr *ngFor="let f of selectedFundingSources; let i = index;">
            <td>
              <div class="row">
                <div class="form-group col">
                  <span class="like-label">Funding Source</span>
                  <span>{{ f.fundingSourceName }}</span>
                </div>
              </div>
            </td>
            <td *ngFor="let li of getLineItem(f); let i = index; let first = first; let last = last;">
              <span *ngIf="isRestoration(); then restoration else not_restoration"></span>
              <ng-template #restoration>
                <div *ngIf="first" class="form-row">
                  <div class="col font-weight-bold">Direct</div>
                </div>
                <div *ngIf="first" class="form-row">
                  <div class="col font-weight-bold">Total</div>
                </div>
                <span *ngIf="last; then isLast else notLast"></span>
                <ng-template #isLast>
                  <div class="form-row">
                    <div class="col font-weight-bold"></div>
                    <div class="col">{{li.recommendedDirect | currencyToggle}}</div>
                  </div>
                  <div class="form-row">
                    <div class="col-weight-bold"></div>
                    <div class="col">{{li.recommendedTotal | currencyToggle}}</div>
                  </div>
                </ng-template>
                <ng-template #notLast>
                  <div *ngIf="!first" class="force-text-center">---</div>
                </ng-template>
              </ng-template>

              <ng-template #not_restoration>
                <span *ngIf="!initialPay; then a else b"></span>
                <ng-template #a>
                  <div class="form-row">
                    <div class="col font-weight-bold" *ngIf="first; else notFirst">Direct</div>
                    <ng-template #notFirst>
                      <div class="col font-weight-bold"></div>
                    </ng-template>
                    <div class="col">{{li.recommendedDirect | currencyToggle}}</div>
                  </div>
                </ng-template>
                <ng-template #b>
                  <div class="form-row">
                    <div class="col font-weight-bold" *ngIf="first; else notFirst">Direct</div>
                    <ng-template #notFirst>
                      <div class="col font-weight-bold"></div>
                    </ng-template>
                    <div class="col" *ngIf="first; else not">{{li.recommendedDirect | currencyToggle}}
                      {{ li.percentCutDirectCalculated | percentCut:true}}
                    </div>
                    <ng-template #not>
                      <div class="col">{{li.recommendedDirect | currencyToggle}}</div>
                    </ng-template>
                  </div>
                </ng-template>
                <span *ngIf="!initialPay; then c else d"></span>
                <ng-template #c>
                  <div class="form-row" *ngIf="first">
                    <div class="col font-weight-bold">Total</div>
                    <div class="col">{{li.recommendedTotal | currencyToggle}}</div>
                  </div>
                </ng-template>
                <ng-template #d>
                  <div class="form-row" *ngIf="first">
                    <div class="col font-weight-bold">Total</div>
                    <div class="col">{{li.recommendedTotal | currencyToggle}}
                      {{ li.percentCutTotalCalculated | percentCut:true }}
                    </div>
                  </div>
                </ng-template>
              </ng-template>
            </td>

          </tr>
          <tr *ngIf="selectedFundingSources.length > 1">
            <td><span class="like-label">Recommended Costs</span></td>
            <td *ngFor="let li of summaryRow; let i = index; let first = first;">
              <div class="form-row">
                <div class="col font-weight-bold" *ngIf="first; else noDollar">
                  Direct
                </div>
                <ng-template #noDollar>
                  <div class="col font-weight-bold">
                    Direct
                  </div>
                </ng-template>
                <div class="col">{{grandTotalDirect(i) | currencyToggle}}</div>
              </div>
              <div class="form-row" *ngIf="first">
                <div class="col font-weight-bold">
                  Total
                </div>
                <div class="col">{{grandTotal(i) | currencyToggle}}</div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
<!--
  Main editable table on Step 2
-->
<ng-template #edit>
  <hr>
  <div class="row">
    <div class="col-12">
      <h2>Program Recommended Costs</h2>
      <div *ngIf="!requestModel.isSkip()">
        <p>
          Please note that the Standard Policy Reduction should be taken into consideration when determining the
          recommended dollar amounts for the request. If you would like to include a waiver to the Standard Policy
          Reduction, please provide it as part of the justification. The current fiscal year's policy reductions can be
          viewed on the
          <a href="https://mynci.cancer.gov/topics/oefia-current-fiscal-year-funding-information" target="_blank"
             class="external-link">OEFIA web site</a>.
        </p>
      </div>
    </div>

    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped prc-table mb-0">
          <ng-container *ngIf="isPayType4 then payType4Head else defaultHead"></ng-container>
          <tbody>
          <tr *ngFor="let f of selectedFundingSources; let i = index;">
            <td>
              <div class="row">
                <div class="form-group col">
                  <span class="like-label">Funding Source</span>
                  <span>{{ f.fundingSourceName }}</span>
                </div>
                <div class="col-sm-auto">
                  <button type="button" class="btn btn-sm btn-danger mr-2" (click)="deleteSource(i)" title="Remove"><i
                    class="fas fa-trash" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-primary" (click)="editSource(i)" title="Edit"><i
                    class="fas fa-pencil" aria-hidden="true"></i></button>
                </div>
              </div>
            </td>
            <td *ngFor="let li of getLineItem(f); let i = index; let first = first; let last = last;">
              <ng-container *ngIf="!initialPay; then a else b"></ng-container>
              <ng-template #a>
                <div class="form-row">
                  <div class="col font-weight-bold" *ngIf="first; else notFirst">Direct</div>
                  <ng-template #notFirst>
                    <div class="col font-weight-bold"></div>
                  </ng-template>
                  <div class="col">{{li.recommendedDirect | currencyToggle}}</div>
                </div>
              </ng-template>
              <ng-template #b>
                <div class="form-row">
                  <div class="col font-weight-bold" *ngIf="first; else notFirst">Direct</div>
                  <ng-template #notFirst>
                    <div class="col font-weight-bold"></div>
                  </ng-template>
                  <div class="col" *ngIf="first; else not">{{li.recommendedDirect | currencyToggle}}
                    {{ li.percentCutDirectCalculated | percentCut:true}}
                  </div>
                  <ng-template #not>
                    <div class="col">{{li.recommendedDirect | currencyToggle}}</div>
                  </ng-template>

                </div>
              </ng-template>
              <ng-container *ngIf="!initialPay; then c else d"></ng-container>
              <ng-template #c>
                <div class="form-row" *ngIf="first">
                  <div class="col font-weight-bold">Total</div>
                  <div class="col">{{li.recommendedTotal | currencyToggle}}</div>
                </div>
                <div class="form-row" *ngIf="last && isRestoration()">
                  <div class="col font-weight-bold"></div>
                  <div class="col">{{li.recommendedTotal | currencyToggle}}</div>
                </div>
              </ng-template>
              <ng-template #d>
                <div class="form-row" *ngIf="first">
                  <div class="col font-weight-bold">Total</div>
                  <div class="col">{{li.recommendedTotal | currencyToggle}}
                    {{ li.percentCutTotalCalculated | percentCut:true }}
                  </div>
                </div>

              </ng-template>

            </td>

          </tr>
          <tr *ngIf="selectedFundingSources.length > 1">
            <td><span class="like-label">Recommended Costs</span></td>
            <td *ngFor="let li of summaryRow; let i = index; let first = first;">
              <div class="form-row">
                <div class="col font-weight-bold" *ngIf="first; else noDollar">
                  Direct
                </div>
                <ng-template #noDollar>
                  <div class="col font-weight-bold">
                    Direct
                  </div>
                </ng-template>
                <div class="col">{{grandTotalDirect(i) | currencyToggle}}</div>
              </div>
              <div class="form-row" *ngIf="first">
                <div class="col font font-weight-bold">
                  Total
                </div>
                <div class="col">{{grandTotal(i) | currencyToggle}}</div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <button type="button" class="btn btn-primary mt-2 mb-3" data-toggle="modal" [attr.data-target]="'#' + dataTarget"
              (click)="prepareLineItem()"
              *ngIf="selectedFundingSources.length < 3; else blankSpace">
        <i class="fas fa-plus mr-2" aria-hidden="true"></i> Add Funding Source
      </button>
      <ng-template #blankSpace>
        <br/>
        <br/>
      </ng-template>

    </div>
  </div>


  <!-- ============================================================================================================= -->
  <!-- Add funding source modal                                                                                      -->
  <!-- ============================================================================================================= -->
  <form #prcForm="ngForm" (ngSubmit)="onSubmit()" appFundingSourceCostValidator>
    <div class="modal fade" id="add-fsource-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <app-alert-billboard [alerts]="alerts"></app-alert-billboard>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Funding Source</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cleanUpSources()">
              <span aria-hidden="true"><i class="far fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <app-funding-source [parentForm]="prcForm"></app-funding-source>
                </div>
              </div>
              <div class="col-lg-6" *ngIf="isPayType4">
                <div class="form-group">
                  <label for="thx_1138">Program Recommended Future Years:</label>
                  <ng-select2
                    id="thx_1138"
                    [allowClear]="true"
                    [data]="recommendedFutureYearsData"
                    [(ngModel)]="recommendedFutureYears"
                    (ngModelChange)="prepareType4LineItem()"
                    [name]="'recommendedFutureYears'"
                    #rfy="ngModel"
                    required>
                  </ng-select2>
                  <div
                    class="text-danger mt-1"
                    *ngIf="(rfy.touched || prcForm.submitted) && rfy.errors?.required">
                    Program recommended future years is required
                  </div>
                </div>
              </div>
            </div>

            <ng-container *ngIf="isPayType4 then pay_type_4 else default"></ng-container>
            <ng-template #default>
              <div class="table-responsive">
                <table class="table prc-table mb-0">
                  <thead>
                  <tr>
                    <th scope="row">Fiscal Year</th>
                    <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <span class="read-only-th">{{ li.grantAward.year }}</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                    <span class="read-only-th">
                    {{ li.grantAward.year }}
                    </span>
                      </ng-template>
                    </th>
                  </tr>
                  <tr *ngIf="showPiCosts()">
                    <th scope="row">PI Requested Direct Cost</th>
                    <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <span class="read-only-th">{{ li.grantAward.requestAmount | currency }}</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                    <span class="read-only-th">
                    {{ li.grantAward.requestAmount | currency }}
                    </span>
                      </ng-template>
                    </th>
                  </tr>
                  <tr *ngIf="showPiCosts()">
                    <th scope="row">PI Requested Total Cost</th>
                    <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <span class="read-only-th">{{ li.grantAward.requestTotalAmount | currency }}</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                    <span class="read-only-th">
                    {{ li.grantAward.requestTotalAmount | currency }}
                    </span>
                      </ng-template>
                    </th>
                  </tr>
                  <tr *ngIf="showAwardedCosts()">
                    <th scope="row">Awarded Direct Cost</th>
                    <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <span class="read-only-th">{{ li.grantAward.directAmount | currency }}</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                    <span class="read-only-th">
                    {{ li.grantAward.directAmount | currency }}
                    </span>
                      </ng-template>
                    </th>
                  </tr>
                  <tr *ngIf="showAwardedCosts()">
                    <th scope="row">Awarded Total Cost</th>
                    <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <span class="read-only-th">{{ li.grantAward.totalAwarded | currency }}</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                    <span class="read-only-th">
                    {{ li.grantAward.totalAwarded | currency }}
                    </span>
                      </ng-template>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="isRestoration()">
                    <td></td>
                    <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">

                      <div class="fsource-fy1-form mb-2" *ngIf="last; else notLast">
                        <div class="form-row form-inline flex-align-right">
                          <div class="col left-label">
                            <label for="dc-dollar1">Direct Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control funds-input"
                              name="recommendedDirect"
                              #recommendedDirect="ngModel"
                              [(ngModel)]="li.recommendedDirectDisplay"
                              id="dc-dollar1"
                              aria-describedby="dc-dollar-percent"
                              pattern="[0-9,]*"
                              [appMinMaxValidator]="{min: 0, max: 999999999}"
                              required>
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="(recommendedDirect.errors?.min || recommendedDirect.errors?.max) && (recommendedDirect.touched || prcForm.submitted)">
                            Enter a value between 0 and 999,999,999
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedDirect.errors?.pattern && (recommendedDirect.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedDirect.errors?.required && (recommendedDirect.touched || prcForm.submitted)">
                            Direct Cost is required
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form" *ngIf="last">
                        <div class="form-row form-inline flex-align-right">
                          <div class="col left-label">
                            <label for="tc-dollar1">Total Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control funds-input"
                              name="recommendedTotal"
                              #recommendedTotal="ngModel"
                              id="tc-dollar1"
                              [(ngModel)]="li.recommendedTotalDisplay"
                              aria-describedby="tc-dollar-percent"
                              required
                              [appMinMaxValidator]="{min: 0, max: 999999999}"
                              pattern="[0-9,]*">
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="(recommendedTotal.errors?.min || recommendedTotal.errors?.max) && (recommendedTotal.touched || prcForm.submitted)">
                            Enter a value between 0 and 999,999,999
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedTotal.errors?.required && (recommendedTotal.touched || prcForm.submitted)">
                            Total Cost is required
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="prcForm.errors?.totalCostLessThanDirectCost && (recommendedTotal.touched || prcForm.submitted)">
                            Total Cost must be equal to or greater than the Direct Cost
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedTotal.errors?.pattern && (recommendedTotal.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                        </div>
                      </div>
                      <ng-template #notLast>---</ng-template>

                    </td>
                  </tr>
                  <tr *ngIf="showDollar && !isRestoration()">
                    <td></td>
                    <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form mb-2" *ngIf="first; else notFirst;">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="value"
                                 *ngIf="initialPay && !locked">
                              <label ngbButtonLabel class="btn-outline-secondary active">
                                <input ngbButton type="radio" value="dollar">Dollar
                              </label>
                              <label ngbButtonLabel class="btn-outline-secondary">
                                <input ngbButton type="radio" (change)="toggleCostDisplay('percent')" value="percent">%
                                Cut
                              </label>
                              <label><a
                                href="https://mynci.cancer.gov/topics/oefia-current-fiscal-year-funding-information#mynci-polmatrix"
                                target="_blank"><i class="fas fa-question-circle more-info"></i></a></label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form mb-2" *ngIf="first;">
                        <div class="form-row form-inline">
                          <div class="col left-label">
                            <label for="dc-dollar">Direct Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control funds-input"
                              name="recommendedDirect"
                              #recommendedDirect="ngModel"
                              [(ngModel)]="li.recommendedDirectDisplay"
                              id="dc-dollar"
                              aria-describedby="dc-dollar-percent"
                              pattern="[0-9,]*"
                              [appMinMaxValidator]="{min: 0, max: 999999999}"
                              required>
                          </div>
                          <div class="col-sm-auto right-label" *ngIf="initialPay && !locked">
                            <span id="dc-dollar-percent">{{ li.percentCutDirectCalculated | percentCut:true}}</span>
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="(recommendedDirect.errors?.min || recommendedDirect.errors?.max) && (recommendedDirect.touched || prcForm.submitted)">
                            Enter a value between 0 and 999,999,999
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedDirect.errors?.pattern && (recommendedDirect.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedDirect.errors?.required && (recommendedDirect.touched || prcForm.submitted)">
                            Direct Cost is required
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form" *ngIf="first">
                        <div class="form-row form-inline">
                          <div class="col left-label">
                            <label for="tc-dollar2">Total Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control funds-input"
                              name="recommendedTotal"
                              #recommendedTotal="ngModel"
                              id="tc-dollar2"
                              [(ngModel)]="li.recommendedTotalDisplay"
                              aria-describedby="tc-dollar-percent"
                              pattern="[0-9,]*"
                              [appMinMaxValidator]="{min: 0, max: 999999999}"
                              required>
                          </div>
                          <div class="col-sm-auto right-label" *ngIf="initialPay && !locked">
                            <span id="tc-dollar-percent">{{ li.percentCutTotalCalculated | percentCut:true }}</span>
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="(recommendedTotal.errors?.min || recommendedTotal.errors?.max) && (recommendedTotal.touched || prcForm.submitted)">
                            Enter a value between 0 and 999,999,999
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedTotal.errors?.required && (recommendedTotal.touched || prcForm.submitted)">
                            Total Cost is required
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="prcForm.errors?.totalCostLessThanDirectCost && (recommendedTotal.touched || prcForm.submitted)">
                            Total Cost must be equal to or greater than the Direct Cost
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedTotal.errors?.pattern && (recommendedTotal.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                        </div>
                      </div>
                      <div class="fsource-fy1-form" *ngIf="first && lineItem.length > 1">
                        <div class="form-row form-inline">
                          <div class="col-sm-auto">
                            <button type="button"
                                    class="btn btn-outline-secondary mt-2"
                                    [disabled]="li.recommendedDirect === undefined"
                                    (click)="propagate()">
                              Copy FY1 DC to Future Years
                            </button>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                        <div class="d-flex">
                          <input
                            type="text"
                            class="form-control funds-input ml-auto"
                            id="tc-dollar3"
                            name="recommendedDirect[{{i}}]"
                            #recommendedDirectX="ngModel"
                            aria-label="direct cost"
                            [(ngModel)]="li.recommendedDirectDisplay"
                            aria-describedby="tc-dollar-percent"
                            [appMinMaxValidator]="{min: 0, max: 999999999}"
                            pattern="[0-9,]*">
                        </div>
                        <div
                          class="text-danger mt-1"
                          *ngIf="(recommendedDirectX.errors?.min || recommendedDirectX.errors?.max) && (recommendedDirectX.touched || prcForm.submitted)">
                          Enter a value between 0 and 999,999,999
                        </div>
                        <div
                          class="text-danger mt-1"
                          *ngIf="recommendedDirectX.errors?.pattern && (recommendedDirectX.touched || prcForm.submitted)">
                          Enter numeric value
                        </div>
                      </ng-template>

                    </td>

                  </tr>
                  <tr *ngIf="showPercent && !isRestoration()">
                    <td></td>
                    <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last">
                      <div class="fsource-fy1-form mb-2" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="value"
                                 *ngIf="initialPay && !locked">
                              <label ngbButtonLabel class="btn-outline-secondary">
                                <input ngbButton type="radio" (change)="toggleCostDisplay('dollar')" value="dollar">Dollar
                              </label>
                              <label ngbButtonLabel class="btn-outline-secondary active">
                                <input ngbButton type="radio" value="percent">% Cut
                              </label>
                              <label><a
                                href="https://mynci.cancer.gov/topics/oefia-current-fiscal-year-funding-information#mynci-polmatrix"
                                target="_blank"><i class="fas fa-question-circle more-info"></i></a></label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form mb-2" *ngIf="first">
                        <div class="form-row form-inline">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control percent-input"
                              [(ngModel)]="li.percentCut"
                              name="percentCut"
                              #percentCut="ngModel"
                              id="perc-cut"
                              pattern="[0-9]*"
                              required
                              maxlength="2">
                          </div>
                          <div class="col-sm-auto right-label">
                            <label for="perc-cut">% Cut</label>
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="percentCut.errors?.pattern && (percentCut.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="percentCut.errors?.required && (percentCut.touched || prcForm.submitted)">
                            Percent Cut is required
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form mb-2" *ngIf="first && li.recommendedDirect != null">
                        <div class="form-row form-inline">
                          <div class="col left-label">
                            <label for="dc-percent-dollar">Direct Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <span id="dc-percent-dollar">{{ li.recommendedDirect | currency }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form" *ngIf="first && li.recommendedTotal != null">
                        <div class="form-row form-inline">
                          <div class="col left-label">
                            <label for="tc-percent-dollar">Total Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <span id="tc-percent-dollar">{{ li.recommendedTotal | currency}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="fsource-fy1-form" *ngIf="first && lineItem.length > 1">
                        <div class="form-row form-inline">
                          <div class="col-sm-auto">
                            <button type="button"
                                    class="btn btn-outline-secondary mt-2"
                                    [disabled]="li.recommendedDirect === undefined"
                                    (click)="propagate()">
                              Copy FY1 DC to Future Years
                            </button>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                        <div class="col-sm-auto">
                          <input
                            type="text"
                            class="form-control funds-input"
                            id="tc-dollar"
                            name="recommendedDirect[{{i}}]"
                            #recommendedDirectX="ngModel"
                            [(ngModel)]="li.recommendedDirectDisplay"
                            aria-describedby="tc-dollar-percent"
                            pattern="[0-9,]*"
                            [appMinMaxValidator]="{min: 0, max: 999999999}">
                        </div>
                        <div
                          class="text-danger mt-1"
                          *ngIf="(recommendedDirectX.errors?.min || recommendedDirectX.errors?.max) && (recommendedDirectX.touched || prcForm.submitted)">
                          Enter a value between 0 and 999,999,999
                        </div>
                        <div
                          class="text-danger mt-1"
                          *ngIf="recommendedDirectX.errors?.pattern && (recommendedDirectX.touched || prcForm.submitted)">
                          Enter numeric value
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
            <ng-template #pay_type_4>

              <div class="table-responsive" *ngIf="recommendedFutureYears && recommendedFutureYears >= 0">
                <table class="table prc-table mb-0">
                  <thead>
                  <tr>
                    <th scope="row">Fiscal Year</th>
                    <th *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form" *ngIf="first; else notFirst">
                        <div class="form-row">
                          <div class="col left-label"></div>
                          <div class="col-sm-auto">
                            <span class="read-only-th">{{ i + currentGrantYear }}</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                    <span class="read-only-th">
                    {{ li.grantAward.year }}
                    </span>
                      </ng-template>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><label>Program Recommended Costs</label></td>
                    <td *ngFor="let li of lineItem; let i = index; let first = first; let last = last" scope="col">
                      <div class="fsource-fy1-form mb-2" *ngIf="first; else notFirst;">
                      </div>

                      <div class="fsource-fy1-form mb-2" *ngIf="first;">
                        <div class="form-row form-inline">
                          <div class="col left-label">
                            <label for="dc-dollar">Direct Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control funds-input"
                              name="recommendedDirect"
                              #recommendedDirect="ngModel"
                              [(ngModel)]="li.recommendedDirectDisplay"
                              id="dc-dollar"
                              aria-describedby="dc-dollar-percent"
                              pattern="[0-9,]*"
                              [appMinMaxValidator]="{min: 0, max: 999999999}"
                              required>
                          </div>
                          <div class="col-sm-auto right-label" *ngIf="initialPay && !locked">
                            <span id="dc-dollar-percent">{{ li.percentCutDirectCalculated | percentCut:true}}</span>
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="(recommendedDirect.errors?.min || recommendedDirect.errors?.max) && (recommendedDirect.touched || prcForm.submitted)">
                            Enter a value between 0 and 999,999,999
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedDirect.errors?.pattern && (recommendedDirect.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedDirect.errors?.required && (recommendedDirect.touched || prcForm.submitted)">
                            Direct Cost is required
                          </div>
                        </div>
                      </div>

                      <div class="fsource-fy1-form" *ngIf="first">
                        <div class="form-row form-inline">
                          <div class="col left-label">
                            <label for="tc-dollar2">Total Cost</label>
                          </div>
                          <div class="col-sm-auto">
                            <input
                              type="text"
                              class="form-control funds-input"
                              name="recommendedTotal"
                              #recommendedTotal="ngModel"
                              id="tc-dollar2"
                              [(ngModel)]="li.recommendedTotalDisplay"
                              aria-describedby="tc-dollar-percent"
                              pattern="[0-9,]*"
                              [appMinMaxValidator]="{min: 0, max: 999999999}"
                              required>
                          </div>
                          <div class="col-sm-auto right-label" *ngIf="initialPay && !locked">
                            <span id="tc-dollar-percent">{{ li.percentCutTotalCalculated | percentCut:true }}</span>
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="(recommendedTotal.errors?.min || recommendedTotal.errors?.max) && (recommendedTotal.touched || prcForm.submitted)">
                            Enter a value between 0 and 999,999,999
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedTotal.errors?.required && (recommendedTotal.touched || prcForm.submitted)">
                            Total Cost is required
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="prcForm.errors?.totalCostLessThanDirectCost && (recommendedTotal.touched || prcForm.submitted)">
                            Total Cost must be equal to or greater than the Direct Cost
                          </div>
                          <div
                            class="text-danger mt-1"
                            *ngIf="recommendedTotal.errors?.pattern && (recommendedTotal.touched || prcForm.submitted)">
                            Enter numeric value
                          </div>
                        </div>
                      </div>
                      <div class="fsource-fy1-form" *ngIf="first && lineItem.length > 1">
                        <div class="form-row form-inline">
                          <div class="col-sm-auto">
                            <button type="button"
                                    class="btn btn-outline-secondary mt-2"
                                    [disabled]="li.recommendedDirect === undefined"
                                    (click)="propagate()">
                              Copy FY1 DC to Future Years
                            </button>
                          </div>
                        </div>
                      </div>
                      <ng-template #notFirst>
                        <div class="d-flex">
                          <input
                            type="text"
                            class="form-control funds-input ml-auto"
                            id="tc-dollar3"
                            name="recommendedDirect[{{i}}]"
                            #recommendedDirectX="ngModel"
                            aria-label="direct cost"
                            [(ngModel)]="li.recommendedDirectDisplay"
                            aria-describedby="tc-dollar-percent"
                            [appMinMaxValidator]="{min: 0, max: 999999999}"
                            pattern="[0-9,]*">
                        </div>
                        <div
                          class="text-danger mt-1"
                          *ngIf="(recommendedDirectX.errors?.min || recommendedDirectX.errors?.max) && (recommendedDirectX.touched || prcForm.submitted)">
                          Enter a value between 0 and 999,999,999
                        </div>
                        <div
                          class="text-danger mt-1"
                          *ngIf="recommendedDirectX.errors?.pattern && (recommendedDirectX.touched || prcForm.submitted)">
                          Enter numeric value
                        </div>
                      </ng-template>

                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary mr-auto" data-dismiss="modal"
                    (click)="cleanUpSources()">
              Close
            </button>
            <input type="submit" class="btn btn-primary" value="Add Funding Source">
          </div>
        </div>
      </div>
    </div>
  </form>

</ng-template>
