<div #submitResult></div>
<div class="alert alert-success" role="alert" *ngIf="submissionResult && submissionResult.status === 'success'">
  <h1>Success!</h1>
  <b>Request #{{submissionResult.frqId}}</b> was sent to
  <a
    href="mailto: {{submissionResult.approver.approverEmailAddress}}">{{submissionResult.approver.approverFullName}}</a>
  for review.
  View the request below or return to the <a routerLink="/search">Search</a>.
</div>
<div class="alert alert-danger" *ngIf="submissionResult && submissionResult.status === 'failure'">
  <h1>Failed to submit request</h1>
  {{submissionResult.errorMessage}}
</div>
<app-alert-billboard [alerts]="model.pendingAlerts"></app-alert-billboard>
<app-workflow-modal></app-workflow-modal>
<app-grant-information></app-grant-information>
<hr>

<app-request-information-readonly></app-request-information-readonly>
<!-- END Request Info -->

<hr>

<!-- START Supporting Docs -->
<app-supporting-docs-readonly [parent]="self"></app-supporting-docs-readonly>

<!-- END Supporting Docs -->

<hr>
<app-upload-budget-documents [hidden]="!isDisplayBudgetDocsUploadVar"></app-upload-budget-documents>
<app-workflow [readonly]="!submitVisible() || !submitEnabled() "></app-workflow>


<hr>
<div class="row">
  <div class="col-12 d-flex mb-4">
    <button class="btn btn-outline-secondary  mr-auto" (click)="prevStep()" *ngIf="!readonly">Previous</button>
    <button class="btn btn-danger mr-2" (click)="deleteRequest()" *ngIf="deleteVisible()">Delete Request</button>
    <button class="btn btn-primary" (click)="submitRequest()" *ngIf="submitVisible() && submitEnabled() ">
      {{submitApprove()?'Submit & Approve':'Submit Request'}}
    </button>
    <span *ngIf="submitVisible() && !submitEnabled()" [ngbTooltip]="submitDisableTooltip()">
      <button class="btn btn-primary" disabled>{{submitApprove()?'Submit & Approve':'Submit Request'}}</button>
    </span>
    <button class="btn btn-primary mr-2" (click)="submitWithdrawHold('WITHDRAW')"
      *ngIf="withdrawVisible()">Withdraw</button>
    <button class="btn btn-primary mr-2" (click)="submitWithdrawHold('HOLD')" *ngIf="putOnHoldVisible()">Hold</button>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-12">
    <h2>Request History</h2>
    <app-request-history></app-request-history>
  </div>
</div>

<ng-template #justificationModal let-modal>
  <div class="modal-header">
    <span class="modal-title h4 mb-0" id="i2group-title">Justification Text</span>
    <button type="button" class="close" (click)="modal.dismiss('')"><i class="fas fa-times"
        aria-label="close modal"></i></button>
  </div>
  <div class="modal-body">
    {{justificationText}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
