<div class="form-row">
  <div class="form-group">
    <label for="div-supp">Type of Supplement</label>
    <ng-select2
      id="div-supp"
      name="divSuppType"
      #divSuppType="ngModel"
      [(ngModel)]="requestModel.supplementType"
      [allowClear]="false"
      [data]="data"
      [required]="true">
    </ng-select2>
    <div
      class="text-danger mt-1"
      *ngIf="divSuppType.errors?.required && (divSuppType.touched || parentForm.submitted)">
      Diversity supplement type is required
    </div>
  </div>
</div>
