<div class="form-row">
  <div class="form-group">
    <label for="div-supp">Type of Supplement</label>
    <div class="col-12">
      <div id="div-supp" class="btn-group btn-group-toggle" ngbRadioGroup name="value">
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="1">New
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="2">Additional Year
        </label>
      </div>
    </div>
  </div>
</div>
