<div class="d-flex align-items-center">
    <h3>Scientific Rationale for Supporting RFA/PA</h3>
    <div class="doc-details">
        <span class="text-danger">(Document required, not uploaded)</span>
    </div>
    <div class="doc-buttons">
        <button ngbPanelToggle class="btn btn-sm btn-outline-secondary"><i class="far fa-plus mr-1"
                aria-hidden="true"></i> Add Document</button>
    </div>
    <!-- <div class="doc-details">
file-name.docx (Uploaded by <a href="#">Jane Doe</a> on MM/DD/YYYY)
</div>
<div class="doc-buttons">
<button class="btn btn-link btn-slim"><i class="far fa-eye"></i></button>
<button class="btn btn-link btn-link-danger btn-slim"><i class="fas fa-trash"></i></button>
</div> -->
</div>