<app-alert-billboard [alerts]="model.pendingAlerts"></app-alert-billboard>
<form
    #step2Form="ngForm"
    (ngSubmit)="onSubmit($event)"
    appDiversitySupplementValidator
    appPdNameRequired
    appCancerActivityRequired>
  <input type="hidden" #prcValidValue="ngModel" [ngModel]="prcValid" name="prcValid" required>

  <app-grant-information></app-grant-information>
  <hr>
  <div class="row">
    <div class="col-12">
      <app-alert-billboard [alerts]="alerts"></app-alert-billboard>
    </div>
  </div>
  <app-request-information [parentForm]="step2Form"></app-request-information>

  <app-program-recommended-costs *ngIf="requestTypeSelected()"></app-program-recommended-costs>

  <div class="row">
    <div class="col-lg-12">
      <div
        *ngIf="prcValidValue.errors?.required && step2Form.submitted"
        class="text-danger mt-1">
        Select at least one funding source to continue
      </div>
    </div>
  </div>

  <div [hidden]="!requestTypeSelected()">
    <div class="row" *ngIf="showFinalLOA()">
      <div class="col-lg-12">
        <div class="form-group">
          <app-final-loa></app-final-loa>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6" *ngIf="!isSkipRequest()">
        <div class="form-group">
          <app-other-docs-contributing-funds></app-other-docs-contributing-funds>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="cost-comments">Comments <span class="optional">(optional)</span></label>
          <textarea class="form-control" #cost_comments id="cost-comments" name="comments"
                    [(ngModel)]="model.requestDto.financialInfoDto.comments" rows="3" maxlength="2000"></textarea>
          <span class="character-counter">{{ cost_comments.value.length }}/2000</span>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isDiversitySupplement()">
      <div class="col-lg-12">
        <div class="form-group">
          <app-diversity-supplement [parentForm]="step2Form"></app-diversity-supplement>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="showNewInvestigator()">
      <div class="col-lg-12">
        <div class="form-group">
          <app-new-investigator></app-new-investigator>
        </div>
      </div>
    </div>

  </div>

  <hr>
  <div class="row">
    <div class="col-12 d-flex">
      <button class="btn btn-outline-secondary mr-auto" [disabled]="!canGoBack()" (click)="prevStep()">
        Previous
      </button>
      <button type="submit" name="saveAsDraft" class="btn btn-outline-primary mr-2">Save as Draft</button>
      <button type="submit" name="saveAndContinue" class="btn btn-primary">Save and Continue</button>

    </div>
  </div>
</form>
