<div class="container">
  <app-grant-information></app-grant-information>
  <hr>
  <div class="row">
    <h2>Request Information</h2>
  </div>
  <app-funding-request-type [filter]="true"></app-funding-request-type>
  <div class="row">
    <h2>Request Name</h2>
  </div>
  <input type="text" [value]="model.requestName">
  <hr>
  <app-program-recommended-costs></app-program-recommended-costs>

  <hr>
  <div>
    <div class="flex">
      <button class="btn btn-outline-dark float-left" (click)="prevStep()">Previous</button>
      <button class="btn btn-primary float-right" (click)="nextStep()">Next</button>
    </div>
  </div>
