<app-grant-information></app-grant-information>
<hr>
<app-request-information></app-request-information>
<hr>
<app-program-recommended-costs></app-program-recommended-costs>

<!-- note: the following div was taken out of the program recommended costs component above -->
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <lib-doc-dropdown [(selectedValue)]="selectedDocs" label="Other NCI DOCs Contributing Funds"></lib-doc-dropdown>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="form-group">
      <label for="cost-comments">Comments <span class="optional">(optional)</span></label>
      <textarea class="form-control" id="cost-comments" [(ngModel)]="model.requestDto.comments" rows="2"
                maxlength="1000"></textarea>
      <span class="character-counter">{{ model.requestDto.comments ? model.requestDto.comments.length : 0 }}/1000</span>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-12 d-flex">
    <button class="btn btn-outline-secondary mr-auto" (click)="prevStep()">Previous</button>
    <button class="btn btn-outline-primary mr-2" (click)="saveAsDraft()">Save as Draft</button>
    <button class="btn btn-primary" (click)="saveAndContinue()">Save and Continue</button>
  </div>
</div>
