<div class="row">
  <div class="col-12">
    <h2>RFA/PA(s)</h2>
  </div>
</div>

<div class="row">
  
  <div class="col-lg-3">
    <div class="form-group">
      <label for="rfa-pa-1">RFA/PA</label>
      <input type="text" class="form-control" id="rfa-pa-1">
    </div>
  </div>
  <div class="col col-lg-5">
    <div class="form-group">
      <label for="ncab-dates-1">NCAB Dates</label>
      <ng-select2
        id="ncab-dates-1"
        name="ncab-dates-1"
        [allowClear]="true"
        [options]="options"
        multiple="true">
      </ng-select2>
    </div>
  </div>
  <div class="col-lg-2 col-sm-auto d-flex align-items-end mb-3">
    <button type="button" class="btn btn-danger px-2 mr-2" title="Remove RFA/PA"><i class="fas fa-trash" aria-hidden="true"></i></button>
  </div>
  
  <!-- PLEASE NOTE: each new set of inputs needs to have unique ids for 508 compliance -->
  
  <div class="col-lg-3">
    <div class="form-group">
      <label for="rfa-pa-2">RFA/PA</label>
      <input type="text" class="form-control" id="rfa-pa-2">
    </div>
  </div>
  <div class="col col-lg-5">
    <div class="form-group">
      <label for="ncab-dates-2">NCAB Dates</label>
      <ng-select2
        id="ncab-dates-2"
        name="ncab-dates-1"
        [allowClear]="true"
        [options]="options"
        multiple="true">
      </ng-select2>
    </div>
  </div>
  <div class="col-lg-2 col-sm-auto d-flex align-items-end mb-3">
    <button type="button" class="btn btn-danger px-2 mr-2" title="Remove RFA/PA"><i class="fas fa-trash" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-primary px-2" title="Add RFA/PA"><i class="fas fa-plus" aria-hidden="true"></i></button>
  </div>
  
  <div class="col-lg-2 d-flex justify-content-end align-items-end mb-3">
    <button type="button" class="btn btn-outline-secondary mr-2">Clear</button>
    <button type="button" class="btn btn-primary">Search</button>
  </div>
  
  <div class="col-12">
    <hr>
  </div>

</div><!-- END Row -->

<div class="row">
  <div class="col-12 d-flex">
    <h2>Results</h2>
    <button type="button" class="btn btn-primary ml-auto">Select Grants</button>
  </div>
  
  <div class="col-12">
    <p>No results to display. Try adding an RFA/PA above and clicking "Search".</p>
    <p>Table goes here.</p>
  </div>
  
  <div class="col-12 d-flex">
    <button type="button" class="btn btn-primary ml-auto">Select Grants</button>
  </div>

</div><!-- END Row -->
