<ngb-alert type="danger" [dismissible]="false">
  <h3>Something unexpected went wrong</h3>
<p>
  Details have been reported to the application support team. If the error persists, contact
  <a href="{{emailLink}}" title="">
    I2E Technical Support
  </a>.
</p>
  <p>&nbsp;</p>
<span>
<!--  <a [routerLink]="" class="me-1"><i class='fa fa-skull-crossbones' aria-hidden='true'></i></a>-->
  <strong>Please do not use the back button.</strong>
  <p>&nbsp;</p>
  <p>Click <a [routerLink]="['/']" routerLinkActive="active">here</a> to return home.</p>
</span>
</ngb-alert>
<!--<div *ngIf="!production">-->
<!--  <p>{{ errorMessage }}</p>-->
<!--  <pre>{{ errorDetails }}</pre>-->
<!--</div>-->
