<div class="row form-group">

<div *ngIf="showResults" class="row mb-2">
  <div class="row mb-2">
    <!-- Results -->
    <div class="col-12 mb-3">
      <h3>Results</h3>
    </div>
    <p class="alert alert-primary ms-3 col-12"><i class="far fa-info-circle"></i> To apply sorting order to multiple columns, hold
      down the <b>Shift</b> key and click the header of
      each additional column that you want to sort. Please note, sorting by column headers will unselect any selected
      rows.</p>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" [disabled]="!hasSelectedGrants" (click)="addSelectedToList()">
      + Add Selected Grants to List
    </button>
  </div>
</div>
</div>
 


<ng-template #addToListModal>
  <div class="modal-header">
    <h4 class="modal-title">Save Grant List</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancelModal()"></button>
  </div>
  <div class="modal-body">
    <p>
      Choose a code from the drop-down to add the selected grant(s) to the selection date.
      Clicking <strong>Save</strong> will add those grants to the list and take you to the edit page.
    </p>
    <div class="mb-3">
      <label for="selectionDate" class="form-label fw-semibold">Selection Date</label>
      <ng-select2
        id="selectionDate"
        name="selectionDate"
        [data]="selectionDateOptions"
        [(ngModel)]="selectedDate"
        [allowClear]="true"
        placeholder="Select date"
        class="w-100">
      </ng-select2>
    </div>
    <p class="mb-0"><strong>Grant(s) Added:</strong> {{ selectedRows.size }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancelModal()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!selectedDate" (click)="saveToList()">Save</button>
  </div>
</ng-template>

<div class="row" [hidden]="!showResults">
  <div class="col-12">
    <table id="grantListDt"
           datatable
           [dtOptions]="dtOptions"
           [dtTrigger]="dtTrigger"
           class="row-border hover"
           style="width: 100%">
    </table>
    <!-- Renderer templates -->
    <ng-template #fullGrantNumberRenderer let-data="adtData">
      <app-full-grant-number-cell-renderer
        [data]="data"
        [eGrantsUrl]="eGrantsUrl"
        [grantViewerUrl]="grantViewerUrl"
        [i2eURL]="i2eURL">
      </app-full-grant-number-cell-renderer>
    </ng-template>
    <ng-template #foaCellRender let-data="adtData">
  <app-foa-cell-renderer [data]="data" [mode] ="'NOFO'"></app-foa-cell-renderer>
</ng-template>

<ng-template #nosiCellRender let-data="adtData">
  <app-foa-cell-renderer [data]="data" [mode] ="'NOSI'"></app-foa-cell-renderer>
</ng-template>
<ng-template #existsInListRenderer let-data="adtData">
  <a *ngIf="data.existsInListSelectionDate"
     [routerLink]="['/funding-submissions/search']"
     [queryParams]="{ selectionDate: data.existsInListSelectionDate }"
     ngbTooltip="Click to view list" container="body">
    {{ data.existsInListSelectionDate }}
  </a>
</ng-template>
<ng-template #cancerActivityRenderer let-data="adtData">
  <app-cancer-activity-cell-renderer [data]="data"></app-cancer-activity-cell-renderer>
</ng-template>
  </div>
</div>
