<div class="container">
    <div class="row flex">
        <h2>Filters</h2>
        <a [routerLink]="" (click)="showHideAdvanced()" class="float-right">Show Advanced Filters</a>
    </div>
    <div class="flex">
        <app-search-pool></app-search-pool>
        <lib-grantnumber-search-criteria></lib-grantnumber-search-criteria>
        <lib-fy-range [minYear]="2001" [maxYear]="2025" (rangeChanged)="fyRangeChanged($event)"></lib-fy-range>
        <lib-i2status-dropdown (selectedI2statusValue)="i2StatusChanged($event)"></lib-i2status-dropdown>
        <div class="col-12 col-md-6 form-group" *ngIf="showAdvancedFilters">
            <label>PI</label>
            <input type="text" [(ngModel)]="piName"/>
        </div>
        <lib-institute-dropdown *ngIf="showAdvancedFilters"></lib-institute-dropdown>
        <lib-pdname-dropdown  (selectedPdIdValue)="pdSelected($event)"
        *ngIf="showAdvancedFilters"></lib-pdname-dropdown>
        <lib-rfa-pa-dropdown *ngIf="showAdvancedFilters"></lib-rfa-pa-dropdown>
        <lib-ncab-daterange *ngIf="showAdvancedFilters"></lib-ncab-daterange>
        <lib-cancer-activities-dropdown  (selectedCasValues)="cayCodeSelected($event)"
        *ngIf="showAdvancedFilters">
        </lib-cancer-activities-dropdown>
    </div>

    <div class="float-right">
            <button class="btn btn-info" (click)="clear()">Clear</button>
            <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
    <hr/>
    <div class="row">
        <h2>Results</h2>
    </div>
    <div class="row">
        <p *ngIf="!grantList">No results to display. Try applying a filter above and clicking "Search."</p>
        <table #grantDt datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>Grant Number</th>
                <th>Project Title</th>
                <th>I2 Status</th>
                <th>PI</th>
                <th>Institution</th>
                <th>FY</th>
                <th>NCAB Date</th>
                <th>Pctl</th>
                <th>PriScr</th>
                <th>Action</th>
                <th>CA</th>
                <th>PD</th>
                <th>Budget Start Date</th>
                <th>Existing Requests</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grant of grantList">
                <td><a href="{{grantViewerUrl+grant.applId}}" target="yourgrant">{{grant.fullGrantNum}}</a></td>
                <td>{{grant.projectTitle}}</td>
                <td>{{grant.applStatusGroupDescrip}}</td>
                <td><a href="mailto:{{grant.piEmail}}">{{grant.piFullName}}</a></td>
                <td>{{grant.orgName}}</td>
                <td>{{grant.fy}}</td>
                <td>{{grant.councilMeetingDate|formatNcabDate}}</td>
                <td>{{grant.irgPercentileNum}}</td>
                <td>{{grant.priorityScoreNum}}</td>
                <td><button class="btn btn-primary"  (click)="nextStep($event)">Select</button></td>
                <td>{{grant.cayCode}}</td>
||||||| a0838ab
                <td><button class="btn btn-primary"  (click)="nextStep()">Select</button></td>
                <td>{{grant.cayCode}}</td>
                <td><a href="mailto:{{grant.pdEmailAddress}}">{{grant.roleUsageCode}}</a></td>
                <td>{{grant.budgetStartDate|date:'MM/dd/yyyy'}}</td>
                <td>{{grant.requestCount}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
