<div class="row">
    <div class="col-12 d-flex">
        <h2 class="d-inline-block" id="filters-label">Filters</h2>
        <a [routerLink]="[]" (click)="showHideAdvanced()" class="ml-auto"
        [ngClass]="{'show-advance':!showAdvancedFilters, 'hide-advance':showAdvancedFilters}"></a>
    </div>
    <div class="col-12">
        <p>Search by <strong>at least one</strong> of the following criteria: <strong>Search Within</strong> or <strong>IC and Serial Number</strong> or <strong>Fiscal year</strong>.</p>
    </div>
</div>
<form #searchForm="ngForm" [class.submitted]="searchForm.submitted" >
<div class="row" role="group" aria-labelledby="filters-label">

    <div class="col-lg-4">
        <app-search-pool [(selectedValue)]="searchWithin" [grantSearch]="true"></app-search-pool>
    </div>

    <div class="col-lg-8">
        <lib-grantnumber-search-criteria [form]="searchForm"></lib-grantnumber-search-criteria>
    </div>

    <div class="col-lg-4">
        <lib-fy-range [minYear]="2001" [maxYear]="2025" [form]="searchForm"></lib-fy-range>
    </div>

    <div class="col-lg-3">
        <lib-i2status-dropdown [(selectedValue)]="i2Status"></lib-i2status-dropdown>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <label for="piName">PI Name</label>
            <input id="piName" type="text" class="form-control" [(ngModel)]="piName" name="piName"/>
        </div>
    </div>

    <!-- START Advanced Filters -->

    <div class="col-lg-5" [hidden]="!showAdvancedFilters">
        <app-pdname-dropdown [syncWithCa]="true" [(selectedValue)]="selectedPd" [broadcast]="true"></app-pdname-dropdown>
    </div>

    <div class="col-lg-5" [hidden]="!showAdvancedFilters">
        <app-cancer-activities-dropdown  [(selectedValue)]="selectedCas" [broadcast]="true" [syncWithPd]="true"></app-cancer-activities-dropdown>
    </div>

    <div class="col-lg-4" [hidden]="!showAdvancedFilters">
        <lib-rfa-pa-dropdown [(selectedValue)]="selectedRfaPa"></lib-rfa-pa-dropdown>
    </div>

    <div class="col-lg-4" [hidden]="!showAdvancedFilters">
        <lib-ncab-daterange [form]="searchForm"></lib-ncab-daterange>
    </div>

    <!-- END Advanced Filters -->

    <div class="col-lg-2 d-flex align-items-end justify-content-end ml-auto">
        <button class="btn btn-outline-secondary mr-2" (click)="clear()">Reset</button>
        <button class="btn btn-primary" (click)="search()" *ngIf="validFilter(); else searchDisabled">Search</button>
        <ng-template #searchDisabled>
            <span ngbTooltip="Missing required search criteria">
                <button class="btn btn-primary" disabled>Search</button>
            </span>
        </ng-template>
    </div>

    <div class="col-12">
        <hr/>
    </div>

</div> <!-- END Row -->
<div class="row">
    <div class="col-12">
        <h2>Results</h2>
        <p *ngIf="showResults" class="alert alert-primary"><i class="far fa-info-circle"></i> To apply sorting order to multiple columns, hold down the <b>Shift</b> key and click the header of
                each additional column that you want to sort.</p>
        <p *ngIf="!showResults">No grants found to display.</p>
        <div [ngStyle]="{display:showResults?'inline':'none'}">
        <table id="grantDt" #grantDt datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%">
          </table>
<!--          Renderer templates -->
          <ng-template #fullGrantNumberRenderer let-data="adtData">
            <app-full-grant-number-cell-renderer [data]="data" [eGrantsUrl]="eGrantsUrl" [grantViewerUrl]="grantViewerUrl"></app-full-grant-number-cell-renderer>
          </ng-template>
          <ng-template #cancerActivityRenderer let-data="adtData">
            <app-cancer-activity-cell-renderer [data]="data"></app-cancer-activity-cell-renderer>
          </ng-template>
          <ng-template #existingRequestsRenderer let-data="adtData">
            <app-existing-requests-cell-renderer [data]="data"></app-existing-requests-cell-renderer>
          </ng-template>
          <ng-template #fundingRequestActionRenderer let-data="adtData">
            <app-funding-request-action-cell-renderer [data]="data"></app-funding-request-action-cell-renderer>
          </ng-template>
        </div>
    </div>
</div>
</form>
