<nav id="side-nav" aria-label="application navigation">
    <ul class="list-group">

      <li class="list-group-item" *ngIf="pd||pa">
        <a href="#PFR" class="parent" data-toggle="collapse" href="#nav-collapse-pfr" role="button" aria-expanded="true" aria-controls="nav-collapse-pfr"><b>Create a Request</b></a>
        <ul class="collapse show" id="nav-collapse-pfr">
          <li class="list-group-item" *ngIf="pd||pa"><a routerLink="/request" routerLinkActive="active">New Funding Request</a></li>
          <li class="list-group-item" *ngIf="pd||pa"><a routerLink="/plan" routerLinkActive="active">New Funding Plan</a></li>
        </ul>
      </li>

      <li class="list-group-item"  *ngIf="oefiaCertifier || splCertifier || paylistReadOnlyRole || ogaCertifier" >
          <a href="#paylist" class="parent" data-toggle="collapse" href="#nav-collapse-paylist" role="button" aria-expanded="true" aria-controls="nav-collapse-paylist"><b>Paylists</b></a>
          <ul class="collapse show" id="nav-collapse-paylist">
              <li class="list-group-item" *ngIf="ogaCertifier" ><a href="{{paylistDashboardUrl}}">Dashboard</a></li>
              <li class="list-group-item" *ngIf="ogaCertifier"><a href="{{paylistPendingGrantsUrl}}">Pending Grants<span class="badge badge-danger ml-1">{{pendingGrantsCount}}</span></a></li>
              <li class="list-group-item" *ngIf="oefiaCertifier || splCertifier"><a href="{{paylistDashboardUrl}}">View/Certify Paylines</a></li>
              <li class="list-group-item" *ngIf="paylistReadOnlyRole && !(oefiaCertifier || splCertifier)"><a href="{{paylistDashboardUrl}}">View Paylines</a></li>
          </ul>
      </li>

      <li class="list-group-item">
        <a class="parent" data-toggle="collapse" href="#nav-collapse-search" role="button" aria-expanded="true" aria-controls="nav-collapse-search"><b>Find Requests</b></a>
        <ul class="collapse show" id="nav-collapse-search">
          <li class="list-group-item"><a [routerLink]="['/search/fr']" routerLinkActive="active">Individual Requests</a></li>
          <li class="list-group-item"><a [routerLink]="['/search/fp']" routerLinkActive="active">Funding Plans</a></li>
          <li class="list-group-item" *ngIf="oefiaCertifier || splCertifier || paylistReadOnlyRole || ogaCertifier"><a href="{{paylistSearchUrl}}">Paylists</a></li>
          <li class="list-group-item"><a [routerLink]="['/search/grants']" routerLinkActive="active">Grants</a></li>
        </ul>
      </li>
      <li class="list-group-item" id="manage-designation-group-item"><a routerLink="/manage" routerLinkActive="active"><b>Manage Designations</b></a></li>

    </ul>
</nav>
