<nav id="side-nav" aria-label="application navigation">
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="/search" class="menu-item" routerLinkActive="active">Search</a></li>
        <li class="list-group-item" *ngIf="ogaCertifier || oefiaCertifier">
            <a href="#paylist" class="parent" data-toggle="collapse" href="#nav-collapse-paylist" role="button" aria-expanded="false" aria-controls="nav-collapse-paylist">Paylists</a>
            <ul class="collapse" id="nav-collapse-paylist">
                <li class="list-group-item"><a href="{{paylistDashboardUrl}}">Dashboard</a></li>
                <li class="list-group-item" *ngIf="ogaCertifier"><a href="{{paylistPendingGrantsUrl}}">Pending Grants</a></li>
                <li class="list-group-item"><a href="{{paylistSearchUrl}}">Find Paylists</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a href="#PFR" class="parent" data-toggle="collapse" href="#nav-collapse-pfr" role="button" aria-expanded="true" aria-controls="nav-collapse-pfr">Program Funding Requests</a>
            <ul class="collapse show" id="nav-collapse-pfr">
                <li class="list-group-item" *ngIf="pd||pa"><a routerLink="/request" routerLinkActive="active">New Funding Request</a></li>
                <li class="list-group-item" *ngIf="pd||pa"><a routerLink="/newplan" routerLinkActive="active">New Funding Plan</a></li>
                <li class="list-group-item"><a routerLink="/manage" routerLinkActive="active">Manage Designations</a></li>
            </ul>
        </li>
    </ul>
</nav>
