<div class="form-group">
  <label for="doc-select">Other NCI Docs Contributing Funds <span class="optional">(optional)</span></label>
  <ng-select2
    id="doc-select"
    [(ngModel)]="selectedValue"
    [allowClear]="false"
    [options]="options">
    <option></option>
    <option *ngFor="let doc of availableDocs()" [value]="doc.abbreviation"> {{doc.abbreviation}}
      &mdash; {{doc.description}}</option>
  </ng-select2>
  <small class="form-text text-muted">Drag and drop to prioritize.</small>
</div>
<div class="example-container">
  <div cdkDropList (cdkDropListDropped)="dropped($event)">
    <div class="drag-item" cdkDrag *ngFor="let doc of selectedDocsArr">
      <span>{{ doc.abbreviation }} &mdash; {{ doc.description }}</span>
      <div class="ml-auto">
        <button class="btn btn-link btn-delete btn-slim" title="Delete" (click)="deselect(doc.abbreviation)">
          <i class="fas fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
