<div class="row mb-2">
  <div class="col-12 d-flex">
    <h2 class="d-inline-block" id="overview-label">Filters</h2>
    <a [routerLink]="" (click)="showAdvanced = !showAdvanced" class="ml-auto"
       [ngClass]="{'show-advance':!showAdvanced, 'hide-advance':showAdvanced}"></a>
  </div>
</div>
<form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
  <div class="row form-group">
    <div class="col-3 col-md-3">
      <label for="searchType">Search for</label>
      <div class="btn-group btn-group-toggle"
           ngbRadioGroup name="searchType"
           [(ngModel)]="searchType"
           id="searchType"
           style="display: inline;"
      >
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="FR">Requests
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="FP">Plans
        </label>
        <label *ngIf="canSearchForPaylists" ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="PL">Paylists
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="G">Grants
        </label>
      </div>
    </div>
    <div class="col-6 col-md-6">
      <lib-grantnumber-search-criteria [form]="searchForm"></lib-grantnumber-search-criteria>
    </div>
    <div class="col-3 col-md-3 ml-auto">
      <lib-fy-range [minYear]="2001" [maxYear]="2025" [form]="searchForm"></lib-fy-range>
    </div>
  </div>
  <div class="row form-group" [hidden]="searchType != 'FR'">
    <div class="col-6 col-md-6">
<!--      TODO - this component cannot be used here as it ties to RequestModel
                 I placed it here only temporary for layout
-->
      <app-search-funding-request-type [parentForm]="searchForm"></app-search-funding-request-type>
    </div>
    <div class="form-group col-6 col-md-6">
      <label for="request-status-select">Request Status</label>
      <ng-select2
        id="request-status-select"
        name="fundingRequestStatus"
        ngModel
        #fundingRequestStatus="ngModel"
        [allowClear]="true"
        [options]="statusOptions"
        [data]="requestStatusList">
      </ng-select2>
    </div>
  </div>
  <div class="row form-group" [hidden]="searchType != 'FP'">
    <div class="form-group col-4 col-md-4">
      <label for="plan-status-select">Plan Status</label>
      <ng-select2
        id="plan-status-select"
        name="fundingPlanStatus"
        ngModel
        #fundingPlanStatus="ngModel"
        [allowClear]="true"
        [options]="statusOptions"
        [data]="requestStatusList"
      >
      </ng-select2>
    </div>
    <div class="col-4 col-md-4">
      <app-search-rfa-pa-dropdown [parentForm]="searchForm"></app-search-rfa-pa-dropdown>
    </div>
    <div class="col-3 col-md-3 ml-auto">
      <lib-ncab-daterange [form]="searchForm"></lib-ncab-daterange>
    </div>
  </div>
  <div [hidden]="!showAdvanced" class="mt-n2">
    <div class="row form-group">
      <div class="col-md-12 col-lg-12">
        <h5 class="text-divider"> <span><strong>Request&nbsp;</strong></span></h5>
      </div>
      <div class="col-md-6 col-lg-6">
        <lib-pdname-dropdown label="Requesting PD" [broadcast]="true" [showInactiveToggle]="false"></lib-pdname-dropdown>
      </div>
      <div class="col-md-6 col-lg-6 form-group">
        <app-search-funding-request-doc [form]="searchForm"></app-search-funding-request-doc>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6 col-lg-6 form-group">
          <label for="funding-sources">Funding Source(s)</label>
          <input type="text" id="funding-sources" name="fundingSources" ngModel class="form-control">
      </div>
      <div class="col-md-6 col-lg-6 form-group">
          <label for="request-id" *ngIf="searchType === 'FR'">Request ID</label>
          <label for="request-id" *ngIf="searchType === 'FP'">Plan ID</label>
          <input type="text" id="request-id" name="id" ngModel class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12 col-lg-12">
        <h5 class="text-divider"> <span><strong>Principal Investigator&nbsp;</strong></span></h5>
      </div>
      <div class="col-md-6 col-lg-6 form-group">
          <label for="pi-name">PI Name</label>
          <input type="text" id="pi-name" name="piName" ngModel class="form-control">
      </div>
      <div class="col-md-6 col-lg-6 form-group">
          <label for="institution-name">Institution Name</label>
          <input type="text" id="institution-name" name="institutionName" ngModel class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12 col-lg-12">
        <h5 class="text-divider"> <span><strong>Other&nbsp;</strong></span></h5>
      </div>
      <div class="col-md-6 col-lg-6">
        <lib-pdname-dropdown label="PD Name" [broadcast]="true" [showInactiveToggle]="false"></lib-pdname-dropdown>
      </div>
      <div class="col-md-6 col-lg-6 form-group">
        <label for="doc">DOC</label>
        <input type="text" id="doc" name="doc" ngModel class="form-control">
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-lg-12 d-flex justify-content-end align-items-end">
      <button type="button" class="btn btn-outline-secondary mr-2" (click)="clear()">Clear</button>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<!-- <div class="col-12 col-md-3 form-group">
  <label for="requestOrPlan">Search For</label>
  <br>
  <div class="btn-group btn-group-toggle"
      ngbRadioGroup name="radioBasic"
      [(ngModel)]="searchFilter.requestOrPlan"
      id="requestOrPlan">
      <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="Request"> Request
      </label>
      <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="Plan"> Plan
      </label>
  </div>
  <br>
</div>
<div class="col-12 col-md-3 form-group">
<app-search-pool></app-search-pool>
<form #xyz="ngForm">
<app-funding-request-type [parentForm]="xyz" [filter]="false" *ngIf="isSearchingRequest()"></app-funding-request-type>
</form>
<lib-rfa-pa-dropdown  *ngIf="!isSearchingRequest()"></lib-rfa-pa-dropdown>
<lib-fy-range [minYear]="2001" [maxYear]="2025" ></lib-fy-range>
<lib-grantnumber-search-criteria></lib-grantnumber-search-criteria>
<button class="btn btn-primary" (click)="doSearch()">Search</button>
</div>
<hr> -->
