<div class="col-12 col-md-3 form-group">
    <label for="requestOrPlan">Search For</label>
    <br>
    <div class="btn-group btn-group-toggle" 
        ngbRadioGroup name="radioBasic" 
        [(ngModel)]="searchFilter.requestOrPlan"
        id="requestOrPlan">
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="Request"> Request
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="Plan"> Plan
        </label>
    </div>
    <br>
</div>
<div class="col-12 col-md-3 form-group">
<app-search-pool></app-search-pool>
<app-funding-request-type *ngIf="isSearchingRequest()"></app-funding-request-type>
<lib-rfa-pa-dropdown (selectedRfaPaValue)="rfaPaSelected($event)" *ngIf="!isSearchingRequest()"></lib-rfa-pa-dropdown>
<lib-fy-range [minYear]="2001" [maxYear]="2025" (rangeChanged)="fyRangeChanged($event)"></lib-fy-range>
<lib-grantnumber-search-criteria></lib-grantnumber-search-criteria>
<button class="btn btn-primary" (click)="doSearch()">Search</button>
</div>
<hr>
{{searchFilter|json}}