<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-lg-5">
            <h3>Add Docs</h3>
        </div>
        <div class="col-lg-7">
            <h3>Submission Package</h3>
            <br><h4>Included Content</h4>
        </div>
    </div>
    <hr>
    <div class="flex">
            <button class="btn btn-outline-dark float-left" (click)="prevStep()">Previous</button>
            <button class="btn btn-primary float-right" (click)="nextStep()">Next</button>
    </div>        
</div>
