@media (min-width: 992px) { 
    #submission-package {
        border-left:1px solid #c1c2c9;
        padding-left:30px;
    }
    #add-docs {
        padding-right:30px;
    }

    
    #excludedId {
      border:1px solid #c1c2c9;
      
      
  }

  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.3, 1);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.3, 1);
  }

}

#add-file {
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.has-error {
  border: 1px solid red;
}