<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-lg-5">
            <h2>Add Docs</h2>
            <h4>You may upload Microsoft Word, Microsoft Excel, (OR) Adobe Acrobat document(s) only. 
                Note: if you upload MS Excel, make sure to upload only one worksheet per file in order to have it included in the submission package. 
                Maximum file upload is 10 megabytes. </h4>

                <div class="form-group">
                    <label for="Type">Type</label>
                    <ng-select2  id="Type" [(ngModel)]="selectedDocType" [allowClear]="true">
                        <option></option>
                      <option *ngFor="let DocType of DocTypes" [value]="DocType.rvLowValue" > {{DocType.rvLowValue}}</option> 
                   </ng-select2>
                </div>

                <label class="btn btn-default">
                    <input type="file" multiple (change)="selectFiles($event)" />
                  </label>
                  
                  <button
                    class="btn btn-success"
                    [disabled]="!selectedFiles"
                    (click)="uploadFiles()"
                  >
                    Upload
                  </button>

        </div>
        <div class="col-lg-7">
            <h2>Submission Package</h2>
            <br><h4>Included Content</h4>
        </div>
    </div>
    <hr>
    <div class="flex">
            <button class="btn btn-outline-dark float-left" (click)="prevStep()">Previous</button>
            <button class="btn btn-primary float-right" (click)="nextStep()">Next</button>
    </div>        
</div>
