.notes-textarea {
  min-width: 180px;
}

.char-count {
  font-size: 0.7rem;
  text-align: right;
  color: #6c757d;
}
::ng-deep .dataTables_wrapper .dataTables_info
{
   padding-top: 0px !important ;
}