.notes-textarea {
  min-width: 180px;
}

.char-count {
  font-size: 0.7rem;
  text-align: right;
  color: #6c757d;
}

.field-with-inline-error {
  position: relative;
  padding-bottom: 0.25rem;
}

.validation-inline-error {
  margin: 0 0 0.25rem;
  line-height: 1;
}

::ng-deep .dataTables_wrapper .dataTables_info
{
   padding-top: 0px !important ;
}