<app-budget-info [readOnly]="budgetInfoReadOnly" [editing]="true"></app-budget-info>
<div class="row">
    <div class="col-12">
        <h3>Budget Documents</h3>
    </div>

    <div class="col-lg-5">

        <div class="form-group">
            <label for="add-file">Choose File</label>
            <div class="input-group">
                <div class="custom-file">
                    <input class="custom-file-input" id="add-file" #inputFile type="file" accept=".doc,.docx,.xls,.xlsx,.pdf" [disabled]="disableFile" (change)="selectFiles($event)">
                    <span class="custom-file-label"  #labelImport for="add-file">Choose file</span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-5">
        <div class="form-group">
            <label for="type">Doc Type</label>
            <ng-select2 id="type" [(ngModel)]="selectedDocType" [allowClear]="true"
                (ngModelChange)="onDocTypeChange($event)">
                <option></option>
                <option *ngFor="let docType of docTypes | async" [value]="docType"> {{docType}}
                </option>
            </ng-select2>
        </div>
    </div>

    <div class="col-lg-2 d-flex align-items-end justify-content-end mb-3">
        <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadFiles()">Upload Doc</button>
    </div>

    <div class="col-12">
        <div class="drag-item" ngbTooltip="Drag & Drop to Order" placement="top-left" *ngFor="let item of budgetDocDtos | async" tabindex="0">
            <span class="doc-name">{{ item.docFilename }}</span>
            <span class="doc-desc">(Added by <a href="mailto: {{item.uploadByEmail}}">{{item.uploadByName}}</a> on
                {{item.createDate}})</span>
    
            <div class="ml-auto">
                <button class="btn btn-link btn-slim ml-2 btn-delete" title="Delete"
                    (click)="deleteDoc(item.id, item.docType)"><i class="fas fa-trash" aria-hidden="true"></i></button>
                <button class="btn btn-link btn-slim ml-1" title="View"
                    (click)="downloadFile(item.id, item.docFilename)"><i class="fas fa-eye"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
