<div class="row">

    <div class="col-12 d-flex">
        <h2>Budget Information</h2>

        <a class="collapse-toggle btn btn-link ml-1" data-toggle="collapse" href="#budget-docs-collapse" role="button"
            aria-expanded="true" aria-controls="budget-docs-collapse"></a>
    </div>

    <div class="col-12 collapse show mt-2" id="budget-docs-collapse">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="add-file">Choose File </label>
                <input id="add-file" #inputFile type="file" accept=".doc,.docx,.xls,.xlsx,.pdf" [disabled]="disableFile"
                    (change)="selectFiles($event)">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="type">Doc Type</label>
                <ng-select2 id="type" [(ngModel)]="selectedDocType" [allowClear]="true"
                    (ngModelChange)="onDocTypeChange($event)">
                    <option></option>
                    <option *ngFor="let docType of docTypes | async" [value]="docType"> {{docType}}
                    </option>
                </ng-select2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="file-description">Description</label>
                <textarea class="form-control" maxlength="1000" id="file-description" rows="1"
                    [(ngModel)]="docDescription"></textarea>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <button class="btn btn-primary ml-auto" [disabled]="!selectedFiles" (click)="uploadFiles()">Upload
                    Doc</button>
            </div>
        </div>


        <div class="drag-item" *ngFor="let item of budgetDocDtos | async" tabindex="0">
            <span class="doc-name">{{ item.docFilename }}</span>
            <span class="doc-desc">(Added by <a href="mailto: {{item.uploadByEmail}}">{{item.uploadByName}}</a> on
                {{item.createDate}})</span>

            <div class="ml-auto">
                <button class="btn btn-link btn-slim ml-2 btn-delete" title="Delete"
                    (click)="deleteDoc(item.id, item.docType)"><i class="fas fa-trash" aria-hidden="true"></i></button>
                <button class="btn btn-link btn-slim ml-1" title="View"
                    (click)="downloadFile(item.id, item.docFilename)"><i class="fas fa-eye"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>