<div class="row">

  <div class="col-12">
    <h2 class="mb-3">Request Information</h2>
  </div>
  <div class="col-12" *ngFor="let alert of alertService.alerts">
  <p>
    <ngb-alert [type]="alert.type" (closed)="alertService.clearAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  </div>

  <div class="col-lg-4">
    <app-funding-request-type [(selectedValue)]="selectedRequestType" [filter]="true"></app-funding-request-type>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="request-name-text">Request Name <i class="fas fa-question-circle more-info"  triggers="click:blur" placement="top" ngbTooltip="Provide a request name that you can easily identify and track"></i></label>
      <input id="request-name-text" maxlength="100" class="form-control" type="text" [(ngModel)]="model.requestDto.financialInfoDto.requestName">
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group">
      <label for="grant-fy">Request FY</label>
      <input id="grant-fy" type="text" readonly class="form-control-plaintext" value="{{ model.requestDto.fy }}">
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <lib-pdname-dropdown [(selectedValue)]="selectedPd" label="Requesting PD" [broadcast]="true" [showInactiveToggle]="false"></lib-pdname-dropdown>
  </div>

  <div class="col-md-4 col-lg-4">
    <lib-cancer-activities-dropdown [selectSingleOption]="true" [(selectedValue)]="selectedCayCode" [maxSelection]="1" [syncWithPd]="true" label="Requesting PD's Cancer Activity"></lib-cancer-activities-dropdown>
  </div>

  <div class="col-md-2 col-lg-4">
    <app-type4-conversion-mechanism *ngIf="type4Selected()"></app-type4-conversion-mechanism>
  </div>

</div><!-- END Row -->
<div class="row">
  <div class="col-12">
    <app-skipped-grants *ngIf="payUsingSkip()"></app-skipped-grants>
  </div>
</div>
