<div class="row">
  <h2>Request Information</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-funding-request-type [filter]="true"></app-funding-request-type>
  </div>
  <div class="col-md-4">
    <label for="request-name-text">Request Name</label><br>
    <input id="request-name-text" type="text" [width]='610' [(ngModel)]="model.requestName">
  </div>
  <div class="col-md-2">
    <label for="fy-span">FY</label><br>
    <span id="fy-span">{{ grant.fy }}</span>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <lib-pdname-dropdown label="PD Name" apiCallName="activePds" (selectedPdIdValue)="receivePdIdValue($event)" [showInactiveToggle]="true"></lib-pdname-dropdown>
  </div>
  <div class="col-lg-6">
    <lib-cancer-activities-dropdown label="PD's Cancer Activities"  (selectedCasValues)="receiveCasValue($event)"></lib-cancer-activities-dropdown>
  </div>

</div>
