<ng-template #workflowModal let-modal>
  <form #wfcForm="ngForm" (ngSubmit)="onSubmit(wfcForm)">
    <div class="modal-header">
      <span class="modal-title" id="modal-title-hold">{{ title }}</span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12"  *ngIf="alert">
        <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      </div> 
      <p *ngIf="mode==='WITHDRAW'">
        Once you withdraw the funding request, an automated email will be sent to the 
        requester and previous approver(s) (if applicable) notifying this action. 
        The requester will have the option to edit and resubmit the request.
      </p>
      <p *ngIf="mode==='HOLD'">
        Placing this funding request on hold will stop further processing of this request. 
        An automated email will be sent to the requester, current and previous approver(s) 
        (if applicable) notifying this action.
      </p>
      <p *ngIf="mode==='RELEASE'">
        Releasing this funding request from the "Hold" status will resume the processing 
        of this request. An automated email will be sent to the current approver & 
        designee(s) to process the request.
      </p>
      <div class="form-group">
        <label for="wf-comments">Workflow Comments</label>
        <textarea 
        [(ngModel)]="comments" 
        id="wfcomments" 
        name="wfcomments"
        class="form-control" 
        rows="2" 
        maxlength="500"
        [required] = "mode!=='RELEASE'" 
        #wfcomments="ngModel"></textarea>
        <span class="text-danger mt-1" *ngIf="(wfcomments.invalid) && (wfcomments.touched || wfcForm.submitted) ">
          Approved Future Years is required
        </span>
        <span class="character-counter">{{comments.length}}/500</span>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value ="{{buttonText}}">
    </div>
  </form>
  </ng-template>
