<div class="row">
    <div class="col-12 d-flex">
        <h2>Grant Information</h2>
        <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#grant-info-collapse" role="button" aria-expanded="true" aria-controls="grant-info-collapse"></a>
    </div>
</div>

<div class="row collapse show mt-2" id="grant-info-collapse">

    <div class="col-lg-3">
        <div class="form-group">
            <p class="like-label">Grant Number</p>
            <p>
              <a href="{{model.grantViewerUrl+grant.applId}}" target="yourgrant">{{grant.fullGrantNum}}</a>
              <a href="{{model.eGrantsUrl+grant.applId}}" target="yourgrant" ngbTooltip="eGrants" class="hint--right" style="float:right">
                <img src="images/egrants_icon.svg" height="18" style="padding:3px;margin:0px 2px;border: 0px;">
              </a>
            </p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <p class="like-label">Project Title</p>
            <p>{{ grant.projectTitle }}</p>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <p class="like-label">PI</p>
            <p><span [innerHTML]="grant|mailtoFormatter: 'piFullName':'piEmail':'Grant related stuff'"></span></p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <p class="like-label">Institution</p>
            <p>{{ grant.orgName }}</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <p class="like-label">PD</p>
            <p><span [innerHTML]="grant|mailtoFormatter: 'pdFullName':'pdEmailAddress':'Grant related stuff'"></span></p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <p class="like-label">I2 Status</p>
            <p>{{ grant.applStatusGroupCode }}</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-2">
        <div class="form-group">
            <p class="like-label">CA</p>
            <p>{{ grant.cayCode }}</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-2">
        <div class="form-group">
            <p class="like-label">DOC</p>
            <p>{{ grant.doc }}</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <p class="like-label">Thrust Information</p>
            <p>{{ grant.thtCode }}</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="form-group">
            <p class="like-label">Budget Start Date</p>
            <p>{{ grant.budgetStartDate }}</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-2">
        <div class="form-group">
            <p class="like-label">NCAB</p>
            <p>{{ grant.councilMeetingDate|formatNcabDate }}</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-2">
        <div class="form-group">
            <p class="like-label">Score</p>
            <p>{{ grant.priorityScoreNum }}</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-2">
        <div class="form-group">
            <p class="like-label">Percentile</p>
            <p>{{ grant.irgPercentileNum }}</p>
        </div>
    </div>


</div><!-- END Row -->
