<div class="row">
  <h2>Grant Information</h2>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Grant Number</h4>
    <br><a href="{{grantViewerUrl+grant.applId}}" target="yourgrant">{{grant.fullGrantNum}}</a>
  </div>
  <div class="col-md-3">
    <h4>Project Title</h4>
    <br>{{ grant.projectTitle }}
  </div>
  <div class="col-md-3">
    <h4>PI</h4>
    <br><div [innerHTML]="grant|mailtoFormatter: 'piFullName':'piEmail':'Grant related stuff'"></div>
  </div>
  <div class="col-md-3">
    <h4>Institution</h4>
    <br>{{ grant.orgName }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>PD</h4>
    <br><div [innerHTML]="grant|mailtoFormatter: 'pdFullName':'pdEmailAddress':'Grant related stuff'"></div>
  </div>
  <div class="col-md-3">
    <h4>I2 Status</h4>
    <br>{{ grant.ipf }}
  </div>
  <div class="col-md-3">
    <h4>CA</h4>
    <br>{{ grant.cayCode }}
  </div>
  <div class="col-md-3">
    <h4>DOC</h4>
    <br>{{ grant.doc }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Thrust Information</h4>
    <br>{{ grant.thtCode }}
  </div>
  <div class="col-md-3">
    <h4>Budget Start Date</h4>
    <br>{{ grant.budgetStartDate }}
  </div>
  <div class="col-md-3">
    <h4>NCAB</h4>
    <br>{{ grant.councilMeetingDate|formatNcabDate }}
  </div>
  <div class="col-md-3">
    <h4>Score</h4>
    <br>{{ grant.priorityScoreNum }}
  </div>
  <div class="col-md-3">
    <h4>Percentile</h4>
    <br>{{ grant.irgPercentileNum }}
  </div>
</div>
