<div class="row">

  <div class="col-12">
    <h2 class="mb-3">Request Information</h2>
  </div>
  <div class="col-12">
    <app-alert-billboard [alerts]="myAlerts"></app-alert-billboard>
  </div>

  <div class="col-lg-4">
    <app-funding-request-type [parentForm]="parentForm" [(selectedValue)]="selectedRequestType" [filter]="true" [required]="true"></app-funding-request-type>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="request-name-text">Request Name <i class="fas fa-question-circle more-info"  triggers="click:blur" placement="top" ngbTooltip="Provide a request name that you can easily identify and track"></i></label>
      <input
        id="request-name-text"
        maxlength="100"
        class="form-control"
        type="text"
        name="requestName"
        #requestName="ngModel"
        [(ngModel)]="model.requestDto.financialInfoDto.requestName" required>
      <div
        class="text-danger mt-1"
        *ngIf="!requestName.valid && (requestName.touched || parentForm.submitted)">
        Request name is required
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group">
      <label for="grant-fy">Request FY</label>
      <input id="grant-fy" type="text" readonly class="form-control-plaintext" value="{{ model.requestDto.requestFy }}">
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <lib-pdname-dropdown [cayCodes]="pdCayCodes" [(selectedValue)]="selectedPd" label="Requesting PD" [broadcast]="true" [showInactiveToggle]="false"></lib-pdname-dropdown>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.errors?.pdNameRequired && (parentForm.submitted || parentForm.touched)">
      PD is required
    </div>

  </div>

  <div class="col-md-4 col-lg-4">
    <lib-cancer-activities-dropdown [lockedOptions]="pdCayCodes" [selectSingleOption]="true" [(selectedValue)]="selectedCayCode" [maxSelection]="1" [syncWithPd]="true" label="Requesting PD's Cancer Activity"></lib-cancer-activities-dropdown>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.errors?.cayCodeIsRequired && (parentForm.submitted || parentForm.touched)">
      Cancer activity is required
    </div>
  </div>

  <div class="col-md-2 col-lg-4" *ngIf="type4Selected()">
    <app-type4-conversion-mechanism [parentForm]="parentForm"></app-type4-conversion-mechanism>
  </div>

</div><!-- END Row -->

<div class="row">
  <div class="col-12"*ngIf="payUsingSkip()">
    <app-skipped-grants></app-skipped-grants>
  </div>
</div>
