<div class="row">

  <div class="col-12">
    <h2 class="mb-3">Request Information</h2>
  </div>
  <div class="col-12">
    <app-alert-billboard [alerts]="myAlerts"></app-alert-billboard>
  </div>

  <div class="col-lg-4">
    <app-funding-request-type [parentForm]="parentForm" [(selectedValue)]="selectedRequestType" [filter]="true" [required]="true"></app-funding-request-type>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="request-name-text">Request Name <i class="fas fa-question-circle more-info"  triggers="click:blur" placement="top" ngbTooltip="Provide a request name that you can easily identify and track"></i></label>
      <input
        id="request-name-text"
        maxlength="100"
        class="form-control"
        type="text"
        name="requestName"
        #requestName="ngModel"
        [(ngModel)]="model.requestDto.financialInfoDto.requestName" required>
      <div
        class="text-danger mt-1"
        *ngIf="!requestName.valid && (requestName.touched || parentForm.submitted)">
        Request name is required
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group">
      <label for="grant-fy">Request FY</label>
      <input id="grant-fy" type="text" readonly class="form-control-plaintext" value="{{ model.requestDto.requestFy }}">
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <lib-pdname-dropdown
      [cayCodes]="pdCayCodes"
      [(selectedValue)]="selectedPd"
      label="Requesting PD"
      [broadcast]="true"
      [activeCayOnly]="true"
      [filterOnNoActiveCay]="true"
      [showInactiveToggle]="false">
    </lib-pdname-dropdown>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.errors?.pdNameRequired && (parentForm.submitted || parentForm.touched)">
      PD is required
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <lib-cancer-activities-dropdown
      [lockedOptions]="pdCayCodes"
      [selectSingleOption]="true"
      [(selectedValue)]="selectedCayCode"
      [maxSelection]="1"
      [syncWithPd]="true"
      label="Requesting PD's Cancer Activity">
    </lib-cancer-activities-dropdown>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.errors?.cayCodeIsRequired && (parentForm.submitted || parentForm.touched)">
      Cancer activity is required
    </div>
  </div>

  <div class="col-md-2 col-lg-4" *ngIf="type4Selected()">
    <app-type4-conversion-mechanism [parentForm]="parentForm"></app-type4-conversion-mechanism>
  </div>

<!--  <div class="col-md-12 col-lg-12" *ngIf="payType4K99R00Conversion()">-->
<!--    <ngb-alert type="warning" [dismissible]="true">-->
<!--      <b>WARNING:</b> Select the PD who will be assigned to the R00, NOT the PD assigned to the K99.-->
<!--    </ngb-alert>-->
    <div class="col-md-4 col-lg-4" *ngIf="payType4K99R00Conversion()">
      <lib-pdname-dropdown-v2
        [debug]="true"
        [name]="'r00pdName'"
        [(selectedValue)]="altPdNpnId"
        (selectedValueChange)="captureSelection($event)"
        [channel]="'r00pd'"
        label="R00 PD"
        [broadcast]="true"
        [activeCayOnly]="true"
        [filterOnNoActiveCay]="true"
        [showInactiveToggle]="false">
      </lib-pdname-dropdown-v2>
      <div
        class="text-danger mt-1"
        *ngIf="parentForm.errors?.altPdNameRequired && (parentForm.submitted || parentForm.touched)">
        R00 PD is required
      </div>
      <div
        class="text-danger mt-1"
        *ngIf="parentForm.errors?.uniquePdsRequired && (parentForm.submitted || parentForm.touched)">
        Requesting PD and R00 PD must not be the same
      </div>

    </div>

    <div class="col-md-4 col-lg-4" *ngIf="payType4K99R00Conversion()">
      <lib-cancer-activities-dropdown-v2
        [debug]="true"
        [name]="'r00CancerActivity'"
        [selectSingleOption]="true"
        [channel]="'r00pd'"
        [(selectedValue)]="altCayCode"
        [maxSelection]="1"
        [syncWithPd]="true"
        label="R00 PD's Cancer Activity"></lib-cancer-activities-dropdown-v2>
      <div
        class="text-danger mt-1"
        *ngIf="parentForm.errors?.altCayCodeRequired && (parentForm.submitted || parentForm.touched)">
        R00 cancer activity is required
      </div>
    </div>
<!--  </div>-->

  <div class="col-md-2 col-lg-4" *ngIf="showFpcSelect()">
    <label for="policy-cut">Funding Policy Cut</label>
    <ng-select2
    id="policy-cut"
    name="fundingPolicyCut"
    #fundingPolicyCut="ngModel"
    [(ngModel)]="selectedFundingPolicyCut"
    [allowClear]="true"
    [data]="fundingPolicyCutCodes"
    required>
    </ng-select2>
    <div
      class="text-danger mt-1"
      *ngIf="fundingPolicyCut.errors?.required && (fundingPolicyCut.touched || parentForm?.submitted)">
      Funding Policy Cut is required
    </div>
  </div>

</div><!-- END Row -->

<div *ngIf="payUsingSkip()">
    <app-skipped-grants [parentForm]="parentForm"></app-skipped-grants>
</div>
