<ng-container *ngIf="readonly; then read_only else edit;"></ng-container>

<ng-template #edit>
  <div class="form-group">
    <!--    <label for="oefia-type">OEFIA Type</label>-->
    <div class="d-flex">
      <div class="form-check ml-auto d-flex">
        <input type="checkbox" [id]="uniqueId" (change)="onCheckboxChange($event, index)">
        <label [for]="uniqueId">All CANs</label>
      </div>
    </div>
    <ng-select2
      id="can"
      name="can"
      [allowClear]="true"
      [data]="data"
      [(ngModel)]="selectedValue">
      <option></option>
    </ng-select2>
  </div>
</ng-template>

<ng-template #read_only>
  <a [routerLink]="" [ngbTooltip]="canTooltip" triggers="click:blur">{{ selectedCanData?.can }}</a> | {{ selectedCanData?.canDescrip }}
</ng-template>


<ng-template #canTooltip><span class='institutionName'>{{selectedCanData.can}}</span><br>
  <span class='institutionLocation'>{{selectedCanData.canDescrip}}</span>
</ng-template>

