<ng-container *ngIf="readonly; then read_only else edit;"></ng-container>

<ng-template #edit>
  <form #canForm="ngForm">
  <div class="form-group">
      <ng-select2
        [allowClear]="true"
        [name]="'can_sparkle'"
        [data]="data"
        [(ngModel)]="selectedValue"
        [required]="canRequired"
        (ngModelChange)="onModelChange()"
        #canSelect="ngModel">
      </ng-select2>
      <div class="text-danger mt-1" *ngIf="canRequired && (canSelect.errors?.required)">
        Error: Missing CAN for one or more funding sources.
      </div>
  </div>
  </form>
</ng-template>

<ng-template #read_only>
  <span *ngIf="selectedCanData?.can">
    <a [routerLink]="[]" [ngbTooltip]="canTooltip"
       triggers="click:blur">{{ selectedCanData?.can }}</a> | {{ selectedCanData?.canDescrip }}
  </span>
</ng-template>

<ng-template #canTooltip><span class='institutionName'>{{selectedCanData.canPhsOrgCode}}</span><br>
  <span class='institutionLocation'>{{selectedCanData.canDescrip}}</span>
</ng-template>

