<form #dummy="ngForm">
  <div class="row">
    <div class="col-12 mb-5">

      <h2>Applications Proposed for Funding</h2>

      <div class="table-responsive">

        <table class="table table-bordered table-striped app-funding-table multiple-FS">
          <thead>
          <tr>
            <th scope="col">Grant Information</th>
            <th *ngFor="let source of planModel.fundingPlanDto.fpFinancialInformation.fundingPlanFundsSources" colspan="2">
              <div class="d-flex align-items-center">
                <span>{{ source.fundingSourceName }}</span>
              </div>
            </th>

            <th *ngIf="planModel.fundingPlanDto?.fpFinancialInformation?.fundingPlanFundsSources?.length > 1" scope="col" colspan="2">Total Recommended Costs</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let grant of listGrantsSelected; let grantIndex = index;">
            <td>
              <app-fp-grant-information
                [parentForm]="dummy"
                [grantIndex]="grantIndex"
                [grant]="grant"
                [readOnly]="true"
                [sourceIndex]="0">
              </app-fp-grant-information>
            </td>
            <!-- ======================================== START GRANT INFO WRAPPER ======================================== -->

            <ng-container *ngFor="let source of planModel.fundingPlanDto.fpFinancialInformation.fundingPlanFundsSources; let sourceIndex = index">
            <td>
              <strong>Direct</strong><br/>
              {{ directCost(grant.applId, source.fundingSourceId) | currency }} <br/>
              {{ directCostPercentCut(grant.applId, source.fundingSourceId) | percent }}
            </td>

            <td>
              <strong>Total</strong><br/>
              {{ totalCost(grant.applId, source.fundingSourceId) | currency }} <br/>
              {{ totalCostPercentCut(grant.applId, source.fundingSourceId) | percent }}
            </td>
            </ng-container>

            <ng-container *ngIf="planModel.fundingPlanDto?.fpFinancialInformation?.fundingPlanFundsSources?.length > 1">
            <td>
              <strong>Direct</strong><br/>
              {{ 'Direct total for grant ' + grant.applId }}
            </td>

            <td>
              <strong>Total</strong><br/>
              {{ 'Total total for grant ' + grant.applId }}
            </td>
            </ng-container>

          </tr>

          </tbody>

          <tfoot>
          <tr>
            <td scope="row"><strong>Total Recommended Costs</strong></td>
            <ng-container *ngFor="let source of planModel.fundingPlanDto.fpFinancialInformation.fundingPlanFundsSources; let sourceIndex = index">
            <td>
              <strong>Direct</strong><br/>
              {{ sourceDirectTotal(source.fundingSourceId) | currency}}
            </td>

            <td>
              <strong>Total</strong><br/>
              {{ sourceTotalTotal(source.fundingSourceId) | currency }}
            </td>
            </ng-container>

            <ng-container *ngIf="planModel.fundingPlanDto?.fpFinancialInformation?.fundingPlanFundsSources?.length > 1">
            <td>
              <strong>Direct</strong><br/>
              {{ 'Total direct for all sources all grants'}}
            </td>

            <td>
              <strong>Total</strong><br/>
              {{ 'Total total for all sources all grants'}}
            </td>
            </ng-container>
          </tr>
          </tfoot>

        </table>

      </div>

    </div>
  </div>
</form>
