<form #dummy="ngForm">
  <div class="row">
    <div class="col-12 mb-5">

      <h2>Applications Proposed for Funding</h2>

      <div class="table-responsive">

        <table class="table table-bordered table-striped app-funding-table multiple-FS">
          <thead>
          <tr>
            <th scope="col">Grant Information</th>
            <th colspan="2">
              <div class="d-flex align-items-center">
                <span>DCB Discretionary RPG Funds</span>
              </div>
            </th>
            <th colspan="2">
              <div class="d-flex align-items-center">
                <span>Pool RPG Funds</span>
              </div>
            </th>
            <th colspan="2">
              <div class="d-flex align-items-center">
                <span>Another One</span>
              </div>
            </th>
            <th scope="col" colspan="2">Total Recommended Costs</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let grant of listGrantsSelected; let i = index;">
            <td>
              <app-fp-grant-information
                [parentForm]="dummy"
                [grantIndex]="i"
                [grant]="grant"
                [readOnly]="true"
                [sourceIndex]="0">
              </app-fp-grant-information>
            </td>
            <!-- ======================================== START GRANT INFO WRAPPER ======================================== -->

            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00<br/>
              80% Cut
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00<br/>
              80% Cut
            </td>

            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00<br/>
              80% Cut
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00<br/>
              80% Cut
            </td>

            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00<br/>
              80% Cut
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00<br/>
              80% Cut
            </td>

            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00
            </td>

          </tr>

          </tbody>

          <tfoot>
          <tr>
            <td scope="row"><strong>Total Recommended Costs</strong></td>
            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00
            </td>
            <td>
              <strong>Direct</strong><br/>
              $1,000,000.00
            </td>

            <td>
              <strong>Total</strong><br/>
              $1,000,000.00
            </td>
          </tr>
          </tfoot>

        </table>

      </div>

    </div>
  </div>
</form>
