<form #dummy="ngForm">
  <div class="row">
    <div class="col-12 d-flex">
      <h2>Applications Proposed for Funding</h2>
      <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#apffreadonly-collapse" role="button"
      aria-expanded="true" aria-controls="apffreadonly-collapse"></a>
    </div>
    <div  class="col-12 collapse show" id="apffreadonly-collapse">
      <div class="table-responsive">
        <table class="table table-bordered table-striped app-funding-table multiple-FS">
          <thead>
          <tr>
            <th  class="plan-grant-info" scope="col">Grant Information</th>
            <th *ngFor="let source of planModel.fundingPlanDto.fpFinancialInformation.fundingPlanFundsSources" colspan="1" >
              <label>Program Recommended Costs</label>
              <hr>
              <div class="d-flex align-items-center ">
                <span class="plan-table">{{ source.fundingSourceName }}</span>
              </div>
            </th>

            <th *ngIf="planModel.fundingPlanDto?.fpFinancialInformation?.fundingPlanFundsSources?.length > 1" scope="col" colspan="1">Total Recommended Costs</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let grant of listGrantsSelected; let grantIndex = index;">
            <td>
              <app-fp-grant-information
                [parentForm]="dummy"
                [grantIndex]="grantIndex"
                [grant]="grant"
                [readOnly]="true"
                [sourceIndex]="0">
              </app-fp-grant-information>
            </td>
            <!-- ======================================== START GRANT INFO WRAPPER ======================================== -->

            <ng-container *ngFor="let source of planModel.fundingPlanDto.fpFinancialInformation.fundingPlanFundsSources; let sourceIndex = index">
            <td>
              <strong>Direct</strong><br/>
              {{ directCost(grant.applId, source.fundingSourceId) | currency }} <br/>
              ({{ directCostPercentCut(grant.applId, source.fundingSourceId) | percent }} Cut)
            <br/>
              <strong>Total</strong><br/>
              {{ totalCost(grant.applId, source.fundingSourceId) | currency }} <br/>
              ({{ totalCostPercentCut(grant.applId, source.fundingSourceId) | percent }} Cut)
            </td>
            </ng-container>

            <ng-container *ngIf="planModel.fundingPlanDto?.fpFinancialInformation?.fundingPlanFundsSources?.length > 1">
            <td>
              <strong>Direct</strong><br/>
              {{ requestTotalDirect(grant.applId) | currency }}
            <br/>
            <br/>
              <strong>Total</strong><br/>
              {{ requestTotalTotal(grant.applId) | currency }}
            </td>
            </ng-container>

          </tr>

          </tbody>

          <tfoot>
          <tr>
            <td scope="row"><strong>Total Recommended Costs</strong></td>
            <ng-container *ngFor="let source of planModel.fundingPlanDto.fpFinancialInformation.fundingPlanFundsSources; let sourceIndex = index">
            <td>
              <strong>Direct</strong><br/>
              {{ sourceDirectTotal(source.fundingSourceId) | currency}}
            <br />
              <strong>Total</strong><br/>
              {{ sourceTotalTotal(source.fundingSourceId) | currency }}
            </td>
            </ng-container>

            <ng-container *ngIf="planModel.fundingPlanDto?.fpFinancialInformation?.fundingPlanFundsSources?.length > 1">
            <td>
              <strong>Direct</strong><br/>
              {{ grandTotalDirect() | currency }}
            <br />
              <strong>Total</strong><br/>
              {{ grandTotalTotal() | currency }}
            </td>
            </ng-container>
          </tr>
          </tfoot>

        </table>

      </div>
      <div>Showing 1 to {{listGrantsSelected.length}} of {{listGrantsSelected.length}} entries</div>
      <div *ngIf=(planModel.fundingPlanDto.comments)>
        <ngb-alert type="primary" [dismissible]="false" class="workflow-comments mt-3">
          <div><i class="fal fa-comment-alt-lines fa-3x" aria-hidden="true"></i></div>
          <div class="comment-content">
            <div class="comment-details">{{ planModel.fundingPlanDto.comments }}</div>
          </div>
        </ngb-alert>
      </div>
      
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
</form>
