<app-header *ngIf="router.url !== '/fundingSourceDetails' && router.url !== '/restoreSession'"></app-header>
<app-loader-spinner></app-loader-spinner>

<div class="container" id="site-content">
    <div class="row">
        <div class="col-lg-2">
            <app-fs-menu *ngIf="router.url !== '/fundingSourceDetails' && router.url !== '/restoreSession'"></app-fs-menu>
        </div>
        <div class="col-lg-10">
            <main id="main">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>

<app-footer></app-footer>