<div>
  <a  *ngIf="model.returnToRequestPageLink" href="#" class="btn btn-sm btn-link btn-back"  ><i class="far fa-arrow-left fa-sm mr-1" aria-hidden="true"></i>Return to Request Query Page</a>
    <div class="row">
        <div class="col">
            <h1>{{model.title}} <span *ngIf="model.requestDto?.frqId"># {{model.requestDto?.frqId}}</span> &mdash; Step {{activeStep.step}}: {{activeStep.name}}</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8 col-xl-6">
            <app-step-indicator [steps]="steps" [activeStep]="activeStep" [hidden]="!showSteps"></app-step-indicator>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>
