<div>
  <a  *ngIf="model.returnToRequestPageLink" routerLink="/search/immediate" class="btn btn-sm btn-link btn-back"  ><i class="far fa-arrow-left fa-sm mr-1" aria-hidden="true"></i>Return to Request Query Page</a>
    <div class="row" id="funding-request-page-top">
        <div class="col-lg-10">
            <h1>{{model.title}} <span *ngIf="model.requestDto?.frqId"># {{model.requestDto?.frqId}}</span>
            <span [hidden]="!showSteps">&mdash; Step {{activeStep.step}}: {{activeStep.name}}</span></h1>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary btn-sm float-right" (click)="goToWorkflow()" *ngIf="showGoToWorkflowButton()"><i class="fas fa-arrow-to-bottom"></i> Go to Workflow</button>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8 col-xl-6">
            <app-step-indicator [steps]="steps" [activeStep]="activeStep" [hidden]="!showSteps"></app-step-indicator>
        </div>
    </div>

    <router-outlet (activate)="onActivate($event)"></router-outlet>

</div>
