<!-- BEGIN Funding Plan Information Section -->

<!--<div class="row">-->
<form #parentForm="ngForm">
    <app-funding-plan-information [showTitle]="true" [readOnly]="true" [parentForm]="parentForm"></app-funding-plan-information>
</form>
<!--    <div class="col-12 d-flex">-->
<!--        <h2>Funding Plan Information</h2>-->
<!--        <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#fplan-info-collapse" role="button" aria-expanded="true" aria-controls="fplan-info-collapse"></a>-->
<!--    </div>-->
<!--    <div class="col-12 collapse show mt-2" id="fplan-info-collapse">-->
<!--        <table class="table table-striped table-bordered">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">FOA #</th>-->
<!--                    <th scope="col">Concept ID</th>-->
<!--                    <th scope="col">FOA Title</th>-->
<!--                    <th scope="col">Issue Type</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <a href="#">PAR19-264</a>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <a href="#">6572</a>-->
<!--                    </td>-->
<!--                    <td>Integrative Analysis of the Human Tumor Immune Microenvironment</td>-->
<!--                    <td>-->
<!--                        <div class="d-flex">-->
<!--                            <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="radioBasic">-->
<!--                                <label ngbButtonLabel class="btn-outline-secondary">-->
<!--                                    <input ngbButton type="radio" value="new">New-->
<!--                                </label>-->
<!--                                <label ngbButtonLabel class="btn-outline-secondary">-->
<!--                                    <input ngbButton type="radio" value="reissue">Reissue-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <input type="text" id="issue-type" style="width:7rem" class="form-control form-control-sm ml-2">-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--        </table>-->

<!--        <div class="row">-->
<!--            <div class="col-lg-2 col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label for="fundable-score-range">Fundable Score&nbsp;Range</label>-->
<!--                    <input type="text" readonly class="form-control-plaintext" id="fundable-score-range" value="23 &ndash; 26">-->
<!--                </div>-->
<!--            </div>-->
<!--        -->
<!--            <div class="col-lg-2 col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label for="apps-recieved">Applications Recieved</label>-->
<!--                    <input type="text" readonly class="form-control-plaintext" id="apps-recieved" value="35">-->
<!--                </div>-->
<!--            </div>-->
<!--        -->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label for="apps-proposed">Applications Proposed for&nbsp;Funding</label>-->
<!--                    <input type="text" readonly class="form-control-plaintext" id="apps-proposed" value="6">-->
<!--                </div>-->
<!--            </div>-->
<!--        -->
<!--            <div class="col-lg-2 col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label for="apps-skipped">Applications Skipped</label>-->
<!--                    <input type="text" readonly class="form-control-plaintext" id="apps-skipped" value="1">-->
<!--                </div>-->
<!--            </div>-->
<!--        -->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label for="apps-not-considered">Applications Not Considered for&nbsp;Funding</label>-->
<!--                    <input type="text" readonly class="form-control-plaintext" id="apps-not-considered" value="1">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; END Row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; END col-12 &ndash;&gt;-->
<!--    <div class="col-12">-->
<!--        <hr>-->
<!--    </div>-->
<!--</div>-->

<!-- END Funding Plan Information Section -->

<!-- BEGIN Applications Skipped Section -->

<div class="row" *ngIf="!noSkipResult">
    <div class="col-12 d-flex">
        <h2>Application(s) Skipped</h2>
        <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#apps-skipped-collapse" role="button" aria-expanded="true" aria-controls="apps-skipped-collapse"></a>
    </div>
    <div class="col-12 collapse show mt-2" id="apps-skipped-collapse">
        <app-grant-table [grantList]="skGrants"></app-grant-table>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<!-- END Applications Skipped Section -->

<!-- BEGIN Applications Not Considered Section -->

<div class="row">
    <div class="col-12 d-flex">
        <h2>Application(s) Not Considered for Funding</h2>
        <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#apps-notconsidered-collapse" role="button" aria-expanded="true" aria-controls="apps-notconsidered-collapse"></a>
    </div>
    <div class="col-12 collapse show mt-2" id="apps-notconsidered-collapse">
        <p *ngIf="!ncGrants || ncGrants.length === 0">
            Nothing found to be displayed. All applications received for this FOA to NCAB 
            <span *ngFor = "let rfaNcCab of planModel.grantsSearchCriteria let j=index">
                <span *ngFor = "let ncCab of rfaNcCab.ncabDates, let i=index">
                    {{i!=0?', ':''}}{{ncCab | formatNcabDate }} 
                </span>
            </span> 
            have been considered for funding.
        </p>
        <p *ngIf="ncGrants.length > 0">
            <app-grant-table [grantList]="ncGrants"></app-grant-table>
        </p>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<!-- END Applications Not Considered Section -->

<div class="row">
    <div class="col-12 d-flex">
        <button type="button" class="btn btn-outline-secondary mr-auto" (click)="previous()">Previous</button>
        <button type="button" class="btn btn-primary" (click)="saveContinue()">Save and Continue</button>
    </div>
</div>
