<div class="form-group">
  <label for="request-type-select">Request Type <a href="#" (click)="openPdfDoc()">
    <i class="fas fa-question-circle more-info"></i></a></label>
  <ng-select2
    id="request-type-select"
    name="fundingRequestType"
    #fundingRequestType="ngModel"
    [(ngModel)]="selectedValue"
    [allowClear]="true"
    [data]="data"
    [options]="options"
    [ngClass]="{'is-invalid': (!fundingRequestType.valid && (fundingRequestType.touched || parentForm.submitted) || parentForm.errors?.mustSelectDiversitySupplement ) }"
    [required]="required"
    appActiveInitialPayValidator
    [ngModelOptions]="{updateOn: 'change'}">
  </ng-select2>
  <app-alert-billboard [alerts]="alerts"></app-alert-billboard>
  <div
    class="text-danger mt-1"
    *ngIf="fundingRequestType.errors?.required && (fundingRequestType.touched || parentForm.submitted)">
    Request type is required
  </div>
  <div
    class="text-danger mt-1"
    *ngIf="parentForm.errors?.mustSelectDiversitySupplement">
    You must select Diversity Supplement (includes CURE Supplements) as the request type
  </div>
  <div
    class="text-danger mt-1"
    *ngIf="fundingRequestType.errors?.initialPayGrantExists">
    There is another "Initial Pay" request in the system for this grant. There can only be ONE Initial Pay request per
    grant per fiscal year. The other funding request ID is {{model.initialPay}}.
  </div>
</div>




