<div>
    <div class="row">
        <div class="col">
            <h1>{{model.title}} <span *ngIf="model.requestDto?.frqId"># {{model.requestDto?.frqId}}</span> &mdash; Step {{activeStep.step}}: {{activeStep.name}}</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-md-8 col-xl-9">
            <app-step-indicator [steps]="steps" [activeStep]="activeStep"></app-step-indicator>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>
