<div class="row float-right" *ngIf="activeStep.step === 1">
    <div class="col">
        <a href="{{model.yourgrantsUrl}}" target="yourgrant">Your Grants</a>
    </div>
</div>
<div>
  <div *ngIf="model.returnToSearchLink">
    <a routerLink="/search/immediate" class="btn btn-sm btn-link btn-back"><i
    class="far fa-arrow-left fa-sm mr-1" aria-hidden="true"></i>Return to Plan Query Page</a>
    <span *ngIf="plansNav.show">
      <a *ngIf="plansNav.prev" href="#" (click)="plansNav.onPrevious($event)" class="ml-2 btn btn-sm btn-link btn-back"> Prev &lt; </a>
      <a *ngIf="!plansNav.prev" class="ml-2 btn btn-sm btn-link btn-back disabled"> Prev &lt; </a>
      <span class="btn btn-sm btn-back"> {{plansNav.current + 1}} of {{plansNav.total}} </span>
      <a *ngIf="plansNav.next" href="#" (click)="plansNav.onNext($event)" class="btn btn-sm btn-link btn-back"> &gt; Next</a>
      <a *ngIf="!plansNav.next" class="btn btn-sm btn-link btn-back disabled"> &gt; Next</a>
    </span>
  </div>
    <div class="row" id="funding-plan-page-top">
        <div class="col-lg-10">
            <h1>{{model.title}} <span *ngIf="model.fundingPlanDto?.fprId"># {{model.fundingPlanDto.fprId}}</span>
            <span [hidden]="!showSteps"> &mdash; Step {{activeStep.step}}: {{activeStep.screenName}}</span>
            </h1>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary btn-sm float-right" (click)="goToWorkflow()" *ngIf="showGoToWorkflowButton()"><i class="fas fa-arrow-to-bottom"></i> Go to Workflow</button>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-md-8 col-xl-9">
            <app-step-indicator [steps]="steps" [activeStep]="activeStep" [hidden]="!showSteps"></app-step-indicator>
        </div>
    </div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
