<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="loa">What is the final scientific level of authority based on
        <a href="http://intranet.cancer.gov/admin/grants/policy/nci/ncipolicy.htm" target="_blank" class="external-link">NCI Policy</a>?
      </label>
      <ng-select2
        id="loa"
        class="w-auto"
        name="finalLoa"
        #finalLoa="ngModel"
        [data]="data"
        [(ngModel)]="selectedValue">
      </ng-select2>
    </div>
  </div>
</div>
