<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="loa">What is the final scientific level of authority based on
        <a href="http://intranet.cancer.gov/admin/grants/policy/nci/ncipolicy.htm" target="_blank" class="external-link">NCI Policy</a>?
      </label>
      <select
        id="loa"
        class="form-control w-auto"
        [(ngModel)]="selectedValue"> <!-- add class "form-control" only if it's not a select2 -->
        <option value="-1"></option>
        <option value="1">Program Director</option>
        <option value="2">DOC Director</option>
        <option value="3">NCI Director</option>
        <option value="4">NCI Scientific Program Leaders</option>
      </select>
    </div>
  </div>
</div>
