<ng-template #batchApproveModal let-modal>
  <form #wfcForm="ngForm" (ngSubmit)="onSubmit(wfcForm)">
    <div class="modal-header">
      <span class="modal-title" id="modal-title-hold">{{ title }}</span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12"  *ngIf="alert">
        <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      </div>
      <div class="col-12"  *ngIf="batchApproveSuccess">
        <ngb-alert type="success" [dismissible]="false">
          {{eligibleCount}} out of {{totalCount}} {{ requestOrPlan === 'REQUEST' ? 'Request(s)':'Plan(s)'}} have been successfully approved.
        </ngb-alert>
      </div>

      <p *ngIf="requestOrPlan === 'REQUEST'">{{eligibleCount}} out of {{totalCount}} Request(s) are eligible for Batch Approval 
      </p>
      <p *ngIf="requestOrPlan === 'PLAN'">{{eligibleCount}} out of {{totalCount}} Plan(s) are eligible for Batch Approval 
      </p>
      <div class="col-12" *ngIf="eligibleCount > 0 && requestOrPlan === 'PLAN' && mode === 'SPL'">
        <div class="form-group">
          <label for="splMeetingDate">SPL Committee Meeting Approval Date</label>
          <div class="input-group">
            <input id="splMeetingDate" class="form-control" 
                   name="splMeetingDate" 
                   [(ngModel)]="splMeetingDate"
                   #splmd="ngModel" 
                   placeholder="mm/dd/yyyy"
                   ngbDatepicker #d="ngbDatepicker" 
                   [maxDate]="maxDate"
                   required
                   (click)="d.toggle()">
            <div class="input-group-append">
              <button class="btn-outline-secondary px-2" style="border: 1px solid;" (click)="d.toggle()" type="button">
                <i class="fas fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="text-danger mt-1" *ngIf="(splmd.errors?.required)">
            SPL Committee Meeting Approval Date is required
          </div>
          <div class="text-danger mt-1" *ngIf="(splmd.errors?.ngbDate?.maxDate)">
            SPL Committee Meeting Approval Date should be current or in the past 
          </div>
        </div>
      </div>
      <div class="col-12 modal-horizontal-scroll" *ngIf="eligibleCount > 0 && requestOrPlan === 'REQUEST'">
        <table class="table table-striped table-bordered" id="batch-approve-request-table">
          <thead>
            <th>Grant Number</th>
            <th>PI</th>
            <th>PD</th>
            <th>CA</th>
            <th>NCAB</th>
            <th>Request Name</th>
            <th>Request Type</th>
          </thead>
          <tbody>
            <tr *ngFor="let request of requestsForApproval">
              <td><app-full-grant-number-cell-renderer [data]="request" [eGrantsUrl]="eGrantsUrl" [grantViewerUrl]="grantViewerUrl"></app-full-grant-number-cell-renderer>
              </td>
              <td><a href="mailto:{{request.piEmail}}?subject={{request.fullGrantNum}} - {{request.lastName}}">{{request.piFullName}}</a></td>
              <td><a href="mailto:{{request.pdEmailAddress}}?subject={{request.fullGrantNum}} - {{request.lastName}}">{{request.pdFullName}}</a></td>
              <td><app-cancer-activity-cell-renderer [data]="request"></app-cancer-activity-cell-renderer></td>
              <td>{{request.councilMeetingDate | formatNcabDate }}</td>
              <td>{{request.requestName}}</td>
              <td>{{request.requestType}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 modal-horizontal-scroll" *ngIf="eligibleCount > 0 && requestOrPlan === 'PLAN'">
        <table class="table table-striped table-bordered" id="batch-approve-plan-table">
          <thead>
            <th>FOA</th>
            <th>Title</th>
            <th>NCAB(s)</th>
            <th>Issue Type</th>
            <th>Plan ID</th>
            <th>Plan Name</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of plansForApproval">
              <tr *ngFor="let foas of data.fpFoasList; index as i; first as isFirst; count as rowspan">
                <td style="width: 24%">
                  <a href="{{foas.nihGuideAddr}}" target="_blank">{{foas.rfaPaNumber}}</a>
                </td>
                <td style="width: 40%">{{foas.title}}</td>
                <td style="width: 20%">
                  {{foas.councilMeetingDateList | formatNcabDate }}</td>
                <td style="width: 16%">{{foas.issueType}}</td>
                <td *ngIf="isFirst" [attr.rowspan]="rowspan">
                  {{data.fprId}}
                </td>
                <td *ngIf="isFirst" [attr.rowspan]="rowspan">
                  {{data.planName}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="col-12" *ngIf="requestOrPlan === 'PLAN'">
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" [value] ="buttonText" [disabled] ="disableSubmit" autofocus>
      <button type="button" class="btn btn-primary" (click)="close()">Close</button>
    </div>
  </form>
  </ng-template>
