<div class="row">
    <div class="col-lg-6">
        <div class="form-group" *ngIf="!readonly">
            <label for="req-add-approvers">Add Approver(s) <span class="optional">(optional)</span></label>
            <ng-select2
                id="req-add-approvers"
                [(ngModel)]="selectedValue"
                [allowClear]="false"
                [options]="options">
                <option></option>
                <option *ngFor="let approver of approvers" [value]="approver.id">{{approver.text}}</option>
            </ng-select2>
        </div>  
    </div>

    <div class="col-12">
        <h3 id="approver-table-label">Next Scheduled Approvers</h3>
        <table class="table table-striped table-bordered next-approvers-table" aria-describedby="approver-table-label">
            <thead>
                <tr>
                    <th scope="col" style="width:4rem">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Official Role</th>
                    <th scope="col">Designees</th>
                    <th scope="col" style="width:5rem">Action</th>
                </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="dropped($event)" class="drag-boundary">
                <tr *ngFor="let a of additionalApprovers; let i = index" cdkDrag cdkDragBoundary=".drag-boundary" [cdkDragDisabled]="readonly">
                    <td><span class="order-icon" ngbTooltip="Drag & Drop to Order" *ngIf="!readonly"></span>&nbsp;{{ a.orderNum}}</td>
                    <td><a href="mailto:{{a.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverFullName }}</a></td>
                    <td>Additional Approver (Added by {{a.assignerFullName}})</td>
                    <td><a href="mailto:{{a.approverAltEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverAltFullName }}</a></td>
                    <td>
                        <button class="btn btn-link btn-delete btn-slim" title="Delete" 
                        (click)="deleteAdditionalApprover(a.fraId)" *ngIf="!readonly">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody >
                <tr *ngFor="let a of mainApprovers; let i = index">
                    <td><span class="fa fa-lock" *ngIf="!readonly"></span>&nbsp;{{ a.orderNum}}</td>
                    <td><a href="mailto:{{a.approverEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverFullName }}</a></td>
                    <td>{{ a.roleName }}</td>
                    <td><a href="mailto:{{a.approverAltEmailAddress}}?subject={{ this.requestModel.grant.fullGrantNum }} - {{ this.requestModel.grant.lastName}}">{{ a.approverAltFullName }}</a></td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>