<div class="row">
  <div class="col-12">
    <h2>Funding Information <span class="font-weight-light font-italic">(Optional)</span></h2>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="first-set-aside">Published 1<sup>st</sup> Year Set-Aside</label>
      <input type="text" id="first-set-aside" class="form-control" [(ngModel)]="firstYearSetAside">
    </div>
  </div>
  <div class="col-lg-auto col-sm-6">
    <div class="form-group">
      <label for="all-set-aside">Total Published Set-Aside (All Years)</label>
      <input type="text" id="all-set-aside" class="form-control" [(ngModel)]="totalSetAside">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-3">
    <h3>List of Funding Estimates for Each Out-Year</h3>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-2">Year 2</label>
      <input type="text" id="est-year-2" class="form-control" [(ngModel)]="outYear2">
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-3">Year 3</label>
      <input type="text" id="est-year-3" class="form-control"[(ngModel)]="outYear3">
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-4">Year 4</label>
      <input type="text" id="est-year-4" class="form-control"[(ngModel)]="outYear4">
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-5">Year 5</label>
      <input type="text" id="est-year-5" class="form-control"[(ngModel)]="outYear5">
    </div>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>


