<div class="row">
  <div class="col-12 d-flex">
    <h2>Funding Information <span *ngIf="!readOnly" class="font-weight-light font-italic">(Optional)</span></h2>
    <a *ngIf="collapse" class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse"
       href="#funding-info-collapse" role="button"
       aria-expanded="true" aria-controls="funding-info-collapse"></a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="first-set-aside">Published 1<sup>st</sup> Year Set-Aside ($)</label>
      <input
        type="text"
        [disabled]="readOnly"
        id="first-set-aside"
        class="form-control"
        [(ngModel)]="firstYearSetAside"
        name="firstYearSetAside"
        #year1SetAside="ngModel"
        pattern="[0-9]*"
        [appMinMaxValidator]="{min: 0, max: 999999999}">
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year1SetAside.errors?.pattern && (parentForm.submitted || year1SetAside.touched)">
      Enter a numeric value
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year1SetAside.errors?.min || year1SetAside.errors?.max && (parentForm.submitted || year1SetAside.touched)">
      Enter a number between 0 and 999,999,999
    </div>
  </div>
  <div class="col-lg-auto col-sm-6">
    <div class="form-group">
      <label for="all-set-aside">Total Published Set-Aside (All Years) ($)</label>
      <input
        type="text"
        [disabled]="readOnly"
        id="all-set-aside"
        class="form-control"
        [(ngModel)]="totalSetAside"
        name="totalSetAside"
        #overallSetAside="ngModel"
        pattern="[0-9]*"
        [appMinMaxValidator]="{min: 0, max: 9999999999}">
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="overallSetAside.errors?.pattern && (parentForm.submitted || overallSetAside.touched)">
      Enter a numeric value
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="overallSetAside.errors?.min || year1SetAside.errors?.max && (parentForm.submitted || overallSetAside.touched)">
      Enter a number between 0 and 9,999,999,999
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.errors?.totalSetAsideLessThanFirstYear && (parentForm.submitted || overallSetAside.touched)">
      Error: Total Published set-aside must be greater than or equal to the Published 1st year set-aside.
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="parentForm.errors?.totalSetAsideLessThanOutYear && (parentForm.submitted || overallSetAside.touched)">
      Error: Total Published set-aside must be greater than or equal to the funding estimate for any year.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-3">
    <h3>List of Funding Estimates for Each Out-Year</h3>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-2">Year 2 ($)</label>
      <input
        type="text"
        [disabled]="readOnly"
        id="est-year-2"
        class="form-control"
        [(ngModel)]="outYear2"
        name="outYear2"
        #year2="ngModel"
        pattern="[0-9]*"
        [appMinMaxValidator]="{min: 0, max: 999999999}">
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year2.errors?.pattern && (parentForm.submitted || year2.touched)">
      Enter a numeric value
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year2.errors?.min || year2.errors?.max && (parentForm.submitted || year2.touched)">
      Enter a value between 0 and 999,999,999
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-3">Year 3 ($)</label>
      <input
        type="text"
        [disabled]="readOnly"
        id="est-year-3"
        class="form-control"
        [(ngModel)]="outYear3"
        name="outYear3"
        #year3="ngModel"
        pattern="[0-9]*"
        [appMinMaxValidator]="{min: 0, max: 999999999}">
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year3.errors?.pattern && (parentForm.submitted || year3.touched)">
      Enter a numeric value
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year3.errors?.min || year3.errors?.max && (parentForm.submitted || year3.touched)">
      Enter a value between 0 and 999,999,999
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-4">Year 4 ($)</label>
      <input
        type="text" id="est-year-4"
        [disabled]="readOnly"
        class="form-control"
        [(ngModel)]="outYear4"
        name="outYear4"
        #year4="ngModel"
        pattern="[0-9]*"
        [appMinMaxValidator]="{min: 0, max: 999999999}">
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year4.errors?.pattern && (parentForm.submitted || year4.touched)">
      Enter a numeric value
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year4.errors?.min || year4.errors?.max && (parentForm.submitted || year4.touched)">
      Enter a value between 0 and 999,999,999
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="form-group">
      <label for="est-year-5">Year 5 ($)</label>
      <input
        type="text"
        [disabled]="readOnly"
        id="est-year-5"
        class="form-control"
        [(ngModel)]="outYear5"
        name="outYear5"
        #year5="ngModel"
        pattern="[0-9]*"
        [appMinMaxValidator]="{min: 0, max: 999999999}">
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year5.errors?.pattern && (parentForm.submitted || year5.touched)">
      Enter a numeric value
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="year5.errors?.min || year5.errors?.max && (parentForm.submitted || year5.touched)">
      Enter a value between 0 and 999,999,999
    </div>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>


