<div class="row">
    <div *ngIf="templateType !== 'Other'; else otherNote" class="col-lg-6">
        <p>Approvals can be completed only if you provide all the information
            requested in this <a [routerLink]="[]" (click)="downloadTemplate(templateType)" >template</a>.
            You may upload Microsoft Word, Rich Text Format, Microsoft Excel, or Adobe Acrobat document(s) only.
                Note: If you upload MS Excel, make sure it contains only one worksheet per file in order to have it
                included in the submission package.
                Please upload only the documents that support the approval of this request. <b>Maximum File Size is 10
                    MB per file.</b></p>
    </div>
    <ng-template #otherNote >
        <div class="col-lg-6">
            <p> You may upload Microsoft Word, Rich Text Format, Microsoft
                Excel, or Adobe Acrobat document(s) only. Note: If you upload
                MS Excel, make sure it contains only one worksheet per file in order to have it included in the submission
                package.
                <b>Maximum File Size is 10 MB per file.</b>
            </p>
        </div>
    </ng-template>
    <div class="col">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file-input" #inputFile
                    accept=".doc,.docx,.xls,.xlsx,.pdf,.rtf" (change)="selectFiles($event)">
                <label class="custom-file-label" #labelImport for="file-input">Choose
                    file</label>
            </div>
        </div>
        <a *ngIf="templateType !== 'Other'" [routerLink]="[]" (click)="downloadTemplate(templateType)" > Download Template</a>
    </div>
    <div class="col-sm-auto">
        <button type="button" class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadFiles()">Upload</button>
    </div>
</div>
