<div class="row">

  <div class="col-12">
    <h2>Applications Proposed for Funding</h2>
    <p class="text-sm">The Standard Policy Reduction should be taken into consideration when determining the recommended
      dollar amounts for the funding selection plan. If you would like to include a waiver to the Standard Policy
      Reduction, please provide it as part of the justification. The current fiscal year's policy reductions can be
      viewed on the <a href="#" class="external-link">OEFIA web site</a>.</p>
  </div>

  <div class="col-12">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">
          Funding Source(s) (?)
        </th>
        <th scope="col">
          <app-fp-funding-source></app-fp-funding-source>
        </th>
      </tr>
      <tr>
        <th scope="col">Grant Information</th>
        <th scope="col">Program Recommended Costs</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let grant of listGrantsSelected; let i = index;">
        <td>
          <app-fp-grant-information [index]="i" [grant]="grant"></app-fp-grant-information>
        </td>
        <td>
          <app-fp-program-recommended-costs [index]="i"></app-fp-program-recommended-costs>
        </td>

      </tr>

      </tbody>
    </table>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label for="funding-comments">Comments <span class="optional">(optional)</span></label>
      <textarea id="funding-comments" #funding_comments name="fundingComments" maxlength="2000" class="form-control"
                rows="2" [(ngModel)]="comments"></textarea>
      <span class="character-counter">{{ funding_comments.value.length }}/2000</span>
    </div>
  </div>

  <div class="col-12">
    <hr>
  </div>

</div>
