<div class="col-12">
  <h2>Applications Proposed for Funding</h2>
  <p class="text-sm">The Standard Policy Reduction should be taken into consideration when determining the recommended dollar amounts for the funding selection plan. If you would like to include a waiver to the Standard Policy Reduction, please provide it as part of the justification. The current fiscal year's policy reductions can be viewed on the <a href="#" class="external-link">OEFIA web site</a>.</p>
</div>

<div class="col-12">
  <p>Table goes here (pending)...</p>
</div>

<div class="col-12">
  <div class="form-group">
    <label for="funding-comments">Comments <span class="optional">(optional)</span></label>
    <textarea class="form-control" rows="2"></textarea>
    <span class="character-counter">XXXX/1000</span>
  </div>
</div>
