<app-approved-costs *ngIf="showApprovedCosts()" [approvingState]="approvingState"></app-approved-costs>
<app-gm-info [hidden]="!showGmInfo()" [approvingState]="approvingState"></app-gm-info>
<div class="row">
    <div class="col-12 d-flex">
      <h2 id="workflow">Workflow</h2>
      <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#workflow-collapse" role="button"
        aria-expanded="true" aria-controls="workflow-collapse"></a>
    </div>
</div>
  
<div class="row collapse show" id="workflow-collapse">

    <div class="col-12" *ngIf="isApprover() && requestStatus && requestStatus.comments">
        <ngb-alert type="primary" [dismissible]="false" class="workflow-comments">
            <div><i class="fal fa-comment-alt-lines fa-3x" aria-hidden="true"></i></div>
            <div class="comment-content">
                <div class="comment-details">Comment from <strong>{{requestStatus.performedBy}}</strong> on {{requestStatus.startDate}}</div>
                <div>{{requestStatus.comments}}</div>
            </div>
        </ngb-alert>
    </div>
    
    <div class="col-md-6 col-lg-4" *ngIf="isApprover()">
        <div class="form-group">
            <label for="workflow-action">Action</label>
            <ng-select2
            id="workflow-action"
            name="workflowAction"
            [(ngModel)]="selectedWorkflowAction"
            (ngModelChange)="onActionChange($event)"
            [allowClear]="true"
            [data]="workflowActions">
            </ng-select2>
            <div class="text-danger mt-1" *ngIf="(validationError?.action_missing)">
                Action is required
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group" *ngIf="showAddApprover || !readonly">
            <label for="req-add-approvers">{{addApproverLabel}} <span class="optional" *ngIf="!newApproverRequired">(optional)</span></label>
            <ng-select2
                id="req-add-approvers"
                [(ngModel)]="selectedValue"
                [allowClear]="false"
                [options]="options">
                <option></option>
            </ng-select2>
            <div class="text-danger mt-1" *ngIf="(validationError?.approver_missing)">
                New approver is required
            </div>
        </div>  
</div>

    <app-approver-list [readonly]="readonly" class="w-100"></app-approver-list>

    <div class="col-12">
        <div class="form-group" *ngIf=" isApprover() || !readonly">
            <label for="workflow-comments">Workflow Comments <span class="optional" *ngIf="!commentsRequired">(optional)</span></label>
            <textarea class="form-control" id="workflow-comments" rows="2" maxlength="2000" [(ngModel)]="comments" (input)="isFormValid()"></textarea>
            <span class="text-danger mt-1" *ngIf="(validationError?.comments_missing)">
                Comments are required
            </span>
            <span class="character-counter">{{comments.length}}/2000</span>
        </div>
        
    </div>

</div><!-- END Row Collapse -->

<div class="row">  
    <div class="col-12"  *ngIf="alert">
        <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    </div> 
    <div class="col-12 d-flex mb-4" *ngIf="isApprover()">
        <button class="btn btn-primary ml-auto" (click)="submitWorkflow()" [disabled]="buttonDisabled">{{buttonLabel}}</button>
    </div>
</div>
