<!-- START Grants Management Information -->
<div class="row">
    <div class="col-12 d-flex">
        <h2>Grants Management</h2>
        <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#grants-mgmt-collapse" role="button" aria-expanded="true" aria-controls="grants-mgmt-collapse"></a>
    </div>
</div>
<form #gmform='ngForm'>
<div class="row collapse show" id="grants-mgmt-collapse">
    <div class="col-lg-auto">
        <div class="form-group">
            <span class="like-label" id="action-type-desc">Action Type</span>
            <span *ngIf="readonly">{{gmInfo.actionType}}</span>
            <div class="btn-group btn-group-toggle" *ngIf="!readonly"
                ngbRadioGroup name="radioBasic" [(ngModel)]="gmInfo.actionType" 
                aria-describedby="action-type-desc">
                <label ngbButtonLabel class="btn-outline-secondary">
                  <input ngbButton type="radio" value="AWARD">Award
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                  <input ngbButton type="radio" value="REVISION">Revision
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="specialist">Specialist</label>
            <span *ngIf="readonly; else specInput"><a
                href="mailto: {{gmInfo.defaultSpecEmail}}">{{gmInfo.defaultSpecFullName}}</a></span>
            <ng-template #specInput>
            <ng-select2 
                id="default-specialist"
                name="default-specialist"
                [allowClear]="true"
                [data] = "defaultSpecList"
                [(ngModel)]= "gmInfo.defaultSpecFullName"
                #specFullName="ngModel"
                required>
            </ng-select2>
            <div class="text-danger mt-1" *ngIf="(specFullName.errors?.required)">
                Specialist is required
            </div>
            </ng-template>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="backup-specialist">Backup Specialist <span *ngIf="!readonly" class="optional">(optional)</span></label>
            <span *ngIf="readonly"><a
                href="mailto: {{gmInfo.bkupSpecEmail}}">{{gmInfo.bkupSpecFullName}}</a></span>
            <ng-select2 *ngIf="!readonly"
                id="backup-specialist"
                name="backup-specialist"
                [allowClear]="true"
                [data] = "bkupSpecList"
                [(ngModel)]="gmInfo.bkupSpecNpeId">
            </ng-select2>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
</form>
<!-- END Grants Management Information -->