<!-- START Grants Management Information -->
<div class="row">
    <div class="col-12 d-flex">
        <h2>Grants Management</h2>
        <a class="collapse-toggle btn btn-link ms-auto" data-bs-toggle="collapse" href="#grants-mgmt-collapse" role="button" aria-expanded="true" aria-controls="grants-mgmt-collapse"></a>
    </div>
</div>
<form #gmform='ngForm'>
<div class="row collapse show" id="grants-mgmt-collapse">
    <div class="col-lg-4">
        <div class="form-group">
            <span class="like-label" id="action-type-desc">Action Type</span>
            <span *ngIf="readonly; else actionInput">{{gmInfo.actionType}}</span>
            <ng-template #actionInput>
            <div class="btn-group btn-group-toggle btn-group-sm" role="group"
                name="radioBasic"
                [(ngModel)]="gmInfo.actionType"
                aria-describedby="action-type-desc"
                #actionType="ngModel"
                [required]="isApprovalAction">
                <label class="btn btn-outline-secondary" [class.active]="gmInfo.actionType === 'AWARD'">
                  <input class="btn-check" [(ngModel)]="gmInfo.actionType" name="actionType" type="radio" value="AWARD">Award
                </label>
                <label class="btn btn-outline-secondary" [class.active]="gmInfo.actionType === 'REVISION'">
                  <input class="btn-check" [(ngModel)]="gmInfo.actionType" name="actionType" type="radio" value="REVISION">Revision
                </label>
            </div>
            <div class="text-danger mt-1" *ngIf="(actionType.errors?.required)">
                Action Type is required
            </div>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="specialist">Specialist</label>
            <span *ngIf="readonly; else specInput"><a
                href="mailto: {{gmInfo.defaultSpecEmail}}">{{gmInfo.defaultSpecFullName}}</a></span>
            <ng-template #specInput>
            <ng-select2
                id="default-specialist"
                name="default-specialist"
                [allowClear]="true"
                [data] = "specialists"
                [(ngModel)]= "gmInfo.defaultSpecNpeId"
                #specFullName="ngModel">
            </ng-select2>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
</form>
<!-- END Grants Management Information -->
