<ng-template #InstituteTooltip>
  <span class='institutionName'>{{data.orgName}}</span><br>
  <span class='institutionLocation'>{{data.institutionCity}},&nbsp;{{data.institutionState}}</span>
</ng-template>
<div *ngIf="skip"><img src="images/grant-skip.png" alt="SKIP" width="31" height="16"></div>
<div *ngIf="exception"><img src="images/grant-exception.png" alt="EXCEPTION" width="56" height="16"></div>
<a href="{{grantViewerUrl+data.applId}}" target="yourgrant">{{data.fullGrantNum}}</a>
<div class="grant-icons">
  <a href="{{eGrantsUrl+data.applId}}" target="yourgrant" ngbTooltip="eGrants">
    <span class="egrants-icon"></span>
  </a>
  <a [routerLink]="" [ngbTooltip]="InstituteTooltip" triggers="click:blur">
    <i class='fa fa-university' aria-hidden='true'></i>
  </a>
</div>

