<app-grant-information></app-grant-information>
<hr>

<app-request-information-readonly></app-request-information-readonly>
<!-- END Request Info -->

<hr>

<!-- START Supporting Docs -->

<div class="row">

  <div class="col-12 d-flex">
    <h2>Supporting Docs</h2>
    <button class="btn btn-outline-primary mr-2 ml-auto"><i class="far fa-file-pdf" aria-hidden="true"></i> View Package
    </button>
    <a class="collapse-toggle btn btn-link ml-1" data-toggle="collapse" href="#docs-collapse" role="button"
       aria-expanded="true" aria-controls="docs-collapse"></a>
  </div>

  <div class="col-12 collapse show" id="docs-collapse">
    <p>Supporting docs go here...</p>
  </div>

</div>

<!-- END Supporting Docs -->

<hr>

<!-- START Workflow -->

<div class="row">
  <div class="col-12 d-flex">
    <h2 id="workflow">Workflow</h2>
    <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#workflow-collapse" role="button"
       aria-expanded="true" aria-controls="workflow-collapse"></a>
  </div>
</div>

<div class="row collapse show" id="workflow-collapse">
  <div class="col-lg-6">
    <div class="form-group">
      <label for="add-approvers">Add Approver(s) <span class="optional">(optional)</span></label>
      <p>Select goes here...</p>
      <app-next-scheduled-approvers-request></app-next-scheduled-approvers-request>
    </div>
  </div>

  <div class="col-12">
    <table class="table table-striped table-bordered next-approvers-table">
        <thead>
            <tr>
                <th scope="col" style="width:4rem">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Official Role</th>
                <th scope="col">Designees</th>
                <th scope="col" style="width:5rem">Action</th>
            </tr>
        </thead>
        <tbody cdkDropList>
            <tr cdkDrag >
                <td><span class="order-icon"></span>1</td>
                <td>Last, First</td>
                <td>Role Goes Here</td>
                <td></td>
                <td><button class="btn btn-link btn-delete btn-slim" title="Delete"><i class="fas fa-trash" aria-hidden="true"></i></button></td>
            </tr>
            <tr cdkDrag >
                <td><span class="order-icon"></span>2</td>
                <td>Last, First</td>
                <td>Role Goes Here</td>
                <td></td>
                <td><button class="btn btn-link btn-delete btn-slim" title="Delete"><i class="fas fa-trash" aria-hidden="true"></i></button></td>
            </tr>
            <tr cdkDrag cdkDragDisabled >
                <td><span class="order-icon"></span>3</td>
                <td>Last, First</td>
                <td>Role Goes Here</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label for="workflow-comments">Workflow Comments <span class="optional">(optional)</span></label>
      <textarea class="form-control" id="workflow-comments" rows="2" maxlength="1000"></textarea>
      <span class="character-counter">#/1000</span>
    </div>
  </div>
</div>

<!-- END Workflow -->


<hr>
<div class="row">
    <div class="col-12 d-flex mb-4">
        <button class="btn btn-outline-secondary  mr-auto" (click)="prevStep()">Previous</button>
        <button class="btn btn-danger mr-2" (click)="deleteRequest()">Delete Request</button>
        <button class="btn btn-primary" (click)="submitRequest()">Submit Request</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12">
        <h2>Request History</h2>
        <app-request-history></app-request-history>

<!--  <div class="col-12 d-flex">-->
<!--    <h2>Request History</h2>-->
<!--    <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#history-collapse" role="button"-->
<!--       aria-expanded="true" aria-controls="history-collapse"></a>-->
<!--  </div>-->
<!--  <div class="col-12 collapse show" id="history-collapse">-->
<!--    <p>Table goes here...</p>-->
<!--  </div>-->
    </div>
</div>
