<div #submitResult></div>
<app-submission-alert></app-submission-alert>
<app-alert-billboard [alerts]="model.pendingAlerts"></app-alert-billboard>
<app-request-warning [inflightPlan]="inflightPlan"></app-request-warning>
<app-workflow-modal></app-workflow-modal>
<app-grant-information></app-grant-information>
<hr>

<app-request-information-readonly></app-request-information-readonly>
<!-- END Request Info -->

<hr>

<!-- START Supporting Docs -->
<app-supporting-docs-readonly [parent]="self"></app-supporting-docs-readonly>

<!-- END Supporting Docs -->

<hr before-workflow>

<app-workflow (actionEmitter)="actionType($event)"
  [readonly]="!submitVisible() || !submitEnabled()"
  [hidden]="hideWorkflow()">
  <app-budget-info [hidden]="!showBudgetInfo()"
    [readOnly]="budgetInfoReadOnly()" [editing]="!budgetInfoReadOnly()"
    id="workflow-budget-info">
  </app-budget-info>
  <app-upload-budget-documents [hidden]="!isDisplayBudgetDocsUploadVar"></app-upload-budget-documents>
  <app-budget-docs-readonly [hidden]="isDisplayBudgetDocsUploadVar || !displayReadOnlyBudgetDocs" [parent]="self"></app-budget-docs-readonly>
</app-workflow>

<div class="row">
  <div class="col-12 d-flex mb-4">
    <button class="btn btn-outline-secondary  me-auto" (click)="prevStep()" *ngIf="!readonly">Previous</button>
    <button class="btn btn-danger me-2" (click)="deleteRequest()" *ngIf="deleteVisible()">Delete Request</button>
    <button class="btn btn-primary" (click)="submitRequest()" *ngIf="submitVisible() && submitEnabled()" [disabled]="disableSubmit">
      {{submitApprove()?'Submit & Approve':'Submit Request'}}
    </button>
    <span *ngIf="submitVisible() && !submitEnabled()" [ngbTooltip]="submitDisableTooltip()">
      <button class="btn btn-primary" disabled>{{submitApprove()?'Submit & Approve':'Submit Request'}}</button>
    </span>
    <button class="btn btn-primary me-2" (click)="submitWithdrawHold('WITHDRAW')"
      *ngIf="withdrawVisible()">Withdraw</button>
    <button class="btn btn-primary me-2" (click)="submitWithdrawHold('HOLD')"
      *ngIf="putOnHoldVisible()">Hold</button>
    <button class="btn btn-primary me-2" (click)="submitWithdrawHold('RELEASE')"
      *ngIf="releaseFromHoldVisible()">Release Hold</button>
  </div>
</div>

<hr before-history>
<app-request-history></app-request-history>


