<!-- START Request Info (make this a component if you want?)-->
<div class="row">
  <div class="col-12 d-flex">
    <h2>Request Information</h2>
    <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#request-collapse" role="button"
       aria-expanded="true" aria-controls="request-collapse"></a>
  </div>
</div>

<div class="row collapse show mt-2" id="request-collapse">

  <div class="col-lg-3">
    <div class="form-group">
      <p class="like-label">Request Type</p>
      <p>{{ model.requestDto.requestType }}</p>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group">
      <p class="like-label">Request Name</p>
      <p>{{ model.requestDto.requestName }}</p>
    </div>
  </div>

  <div class="col-md-6 col-lg-2">
    <div class="form-group">
      <p class="like-label">FY</p>
      <p>{{ grant.fy }}</p>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="form-group">
      <p class="like-label">Current Status</p>
      <p>{{ model.requestDto.requestStatusName }}</p>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group">
      <p class="like-label">Final LOA</p>
      <p>{{ model.requestDto.loaCode }}</p>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group">
      <p class="like-label">Funding Approvals</p>
      <p>{{ model.requestDto.loaName }}</p>
    </div>
  </div>

  <div class="col-md-6 col-lg-2">
    <div class="form-group">
      <p class="like-label">Requesting PD</p>
      <p [innerHTML]="model.requestDto|mailtoFormatter:'requestorPdFullName':'pdEmailAddress':'Funding Selection'"></p>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="form-group">
      <p class="like-label">Requesting PD's Cancer Activity</p>
      <p>{{ model.requestDto.requestorCayCode }}</p>
    </div>
  </div>

  <div class="col-12">
    <h3>Program Recommended Costs</h3>
    <app-program-recommended-costs-readonly></app-program-recommended-costs-readonly>
  </div>

  <div class="col-12">
    <div class="form-group">
      <p class="like-label">Request Comments</p>
      <p>{{ model.requestDto.comments }}</p>
    </div>
  </div>

</div>
