<ng-container *ngIf="readOnly; then read_only else editable;"></ng-container>

<ng-template #editable>
  <div class="form-group">
    <!--    <label for="oefia-type">OEFIA Type</label>-->
    <label for="create_type">Create Type</label>

    <ng-select2
      id="create_type"
      [allowClear]="true"
      [data]="data"
      [(ngModel)]="selectedValue">
      <option></option>
    </ng-select2>
    <div
      class="text-danger mt-1"
      *ngIf="required && noCreateType()">
        Create Type is required
    </div>
  </div>
</ng-template>

<ng-template #read_only>
  <div *ngIf="requestModel.createType" class="form-group"><p>Create Type: {{requestModel.createType}}</p></div>
</ng-template>
