<!-- BEGIN Funding Plan Information Section -->
<app-plan-submission-alert></app-plan-submission-alert>
<app-plan-warning [inFlightProposed]="inFlightProposed"
                  [inFlightSkipped]="inFlightSkipped"
                  [docChecker]="docChecker"></app-plan-warning>
<app-workflow-modal requestOrPlan="PLAN"></app-workflow-modal>
<form #parentForm="ngForm">
  <app-funding-plan-information [readOnly]="true" [parentForm]="parentForm"
                                [showAdditionalInfo]="true"></app-funding-plan-information>
</form>
<!-- END Funding Plan Information Section -->

<!-- START Funding Information Section -->

<form #dummyForm="ngForm">
  <app-fp-funding-information [parentForm]="dummyForm" [readOnly]="true"></app-fp-funding-information>
</form>
<!-- END Row -->

<!-- END Funding Information Section -->

<!-- START Applications Proposed for Funding Section -->
<app-applications-proposed-for-funding-readonly></app-applications-proposed-for-funding-readonly>
<!-- END Applications Proposed for Funding Section -->
<!-- START Applications Skipped Section -->
<div class="row" *ngIf="!noSkipResult">
  <div class="col-12 d-flex">
    <h2>Application(s) Skipped</h2>
    <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#apps-skipped-collapse" role="button"
       aria-expanded="true" aria-controls="apps-skipped-collapse"></a>
  </div>
  <div class="col-12 collapse show mt-2" id="apps-skipped-collapse">
    <app-grant-table [grantList]="grantsSkipped"></app-grant-table>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>
<!-- END Applications Skipped for Funding Section -->
<!-- START Applications Not Considered for Funding Section -->
<div class="row" *ngIf="!noAppNotFundingResult">
  <div class="col-12 d-flex">
    <h2>Application(s) Not Considered for Funding</h2>
    <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#apps-notcon-collapse" role="button"
       aria-expanded="true" aria-controls="apps-notcon-collapse"></a>
  </div>
  <div class="col-12 collapse show mt-2" id="apps-notcon-collapse">
    <app-grant-table [grantList]="grantsNotConsidered"></app-grant-table>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>
<!-- END Applications Not Considered for Funding Section -->

<!-- START Supporting Documents Section -->
<app-plan-supporting-docs-readonly></app-plan-supporting-docs-readonly>
<!-- END Supporting Documents Section -->

<!-- START Budget Information Section -->
<app-fp-budget-information *ngIf="showBudgetInformation()"></app-fp-budget-information>
<!-- END Budget Information Section -->

<app-upload-budget-documents [hidden]="!isDisplayBudgetDocsUploadVar"
                             requestOrPlan="PLAN"></app-upload-budget-documents>
<app-budget-docs-readonly [hidden]="isDisplayBudgetDocsUploadVar || !displayReadOnlyBudgetDocs"
                          requestOrPlan="PLAN"></app-budget-docs-readonly>

<!-- START Workflow Section -->
<app-plan-workflow [readonly]="!submitVisible() || !submitEnabled()"
                   [hidden]="hideWorkflow()"></app-plan-workflow>
<!-- END Workflow Section -->

<!-- START Buttons Section -->
<div class="row">
  <div class="col-12 d-flex mb-4">
    <button class="btn btn-outline-secondary  mr-auto" (click)="prevStep()" *ngIf="!readonly">Previous</button>
    <button class="btn btn-danger mr-2" (click)="deleteRequest()" *ngIf="deleteVisible()">Delete Plan</button>
    <button class="btn btn-primary" (click)="submitRequest()" *ngIf="submitVisible() && submitEnabled() ">
      Submit Plan
    </button>
    <span *ngIf="submitVisible() && !submitEnabled()" [ngbTooltip]="submitDisableTooltip()">
          <button class="btn btn-primary" disabled>Submit Plan</button>
        </span>
    <button class="btn btn-primary mr-2" (click)="submitWithdrawHold('WITHDRAW')"
            *ngIf="withdrawVisible()">Withdraw
    </button>
    <button class="btn btn-primary mr-2" (click)="submitWithdrawHold('HOLD')"
            *ngIf="putOnHoldVisible()">Hold
    </button>
    <button class="btn btn-primary mr-2" (click)="submitWithdrawHold('RELEASE')"
            *ngIf="releaseFromHoldVisible()">Release Hold
    </button>
  </div>
</div>
<!-- END Buttons Section -->
<!--<button class="btn btn-primary mr-2" (click)="test()">Test Something</button>  -->
<!-- START Funding Plan History Section -->
<div class="row">
  <div class="col-12">
    <h2>Funding Plan History</h2>
    <app-request-history requestOrPlan="PLAN"></app-request-history>
  </div>
</div>
<!-- END Funding Plan History Section -->
