/* You can add global styles to this file, and also import other style files */
/*table#grantDt tr.odd,.even {*/
/*    display:none !important*/
/*}*/

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before
 {
  bottom: 50%;
  content: "▲" !important;
  content: "▲"/"";
}