<div class="row mb-2" *ngIf="errInactiveDesignees">
  <div class="col-12">
    <ngb-alert type="danger" [dismissible]="false">
        <span><a [routerLink]="[]" class="mr-1">
          <i class='fa fa-user-slash' aria-hidden='true'></i>
        </a>One or more of your designees are <strong>inactive</strong> and <strong>need to be removed or updated (if applicable)</strong>.
          Click <a routerLink="/manage">here</a> to manage your designations.</span>
    </ngb-alert>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-sm-6">
    <h1>Search {{labelSearch}}</h1>
  </div>
  <div class="col-12 col-sm-6 text-right">
    <a href="/paylist/view-paylines" class="btn btn-outline-primary" target="view_cert_paylines">View Certified Paylines</a>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 d-flex">
    <h2 class="d-inline-block" id="overview-label">Overview <span style="font-weight: normal">&mdash;  FY {{currentFY}}</span></h2>
    <a [routerLink]="[]" (click)="showOverview = !showOverview" class="ml-auto"
       [ngClass]="{'show-overview':!showOverview, 'hide-overview':showOverview}"></a>
  </div>
</div>
<div [hidden]="!showOverview" class="mb-4">

  <ng-container
  *ngIf="isPd||isPa ; then PdCategories; else i2eUserCategories">
</ng-container>
  <ng-template #PdCategories>

  <div class="row" >
    <div class="col-7 border-right">
      <div class="row">
        <div class="col-4 pr-1">
          <button class="btn btn-info" style="width: 100%; height: 100%" (click)="onAwaitingRequests()" [disabled]="numAwaitingRequests == 0"><div>{{numAwaitingRequests}} Requests</div><div>Awaiting My Response</div></button>
        </div>
        <div *ngIf="isPd||isPa" class="col-4 px-1">
          <div class="mb-1">
            <button class="btn btn-outline-primary" style="width: 100%" (click)="onMyRequests()" [disabled]="numMyRequests == 0">
              <div class="overview">{{filterTypeLabels.FILTER_MYREQUEST}} <span>{{numMyRequests}}</span></div>
            </button>
          </div>
          <div *ngIf= "hasCancerActivities">
            <button  class="btn btn-outline-primary" style="width: 100%" (click)="onMyCARequests()" [disabled]="numMyCARequests == 0">
              <div class="overview">{{filterTypeLabels.FILTER_CANCER_ACTIVITIES}} <span>{{numMyCARequests}}</span></div>
            </button>
          </div>
        </div>
        <div  class="col-4 pl-1 pr-4">
          <div *ngIf="isPd"class="mb-1">
            <button class="btn btn-outline-primary" style="width: 100%" (click)="onMyPortfolioRequests()" [disabled]="numMyPortfolioRequests == 0">
              <div class="overview">{{filterTypeLabels.FILTER_PORTFOLIO}} <span>{{numMyPortfolioRequests}}</span></div>
            </button>
          </div>
          <div *ngIf="isPd||isPa">
            <button class="btn btn-outline-primary" style="width: 100%" (click)="onMyUnderReviewRequests()" [disabled]="numMyUnderReviewRequests == 0">
              <div class="overview">My Requests Under Review <span>{{numMyUnderReviewRequests}}</span></div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-6 pl-4 pr-1">
          <button class="btn btn-info" style="width: 100%; height: 100%" (click)="onAwaitingPlans()"
                  [disabled]="numAwaitingPlans == 0">
            <div>{{numAwaitingPlans}} Funding Plans</div>
            <div>Awaiting My Response</div>
          </button>
        </div>
        <div *ngIf="isPd||isPa" class="col-6 pl-1">
          <div class="mb-1">
            <button class="btn btn-outline-primary" style="width: 100%" (click)="onMyPlans()" [disabled]="numMyPlans == 0">
              <div class="overview">{{filterTypeLabels.FILTER_MY_FUNDING_PLAN}} <span>{{numMyPlans}}</span></div>
            </button>
          </div>
          <div>
            <button class="btn btn-outline-primary" style="width: 100%" (click)="onMyUnderReviewPlans()" [disabled]="numMyUnderReviewPlans == 0">
              <div class="overview">{{filterTypeLabels.FILTER_FUNDING_PLAN_UNDER_REVIEW}} <span>{{numMyUnderReviewPlans}}</span></div>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  </ng-template>
  <hr/>
</div>
<app-search-filter [action]="action" [grant]="grant" [searchGrant]="searchGrant" (callSearch)="doSearch($event)"
                   (searchTypeEm)="onSearchType($event)">
</app-search-filter>
<app-search-result (refreshOverviewEmitter)="refreshOverview()" (keepModelEmitter)="onKeepSearchCriteria()"></app-search-result>

<ng-template #i2eUserCategories>
  <div class="row " >
    <div class="border-right">
         <button class="btn btn-info" style="width: 100%; height: 100%" (click)="onAwaitingRequests()" [disabled]="numAwaitingRequests == 0"><div>{{numAwaitingRequests}} Requests</div><div>Awaiting My Response</div></button>
  </div>
  &nbsp;&nbsp;&nbsp;
        <div class="border-right">    <button class="btn btn-info" style="width: 100%; height: 100%" (click)="onAwaitingPlans()" [disabled]="numAwaitingPlans == 0">
          <div>{{numAwaitingPlans}} Funding Plans</div>
          <div>Awaiting My Response</div></button>
  </div>
  &nbsp;&nbsp;&nbsp;
      <div  *ngIf= "hasPaylineRoles && numMyPaylines>0" >
        <a href="{{paylistDashboardUrl}}" class="button btn btn-info" style="padding-top: 20px; padding-bottom: 20px"> <div>Paylines Awaiting Certification </div></a>
</div>

</div>
</ng-template>
