<div class="row">
    <div class="col-12 d-flex">
        <h2>Budget Documents</h2>
        <a class="collapse-toggle btn btn-link ml-auto" data-bs-toggle="collapse" href="#Budget-docs-collapse"
            role="button" aria-expanded="true" aria-controls="apps-notcon-collapse"></a>
    </div>
    <div class="col-12 collapse show mt-2" id="Budget-docs-collapse">
        <div class="drag-item" *ngFor="let item of budgetDocDtos" tabindex="0">
            <span class="doc-name">{{ item.docType }}</span>
            <span class="doc-desc">{{item.docFilename}}
                <ng-container *ngIf="item.uploadByName">(Added by <a href="mailto: {{item.uploadByEmail}}">
                    {{item.uploadByName}}</a> on {{item.createDate}})
                </ng-container>
            </span>

            <div class="ml-auto">
                <button class="btn btn-link btn-slim ml-1" title="View"
                    (click)="downloadFile(item.id, item.docFilename)"><i class="fas fa-eye"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
