<div class="row">

    <div class="col-12 d-flex">
      <h2>Approved Costs</h2>
      <a class="collapse-toggle btn btn-link ml-auto" data-toggle="collapse" href="#apvd-costs-collapse" role="button" aria-expanded="true" aria-controls="apvd-costs-collapse"></a>
    </div>

    <div class="col-12 collapse show mt-2" id="apvd-costs-collapse">
        <form #acform='ngForm'>
        <table class="table table-striped table-bordered" id="apvd-costs-table">
            <thead>
                <tr>
                    <th rowspan="2" scope="col">Funding Source</th>
                    <th *ngIf="showDirectCosts" colspan="2" scope="col">Program Recommended Costs (1<sup>st</sup>&nbsp;Year)</th>
                    <th rowspan="2" scope="col">Approved Total Cost (1<sup>st</sup>&nbsp;Year)</th>
                    <th rowspan="2" scope="col">Program Recommended <br>Future Years</th>
                    <th rowspan="2" scope="col">Approved Future Years</th>
                </tr>
                <tr *ngIf="showDirectCosts">
                    <th scope="col">Direct Cost</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let can of requestModel.requestCans; let i = index; let first = first">
                    <td>{{can.fundingSourceName}}</td>
                    <td *ngIf="showDirectCosts">
                        {{can.requestedDc | currency}} <span *ngIf="first">{{can.dcPctCut / 100000 | percentCut:initialPay}}</span>
                    </td>
                    <td *ngIf="showDirectCosts">
                        {{can.requestedTc | currency}} <span *ngIf="first">{{can.tcPctCut / 100000 | percentCut:initialPay}}</span>
                    </td>
                    <td>
                        {{can.approvedTc | currency}} <span *ngIf="first">{{can.tcPctCut / 100000 | percentCut:initialPay}}</span>
                    </td>
                    <td>{{can.requestedFutureYrs}}</td>
                    <td>
                    <div *ngIf="editable; else readonly">
                        <input                        
                        id="apvd-future-years" 
                        class="form-control form-control-sm" 
                        type="text" 
                        aria-label="approved future years" 
                        [(ngModel)]="can.approvedFutureYrs"
                        #approvedFutureYrs="ngModel" 
                        name="approvedFutureYrs{{i}}"
                        required
                        pattern="[0-9]*"
                        maxlength="2"
                        [disabled]="inputDisabled">
                        <div class="text-danger mt-1" *ngIf="(approvedFutureYrs.errors?.pattern)">
                           Enter numeric value
                        </div>
                        <div class="text-danger mt-1" *ngIf="(approvedFutureYrs.errors?.required)">
                            Approved Future Years is required
                        </div>
                    </div>
                        <ng-template #readonly>
                            {{can.approvedFutureYrs}}
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div><!-- END col-12 collapse -->

    <div class="col-12">
        <hr>
    </div>

</div><!-- END Row -->
