<ng-template #InstituteTooltip><span class='institutionName'>{{grant.orgName}}</span><br>
  <span class='institutionLocation'>{{grant.institutionCity}},&nbsp;{{grant.institutionState}}</span>
</ng-template>

<div *ngIf="exception"><img src="images/grant-exception.png" alt="EXCEPTION" width="56" height="16"></div>

<ng-container *ngIf="isModal then modal else primary"></ng-container>

<ng-template #primary>
<div class="grant-info-wrapper">

  <a class="btn btn-link grant-info-toggle-btn" data-toggle="collapse" href="#row-collapse-1" role="button" aria-expanded="true" aria-controls="row-collapse-1" ngbTooltip="Collapse Grant Information" placement="top"></a>

  <div class="grant-info-row">
    <div class="grant-info-col">
      <span class="like-label mb-0">Grant Number</span>
      <div class="d-flex align-items-center">
        <a href="{{model.grantViewerUrl+grant.applId}}" target="yourgrant">{{grant.fullGrantNum}}</a>
        <div class="grant-icons ml-1">
          <a href="{{model.eGrantsUrl+grant.applId}}" target="yourgrant" ngbTooltip="eGrants">
            <span class="egrants-icon"></span>
          </a>
          <a [routerLink]="" [ngbTooltip]="InstituteTooltip" triggers="click:blur">
            <i class='fa fa-university' aria-hidden='true'></i>
          </a>
        </div>
      </div>
    </div>

    <div class="grant-info-col">
      <span class="like-label mb-0">PI</span>
      <span [innerHTML]="grant|mailtoFormatter: 'piFullName':'piEmail': 'PI/PD name':'fullGrantNum': 'lastName'"></span>
    </div>

  </div>

  <div class="grant-info-row">

    <div class="grant-info-col">
      <span class="like-label mb-0">PI Requested Direct Cost</span>
      <span>{{ piDirect | currency }}</span>
    </div>

    <div class="grant-info-col">
      <span class="like-label mb-0">PI Requested Total Cost</span>
      <span>{{ piTotal | currency }}</span>
    </div>

    <div class="grant-info-col">
      <label for="rec-fy-3">Recommended Future Years</label>
      <ng-container *ngIf="readOnly then static else dropdown"></ng-container>
      <ng-template #dropdown>
      <app-recommended-future-years id="rec-fy-3"></app-recommended-future-years>
      </ng-template>
      <ng-template #static><span>4</span></ng-template>
    </div>

  </div>

  <div class="collapse show" id="row-collapse-1">

    <div class="grant-info-row">

      <div class="grant-info-col">
        <span class="like-label mb-0">Project Title</span>
        <span>{{ grant.projectTitle }}</span>
      </div>

      <div class="grant-info-col">
        <span class="like-label mb-0">FOA</span>
        <span><a href="{{ grant.nihGuideAddr }}" target="_blank">{{ grant.rfaPaNumber }}</a></span>
      </div>

      <div class="grant-info-col">
        <span class="like-label mb-0">Pri. Scr</span>
        <span>{{ grant.priorityScoreNum | formatScorePctl }}</span>
      </div>

      <div class="grant-info-col">
        <span class="like-label mb-0">NCAB Date</span>
        <span>{{ grant.councilMeetingDate|formatNcabDate }}</span>
      </div>
    </div>
  </div>
</div>
</ng-template>

<ng-template #modal>
  <div class="grant-info-wrapper">

    <a class="btn btn-link grant-info-toggle-btn" data-toggle="collapse" href="#row-collapse-1" role="button" aria-expanded="true" aria-controls="row-collapse-1" ngbTooltip="Collapse Grant Information" placement="top"></a>

    <div class="grant-info-row">
      <div class="grant-info-col">
        <span class="like-label mb-0">Grant Number</span>
        <div class="d-flex align-items-center">
          <a href="{{model.grantViewerUrl+grant.applId}}" target="yourgrant">{{grant.fullGrantNum}}</a>
          <div class="grant-icons ml-1">
            <a href="{{model.eGrantsUrl+grant.applId}}" target="yourgrant" ngbTooltip="eGrants">
              <span class="egrants-icon"></span>
            </a>
            <a [routerLink]="" [ngbTooltip]="InstituteTooltip" triggers="click:blur">
              <i class='fa fa-university' aria-hidden='true'></i>
            </a>
          </div>
        </div>
      </div>

      <div class="grant-info-col">
        <span class="like-label mb-0">PI</span>
        <span [innerHTML]="grant|mailtoFormatter: 'piFullName':'piEmail': 'PI/PD name':'fullGrantNum': 'lastName'"></span>
      </div>

      <div class="grant-info-col">
        <span class="like-label mb-0">PI Requested Direct Cost</span>
        <span>{{ piDirect | currency }}</span>
      </div>

      <div class="grant-info-col">
        <span class="like-label mb-0">PI Requested Total Cost</span>
        <span>{{ piTotal | currency }}</span>
      </div>


    </div>

    <div class="collapse show" id="row-collapse-1">

      <div class="grant-info-row">
        <div class="grant-info-col">
          <span class="like-label mb-0">Project Title</span>
          <span>{{ grant.projectTitle }}</span>
        </div>

        <div class="grant-info-col">
          <span class="like-label mb-0">FOA</span>
          <span><a href="{{ grant.nihGuideAddr }}" target="_blank">{{ grant.rfaPaNumber }}</a></span>
        </div>

        <div class="grant-info-col">
          <span class="like-label mb-0">Pri. Scr</span>
          <span>{{ grant.priorityScoreNum | formatScorePctl }}</span>
        </div>

        <div class="grant-info-col">
          <span class="like-label mb-0">NCAB Date</span>
          <span>{{ grant.councilMeetingDate|formatNcabDate }}</span>
        </div>
      </div>

    </div>

  </div>
</ng-template>
