<div class="row">
    <div class="col-12">
        <h2>Select Program Recommended Fundable Priority Score Range</h2>
        <p class="text-muted text-sm">
            The range of priority scores for applications being recommended for funding under this funding plan.
            The fundable range begins with the best scored application in this RFA/PA and should end with the priority
            score that is the natural cut-off for funding selections.
            <a href="javascript:void(0);" data-toggle="collapse" href="#readmore" role="button" aria-expanded="false"
                aria-controls="readmore">Read More</a>
        </p>
        <p class="collapse text-muted text-sm" id="readmore">
            Applications selected outside the recommended fundable range will be marked as Exceptions.
            Applications within the recommended score range not selected for funding will be marked as Skips.
            Justifications for Exceptions and Skips must be provided in the funding plan.
            Please note that the funding plan will be rejected if you have not provided justification for each grant
            application marked as Exception or Skip. </p>
    </div>
    <div class="col-12 d-flex align-items-center">
        <span>From <strong class="mr-1">{{minimumScore}}</strong> to</span>
        <input id="score-max" type="text" class="form-control mx-2" style="width:4rem" aria-label="score range maximum"
            [(ngModel)]="maximumScore" (keyup)="onMaxScoreChange($event)" (keypress)="numberOnly($event)">
        <button type="button" class="btn btn-primary" (click)="onApplyMaximumScore()">Apply</button>
    </div>
    <div class="col-12 text-danger mt-1"
        *ngIf="errMaxScoreRequired || errMaxScoreRange == true || errMaxScoreNumeric == true">
        <div *ngIf="errMaxScoreRequired">Error: Please provide the "To" score</div>
        <div *ngIf="errMaxScoreRange">Error: "To" score cannot be less than the "From" score</div>
        <div *ngIf="errMaxScoreNumeric">Error: "To" score must be a number</div>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-5">
        <h2>Applications Within Fundable Score Range</h2>
        <app-grant-table [grantList]="withinRangeGrants" [minScore]="minimumScore" [maxScore]="modelMaximumScore">
        </app-grant-table>
    </div>
    <div class="col-12">
        <h2>Applications Outside Fundable Score Range</h2>
        <app-grant-table [grantList]="outsideRangeGrants" [minScore]="minimumScore" [maxScore]="modelMaximumScore">
        </app-grant-table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12 d-flex">
        <button type="button" class="btn btn-outline-secondary mr-auto" routerLink="/plan/step1">Previous</button>
        <button type="button" class="btn btn-primary" (click)="onSaveAndContinue()">Save and Continue</button>
    </div>
</div>