<h3>Select Fundable Score Range</h3>
<p>Donec dolor dolor, aliquet sit amet auctor vestibulum, vestibulum quis tortor. Pellentesque et massa id est efficitur
    rutrum maximus sed felis. Duis commodo velit tristique gravida iaculis. Aliquam erat volutpat.</p>
<h3>Applications Within Fundable Score Range</h3>
<app-grant-table [grantList]="applicationsWithinRange()"></app-grant-table>
<h3>Applications Outside Fundable Score Range</h3>
<app-grant-table [grantList]="applicationsOutsideRange()"></app-grant-table>

